[Service]
Restart=on-failure
Environment="PYTHONUNBUFFERED=1"
Environment="DJANGO_DEBUG=0"
Environment="DJANGO_SECRET_KEY=<SECRET>"
Environment="DJANGO_SETTINGS_MODULE=settings"
WorkingDirectory=/var/www/isharmud.com/ishar-web
ExecStart=/var/www/isharmud.com/venv/bin/python3 /var/www/isharmud.com/ishar-web/discord.py
StandardOutput=/var/www/isharmud.com/logs/discord_stdout.log
StandardError=/var/www/isharmud.com/logs/discord_error.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=default.target
