[Unit]
Description="isharmud django gunicorn"
After=network.target syslog.target nss-lookup.target mariadb.service

[Service]
Restart=on-failure
Environment="PYTHONUNBUFFERED=1"
# Environment="DJANGO_SECRET_KEY=abc123example456test789xyz"
ExecStart=/var/www/isharmud.com/venv/bin/gunicorn --config /var/www/isharmud.com/gunicorn_configuration.py wsgi:application
# ExecStart=/var/www/staging.isharmud.com/venv/bin/gunicorn --config /var/www/staging.isharmud.com/gunicorn_configuration.py wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=default.target
