[Unit]
Description="isharmud.com django gunicorn"
After=network.target syslog.target nss-lookup.target

[Service]
Restart=on-failure
Environment="PYTHONPATH=$PYTHONPATH:$HOME:/var/www/isharmud.com/ishar-web/"
Environment="PYTHONUNBUFFERED=1"
EnvironmentFile=/var/www/isharmud.com/django.env
ExecStart=/var/www/isharmud.com/venv/bin/gunicorn --config /var/www/isharmud.com/gunicorn_configuration.py wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=default.target
