[Unit]
Description=staging.isharmud.com
After=network.target syslog.target nss-lookup.target

[Service]
Restart=on-failure
Environment="PYTHONPATH=$PYTHONPATH:$HOME/ishar-web"
Environment="DJANGO_SETTINGS_MODULE=settings"
PIDFile=$HOME/gunicorn.pid
ExecStart=$HOME/ishar-web/venv/bin/gunicorn --config $HOME/ishar-web/gunicorn_configuration.py wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
