{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block meta_title %}News{% endblock meta_title %}
{% block meta_description %}{{ news_post.0.subject }}{% endblock meta_description %}
{% block meta_url %}{% url 'news' %}{% if page_obj and page_obj.number %}?page={{ page_obj.number }}{% endif %}#news{% endblock meta_url %}
{% block title %}{{ news_post.0.subject }} - {{ WEBSITE_TITLE }} News{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active">
        <h2 title="{{ news.subject|default:'Welcome' }}" id="news">
            <i class="text-primary bi bi-newspaper"></i>
            {{ news_post.0.subject }}
        </h2>
    </li>
{% endblock breadcrumbs %}
{% block content %}
<blockquote class="blockquote">
    <div class="m-3 p-1">
        {% autoescape off %}{{ news_post.0.body }}{% endautoescape %}
    </div>
    <footer class="blockquote-footer">
        <cite title="{{ news_post.0.account.get_username|title }}">
            {{ news_post.0.account.get_username|title }}
        </cite>
        <span class="icon-link" title="authored at">
            <svg class="bi" aria-hidden="false" role="note" aria-label="authored at">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pen"></use>
            </svg>
        </span>
        <time datetime="{{ news_post.0.created|date:"c" }}" title="{{ news_post.0.created|date:"l, F jS, Y" }}">
            {{ news_post.0.created|date:"l, F jS, Y" }}
        </time>
    </footer>
</blockquote>
<div class="d-flex justify-content-end">
    <div class="border-0 card bg-black">
        <div class="card-body">
            <nav aria-label="news submission pages navigation">
                <ul class="pagination m-0">
    {% if page_obj.number != 1 %}
                    <li class="page-item">
                        <a aria-label="First" class="page-link" href="?page=1#news" >
                            &laquo;
                        </a>
    {% else %}
                    <li class="page-item disabled">
                        <a aria-label="First" aria-hidden="true" class="page-link" href="#news">
                            &laquo;
                        </a>
    {% endif %}
                    </li>

    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a aria-label="Previous" class="page-link" href="?page={{ page_obj.previous_page_number }}#news">
                            &#8249;
                        </a>
    {% else %}
                    <li class="page-item disabled">
                        <a aria-label="Previous" aria-hidden="true" class="page-link" href="#news">
                            &#8249;
                        </a>
    {% endif %}
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a aria-label="Page #{{ page_obj.number }}" class="page-link" href="?page={{ page_obj.number }}#news">
                            {{ page_obj.number }}
                        </a>
                    </li>
    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a aria-label="Next" class="page-link" href="?page={{ page_obj.next_page_number }}#news">
                            &#8250;
                        </a>
    {% else %}
                    <li class="page-item disabled">
                        <a aria-label="Next" aria-hidden="true" class="page-link" href="#news">
                            &#8250;
                        </a>
    {% endif %}
                    </li>

    {% if page_obj.number != page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a aria-label="Last" class="page-link" href="?page={{ page_obj.paginator.num_pages }}#news">
                            &raquo;
                        </a>
    {% else %}
                    <li class="page-item disabled">
                        <a aria-label="Last" aria-hidden="true" class="page-link" href="#news">
                            &raquo;
                        </a>
    {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}
