"""config.py"""
TESTING = False
DEBUG = False
FLASK_ENV = 'production'
SECRET_KEY = 'SECRET'
MAX_CONTENT_LENGTH = 52428800
UPLOAD_FOLDER = '/var/www/isharmud.com/ishar-web/static/patches'

SENTRY_DSN = 'https://abcdef123456@o7654321.ingest.sentry.io/1234567'

SQLALCHEMY_ECHO = False
SQLALCHEMY_URL = 'mysql+pymysql://username:password@127.0.0.1/ishar'

MUD_HOME = '/home/ishar/ishar-mud'
MUD_LIB = f'{MUD_HOME}/lib'
HELPTAB_FILENAME = f'{MUD_LIB}/Misc/helptab'
MUD_PODIR = f'{MUD_LIB}/Podir'

PATCH_DIR = '/var/www/isharmud.com/ishar-web/static/patches'

ALIGNMENTS = {
    'Very Evil':        (-1500, -1000),
    'Evil':             (-1000, -500),
    'Slightly Evil':    (-500, -250),
    'Neutral':          (-250, 250),
    'Slightly Good':    (250, 500),
    'Good':             (500, 1000),
    'Very Good':        (1000, 1500)
}

IMM_LEVELS = {
    26: 'God',
    25: 'Forger',
    24: 'Eternal',
    23: 'Artisan',
    22: 'Immortal',
    21: 'Consort'
}

REMEMBER_COOKIE_DOMAIN = '.isharmud.com'
REMEMBER_COOKIE_DURATION = 604800
REMEMBER_COOKIE_HTTPONLY = True
REMEMBER_COOKIE_SECURE = True

SESSION_COOKIE_HTTPONLY = True
SESSION_COOKIE_SECURE = True

SESSION_PROTECTION = 'strong'
USE_SESSION_FOR_NEXT = True

DISCORD = {
    'APPLICATION_ID': '9876543210',
    'GUILD': '0123456789',
    'PUBLIC_KEY': 'EXAMPLE',
    'TOKEN': 'SECRET'
}
