"""Flask config"""
TESTING = False
DEBUG = False
FLASK_ENV = 'production'
SECRET_KEY = 'SECRET'
MAX_CONTENT_LENGTH = 10485760
UPLOAD_FOLDER = '/var/www/isharmud.com/ishar-web/static/patches'

REMEMBER_COOKIE_DOMAIN = '.isharmud.com'
REMEMBER_COOKIE_DURATION = 604800
#REMEMBER_COOKIE_HTTPONLY = True
#REMEMBER_COOKIE_SECURE = True

#SESSION_COOKIE_HTTPONLY = True
#SESSION_COOKIE_SECURE = True

#SESSION_PROTECTION = 'strong'
USE_SESSION_FOR_NEXT = True
