"""Various secrets specific to the MUD itself"""
MUD_HOME    = '/home/ishar/ishar-mud'
MUD_LIB     = f'{MUD_HOME}/lib'
HELPTAB     = f'{MUD_LIB}/Misc/helptab'
PODIR       = f'{MUD_LIB}/Podir'

LEVELS  = {
            26: 'God',
            25: 'Forger',
            24: 'Eternal',
            23: 'Artisan',
            22: 'Immortal',
            21: 'Consort'
        }
IMMORTAL_LEVEL  = min(LEVELS.keys())
GOD_LEVEL       = max(LEVELS.keys())
