"""Various secrets specific to the MUD itself"""

MUD_HOME    = '/home/ishar/ishar-mud'
MUD_LIB     = f'{MUD_HOME}/lib'
HELPTAB     = f'{MUD_LIB}/Misc/helptab'
PODIR       = f'{MUD_LIB}/Podir'

ALIGNMENTS  = {
    'Very Evil':        (-1500, -1000),
    'Evil':             (-1000, -500),
    'Slightly Evil':    (-500, -250),
    'Neutral':          (-250, 250),
    'Slightly Good':    (250, 500),
    'Good':             (500, 1000),
    'Very Good':        (1000, 1500)
}

IMM_LEVELS  = {
    26: 'God',
    25: 'Forger',
    24: 'Eternal',
    23: 'Artisan',
    22: 'Immortal',
    21: 'Consort'
}
