{% extends "layout.html" %}
{% block meta_title %}Leaders{% if game_type %} / {{ game_type }}{% endif %}{% endblock meta_title %}
{% block meta_description %}Leader board of top{% if game_type %} {{ game_type|lower }}{% endif %} players of the game and their achievements{% endblock meta_description %}
{% block meta_url %}{% if game_type %}{% url game_type|lower %}{% else %}{% url "leaders" %}{% endif %}{% endblock meta_url %}
{% block title %}Leaders{% if game_type %} / {{ game_type }}{% endif %}{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '•';">
    <ol class="breadcrumb" style="--bs-breadcrumb-divider-color: var(--ishar-color);">
        <li class="breadcrumb-item" title="Portal">
            <span class="text-ishar bi bi-trophy"></span>
            <a href="{% url "portal" %}">Portal</a>
        </li>
        <li class="breadcrumb-item{% if not game_type %} active" aria-current="page{% endif %}" title="Leaders">
            <a href="{% url "leaders" %}">
                Leaders
            </a>
        </li>
    {% if game_type %}
        <li class="breadcrumb-item active" aria-current="page" title="{{ game_type }} Leaders">
            <a href="{% url game_type|lower %}">
                {{ game_type }}
            </a>
        </li>
    {% endif %}
    </ol>
</nav>
{% endblock header %}
{% block scripts %}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    function showLeaders(where) {
        new gridjs.Grid({
            columns: [
                {
                    id: 'link',
                    name: 'Link',
                    formatter: (cell) => gridjs.html(`${cell}`)
                },
                {
                    id: 'remorts',
                    name: 'Remorts'
                },
                {
                    id: 'renown',
                    name: 'Renown'
                },
                {
                    id: 'quests',
                    name: 'Quests'
                },
                {
                    id: 'challenges',
                    name: 'Challenges'
                },
                {
                    id: 'deaths',
                    name: 'Deaths'
                }
            ],
            data: [
              {% for leader in leader_players %}
                {
                    link: '{{ leader.player_link }}',
                    remorts: {{ leader.remorts }},
                    renown: {{ leader.total_renown }},
                    quests: {{ leader.quests_completed }},
                    challenges: {{ leader.challenges_completed }},
                    deaths: {{ leader.deaths }}
                }{% if not forloop.last %},{% endif %}
              {% endfor %}
            ],
            className: {
                table: 'table table-dark table-striped border border-secondary rounded'
            },
            style: {
                table: {'max-width': '50vw'},
                th: {'background-color': 'rgba(0, 0, 0, 0.1)'},
            },
            search:     true,
            sort:       true,
            pagination: true,
        }).render(where);
    };
</script>
{% endblock scripts %}
{% block content %}
<ul class="m-1 px-1 py-3 list-group list-group-horizontal">
    <li class="list-group-item bg-black" title="All">
{% if game_type %}
        <a class="list-group-item-text" href="{% url "leaders" %}#leaders">All</a>
{% else %}
        <span class="text-ishar">All</span>
{% endif %}
    </li>
    <li class="list-group-item bg-black" title="Classic">
{% if game_type != "Classic" %}
        <a class="list-group-item-text" href="{% url "classic" %}#leaders">Classic</a>
{% else %}
        <span class="text-ishar">Classic</span>
{% endif %}
    </li>
    <li class="list-group-item bg-black" title="Survival">
{% if game_type != "Survival" %}
        <a class="list-group-item-text" href="{% url "survival" %}#leaders">Survival</a>
{% else %}
        <span class="text-ishar">Survival</span>
{% endif %}
    </li>
</ul>

{% if game_type and game_type == "Survival" %}
<ul class="m-2 px-1 py-1 list-group list-group-horizontal">
    <li class="list-group-item bg-black" title="Survival">
    {% if deleted is None %}
        <span class="text-ishar">All</span>
    {% else %}
        <a class="list-group-item-text" href="{% url "survival" %}#leaders">All</a>
    {% endif %}
    </li>
    <li class="list-group-item bg-black" title="Survival">
    {% if deleted is True %}
        <span class="text-ishar">Dead</span>
    {% else %}
        <a class="list-group-item-text" href="{% url "dead_survival" %}#leaders">Dead</a>
    {% endif %}
    </li>
    <li class="list-group-item bg-black" title="Survival">
    {% if deleted is False %}
        <span class="text-ishar">Living</span>
    {% else %}
        <a class="list-group-item-text" href="{% url "living_survival" %}#leaders">Living</a>
    {% endif %}
    </li>
</ul>
{% endif %}

<div id="leaders"></div>
<script>showLeaders( document.getElementById('leaders'));</script>
{% endblock content %}
