{% extends "layout.html" %}
{% block meta_title %}Leaders{% if game_type %} / {{ game_type }}{% endif %}{% endblock meta_title %}
{% block meta_description %}Leader board of top{% if game_type %} {{ game_type|lower }}{% endif %} players of the game and their achievements{% endblock meta_description %}
{% block meta_url %}{% url "leaders" %}{% endblock meta_url %}
{% block title %}Leaders{% if game_type and game_type_name %} / {{ game_type_name }}{% endif %}{% endblock title %}
{% block scripts %}
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css">
        <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>
{% endblock scripts %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Portal">
            <span class="text-ishar bi bi-trophy"></span>
            <a href="{% url "portal" %}">Portal</a>
        </li>
        <li class="breadcrumb-item{% if not game_type %} active" aria-current="page{% endif %}" title="Leaders">
            <a href="{% url "leaders" %}#leaders" id="leaders">
                Leaders
            </a>
        </li>
    {% if game_type_name %}
        <li class="breadcrumb-item active" aria-current="page" title="{{ game_type_name }} Leaders">
            <a href="{% url "leaders" %}{{ game_type_name|lower }}#{{ game_type_name|lower }}" id="{{ game_type_name|lower }}">
                {{ game_type_name }}
            </a>
        </li>
    {% endif %}
    </ol>
</nav>
{% endblock header %}
{% block content %}<ul class="m-1 px-1 py-3 list-group list-group-horizontal">
{% for num, name in game_types %}
{% endfor %}
    <li class="list-group-item bg-black" title="All">
{% if game_type is None %}
        <span class="text-ishar">All</span>
{% else %}
        <a class="list-group-item-text" href="{% url "leaders" %}#leaders">All</a>
{% endif %}
    </li>
{% for num, name in game_types %}
    <li class="list-group-item bg-black" title="{{ name }}">
{% if game_type == num %}
        <span class="text-ishar">{{ name }}</span>
{% else %}
        <a class="list-group-item-text" href="{% url "leaders" %}{{ name|lower }}#{{ name|lower }}">{{ name }}</a>
{% endif %}
    </li>
{% endfor %}
</ul>

{% if game_type > 0 %}
<ul class="m-2 px-1 py-1 list-group list-group-horizontal">
    <li class="list-group-item bg-black" title="All">
    {% if deleted is None %}
        <span class="text-ishar">All</span>
    {% else %}
        <a class="list-group-item-text" href="{% url "leaders" %}{{ game_type_name|lower }}/">All</a>
    {% endif %}
    </li>
    <li class="list-group-item bg-black" title="Dead">
    {% if deleted == 1 %}
        <span class="text-ishar">Dead</span>
    {% else %}
        <a class="list-group-item-text" href="{% url "leaders" %}{{ game_type_name|lower }}/dead/">Dead</a>
    {% endif %}
    </li>
    <li class="list-group-item bg-black" title="Living">
    {% if deleted == 0 %}
        <span class="text-ishar">Living</span>
    {% else %}
        <a class="list-group-item-text" href="{% url "leaders" %}{{ game_type_name|lower }}/living/">Living</a>
    {% endif %}
    </li>
</ul>
{% endif %}
<table class="m-1 p-1" id="leadersTable"></table>
{{ leaders|json_script:"leadersJSON" }}
<script>
    const leaders = [];
    const leadersData = JSON.parse(JSON.parse(document.getElementById("leadersJSON").textContent));
    function buildLeader(leader) { leaders.push(leader.fields); };
    leadersData.forEach(buildLeader);
    const pageTable = new DataTable('#leadersTable', {
        columns: [
            {
                data: 'name', title: 'Name',
                render: function (data, type, row) {
                    return `<a href="/player/${data}#player">${data}</a>`;
                },
            },
            { data: 'true_level', title: 'Level' },
            { data: 'remorts', title: 'Remorts' },
            { data: 'total_renown', title: 'Renown' },
            { data: 'challenges_completed', title: 'Challenges' },
            { data: 'deaths', title: 'Deaths' },
        ],
        columnDefs: [
            { type: 'html', targets: [0] },
            { type: 'num', targets: [1, 2, 3, 4, 5] },
        ],
        data: leaders,
        layout: { bottomStart: 'search', topEnd: null },
        order: [[2, 'desc'], [3, 'desc'], [4, 'desc'], [5, 'asc'], [1, 'desc']],
    });
    pageTable.draw();
</script>
{% endblock content %}
