{% extends "layout.html" %}
{% block meta_title %}Leaders{% endblock meta_title %}
{% block meta_description %}Leader board of top players of the game and their achievements{% endblock meta_description %}
{% block meta_url %}{% url "leaders" %}{% endblock meta_url %}
{% block title %}Leaders{% endblock title %}
{% block header %}<a href="{% url "leaders" %}">Leaders</a>{% endblock header %}
{% block scripts %}
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            function showLeaders(where) {
                new gridjs.Grid({
                    columns: [
                        {
                            id: 'name',
                            name: 'Player',
                            formatter:  (cell) => gridjs.html(`<a href="/player/${cell}#player">${cell}</a>`)
                        },
                        {
                            id: 'remorts',
                            name: 'Remorts'
                        },
                        {
                            id: 'renown',
                            name: 'Renown'
                        },
                        {
                            id: 'quests',
                            name: 'Quests'
                        },
                        {
                            id: 'challenges',
                            name: 'Challenges'
                        },
                        {
                            id: 'deaths',
                            name: 'Deaths',
                            sort: {
                                compare: (a, b) => {
                                    if ( (b > a) || (isNaN(a)) ) {
                                        return -1;
                                    } else if ( (a > b) || (isNaN(b)) ) {
                                        return 1;
                                    } else {
                                        return 0;
                                    };
                                }
                            }
                        }
                    ],
                    data: [
                      {% for leader in leader_players %}
                        {
                            name: "{{ leader.name }}",
                            remorts: {{ leader.remorts }},
                            renown: {{ leader.total_renown }},
                            quests: {{ leader.quests_completed }},
                            challenges: {{ leader.challenges_completed }},
                            deaths: {{ leader.deaths }}
                        }{% if not forloop.last %},{% endif %}
                      {% endfor %}
                    ],
                    className: {
                        table: "table table-bordered table-dark",
                    },
                    search:     true,
                    sort:       true,
                    pagination: true,
                    width:      '50%'
                }).render(where);
            };
        </script>
{% endblock scripts %}
{% block content %}
    <div class="card bg-dark">
        <div class="card-header card-group">
            <div class="card bg-dark">
                <div class="card-body">
                    <a class="card-text" href="{% url "classic" %}">Classic</a>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-body">
                    <a class="card-text" href="{% url "survival" %}">Survival</a>
                </div>
            </div>
        </div>
        <div class="card bg-dark">
             <div class="card-body">
                  <div class="card-text" id="leaders"></div>
             </div>
        </div>
    </div>
    <script>
        showLeaders(
            document.getElementById('leaders')
        );
    </script>
{% endblock content %}
