{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Leaders{% if game_type %} / {{ game_type }}{% endif %}{% endblock meta_title %}
{% block meta_description %}Leader board of top{% if game_type %} {{ game_type|lower }}{% endif %} players of the game and their achievements{% endblock meta_description %}
{% block meta_url %}{% url 'leaders' %}{% endblock meta_url %}
{% block title %}Leaders{% if game_type %} / {{ game_type.label }}{% endif %}{% endblock title %}
{% block includes %}
    <link href="{% static 'datatables/datatables.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'datatables/datatables.min.js' %}"></script>
{% endblock includes %}
{% block breadcrumbs %}
    <li class="breadcrumb-item h2" title="Portal">
        <a class="icon-link icon-link-hover" href="{% url 'portal' %}#portal">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
            </svg>
            <span id="portal">
                Portal
            </span>
        </a>
    </li>
    <li class="breadcrumb-item h2{% if not game_type %} active" aria-current="page{% endif %}" title="Leaders">
        <a class="icon-link icon-link-hover" href="{% url 'leaders' %}#leaders">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trophy"></use>
            </svg>
            <span id="leaders">
                Leaders
            </span>
        </a>
    </li>
    {% if game_type %}
    <li class="breadcrumb-item active h2" aria-current="page" title="{{ game_type.label }} Leaders">
        <a href="{% url 'leaders' %}{{ game_type.label|lower }}#{{ game_type.label|lower }}">
            {{ game_type.label }}
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
<div class="container-fluid">
    <ul class="my-1 py-1 list-group list-group-horizontal-sm">
        <li class="list-group-item card-text" title="All" id="all">
    {% if game_type is None %}
            <span class="text-ishar">All</span>
    {% else %}
            <a class="list-group-item-text" href="{% url 'leaders' %}#all">All</a>
    {% endif %}
        </li>
    {% for num, name in game_types %}
        <li class="list-group-item card-text" title="{{ name }}" id="{{ name|lower }}">
        {% if game_type == num %}
            <span class="text-ishar">{{ name }}</span>
        {% else %}
            <a class="list-group-item-text" href="{% url 'leaders' %}{{ name|lower }}#{{ name|lower }}">{{ name }}</a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
    {% if leaders %}
<div class="container-fluid">
    <table class="table table-hover table-dark table-flush table-sm table-responsive table-striped" id="leadersTable">
        <thead>
            <tr>
                <th class="border" scope="col" title="Name">
                    <span class="text-ishar">Name</span>
                </th>
                <th class="border" scope="col" title="Class">
                    <span class="text-ishar">Class</span>
                </th>
                <th class="border" scope="col" title="Level">
                    <span class="text-ishar">Level</span>
                </th>
                <th class="border" scope="col" title="Remorts">
                    <span class="text-ishar">Remorts</span>
                </th>
                <th class="border" scope="col" title="Renown">
                    <span class="text-ishar">Renown</span>
                </th>
                <th class="border" scope="col" title="Challenges">
                    <span class="text-ishar">Challenges</span>
                </th>
                <th class="border" scope="col" title="Quests">
                    <span class="text-ishar">Quests</span>
                </th>
                <th class="border" scope="col" title="Deaths">
                    <span class="text-ishar">Deaths</span>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider text-ishar">
        {% for leader in leaders %}
            <tr id="leader-{{ forloop.counter }}" class="leader-row">
                <td class="border" data-order="{{ leader.name }}" data-search="{{ leader.name }}" title="Player Name: {{ leader.name }}">
                    {{ leader.player_link }}
                </td>
                <td class="border" data-order="{{ leader.player_class }}" data-search="{{ leader.player_class }}" title="Class: {{ leader.player_class }}">
                    {{ leader.player_class }}
                </td>
                <td class="border" data-order="{{ leader.level }}" data-search="" title="Level: {{ leader.level }}">
                    {{ leader.level }}
                </td>
                <td class="border" data-order="{{ leader.remorts }}" data-search="" title="Remorts: {{ leader.remorts }}">
                    {{ leader.remorts }}
                </td>
                <td class="border" data-order="{{ leader.renown }}" data-search="" title="Renown: {{ leader.renown }}">
                    {{ leader.renown }}
                </td>
                <td class="border" data-order="{{ leader.challenges }}" data-search="" title="Challenges: {{ leader.challenges }}">
                    {{ leader.challenges }}
                </td>
                <td class="border" data-order="{{ leader.quests }}" data-search="" title="Quests: {{ leader.quests }}">
                    {{ leader.quests }}
                </td>
                <td class="border" data-order="{{ leader.deaths }}" data-search="" title="Deaths: {{ leader.deaths }}">
                    {{ leader.deaths }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr class="table-group-divider text-ishar">
                <th class="border" scope="col" title="Name">
                    <span class="text-ishar">Name</span>
                </th>
                <th class="border" scope="col" title="Class">
                    <span class="text-ishar">Class</span>
                </th>
                <th class="border" scope="col" title="Level">
                    <span class="text-ishar">Level</span>
                </th>
                <th class="border" scope="col" title="Remorts">
                    <span class="text-ishar">Remorts</span>
                </th>
                <th class="border" scope="col" title="Renown">
                    <span class="text-ishar">Renown</span>
                </th>
                <th class="border" scope="col" title="Challenges">
                    <span class="text-ishar">Challenges</span>
                </th>
                <th class="border" scope="col" title="Quests">
                    <span class="text-ishar">Quests</span>
                </th>
                <th class="border" scope="col" title="Deaths">
                    <span class="text-ishar">Deaths</span>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    const itemName = 'players'
    $('#leadersTable').DataTable({
        buttons: ['colvis'],
        language: {
            info: `Showing _START_ to _END_ of _TOTAL_ ${itemName}`,
            infoEmpty: `Showing 0 to 0 of 0 ${itemName}`,
            infoFiltered: `(filtered from _MAX_ total ${itemName})`,
            lengthMenu: `_MENU_ ${itemName}`,
            zeroRecords: `No matching ${itemName} found`,
            searchBuilder: {
                button: {
                    0: '<i class="bi bi-search" data-bs-toggle="tooltip" data-bs-title="Search" title="Search"></i> Search',
                    1: '<i class="bi bi-search" data-bs-toggle="tooltip" data-bs-title="Search (1)" title="Search (1)"></i> Search (1)',
                    _: '<i class="bi bi-search" data-bs-toggle="tooltip" data-bs-title="Search" title="Search"></i> Search (%d)',
                },
                title: '<i class="bi bi-search" data-bs-toggle="tooltip" data-bs-title="Search" title="Search"></i> Search',
            },
        },
        layout: {
            topStart: {
                buttons: [
                    {
                        extend: 'colvis',
                        text: '<span data-bs-toggle="tooltip" data-bs-title="Columns visibility" class="bi bi-list-columns"> Columns</span>',
                    },
                    {
                        extend: 'searchBuilder',
                        depthLimit: 1,
                    },
                ]
            },
            topEnd: 'pageLength',
            bottomStart: 'paging',
            bottomEnd: 'info',
        },
        lengthMenu: [
            5, 10, 15, 20, 25, 50, 75, 100,
            {
                label: 'all',
                value: -1
            }
        ],
        order: [
            [3, 'desc'],
            [4, 'desc'],
            [5, 'desc'],
            [6, 'desc'],
            [7, 'asc'],
            [2, 'desc']
        ],
        pageLength: 10,
        responsive: {
            responsive: true,
        },
        searchBuilder: {
            depthLimit: 1,
        },
    });
</script>
    {% else %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <p class="card-text fst-italic lead text-warning">
                Sorry, but no players were found.
            </p>
        </div>
    </div>
</div>
    {% endif %}
{% endblock content %}
