{% extends "layout.html" %}
{% block meta_title %}Leaders{% if game_type %} / {{ game_type }}{% endif %}{% endblock meta_title %}
{% block meta_description %}Leader board of top{% if game_type %} {{ game_type|lower }}{% endif %} players of the game and their achievements{% endblock meta_description %}
{% block meta_url %}{% url 'leaders' %}{% endblock meta_url %}
{% block title %}Leaders{% if game_type %} / {{ game_type.label }}{% endif %}{% endblock title %}
{% block includes %}
    <link href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.bootstrap5.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.min.js"></script>
{% endblock includes %}
{% block breadcrumbs %}
    <li class="bi bi-trophy breadcrumb-item h2" title="Portal">
        <a href="{% url 'portal' %}#portal" id="portal">Portal</a>
    </li>
    <li class="h2 breadcrumb-item{% if not game_type %} active" aria-current="page{% endif %}" title="Leaders">
        <a href="{% url 'leaders' %}#leaders" id="leaders">
            Leaders
        </a>
    </li>
    {% if game_type %}
    <li class="breadcrumb-item active h2" aria-current="page" title="{{ game_type.label }} Leaders">
        <a href="{% url 'leaders' %}{{ game_type.label|lower }}#{{ game_type.label|lower }}">
            {{ game_type.label }}
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
<div class="container-fluid">
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item bg-black card-text" title="All" id="all">
    {% if game_type is None %}
            <span class="text-ishar">All</span>
    {% else %}
            <a class="list-group-item-text" href="{% url 'leaders' %}#all">All</a>
    {% endif %}
        </li>
    {% for num, name in game_types %}
        <li class="list-group-item bg-black card-text" title="{{ name }}" id="{{ name|lower }}">
        {% if game_type == num %}
            <span class="text-ishar">{{ name }}</span>
        {% else %}
            <a class="list-group-item-text" href="{% url 'leaders' %}{{ name|lower }}#{{ name|lower }}">
                    {{ name }}
            </a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
    {% if leaders %}
<div class="container-fluid">
    <table class="table table-hover table-dark table-flush table-sm table-responsive table-striped" id="leadersTable">
        <thead>
            <tr>
                <th class="border" scope="col" title="Name">
                    <span class="text-ishar">Name</span>
                </th>
                <th class="border" scope="col" title="Level">
                    <span class="text-ishar">Level</span>
                </th>
                <th class="border" scope="col" title="Remorts">
                    <span class="text-ishar">Remorts</span>
                </th>
                <th class="border" scope="col" title="Renown">
                    <span class="text-ishar">Renown</span>
                </th>
                <th class="border" scope="col" title="Challenges">
                    <span class="text-ishar">Challenges</span>
                </th>
                <th class="border" scope="col" title="Quests">
                    <span class="text-ishar">Quests</span>
                </th>
                <th class="border" scope="col" title="Deaths">
                    <span class="text-ishar">Deaths</span>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider text-ishar">
        {% for leader in leaders %}
            <tr id="leader-{{ forloop.counter }}" class="leader-row">
                <td class="border" data-order="{{ leader.name }}" data-search="{{ leader.name }}" title="Player Name: {{ leader.name }}">
                    {{ leader.player_link }}
                </td>
                <td class="border" data-order="{{ leader.level }}" data-search="" title="Level: {{ leader.level }}">
                    {{ leader.level }}
                </td>
                <td class="border" data-order="{{ leader.remorts }}" data-search="" title="Remorts: {{ leader.remorts }}">
                    {{ leader.remorts }}
                </td>
                <td class="border" data-order="{{ leader.renown }}" data-search="" title="Renown: {{ leader.renown }}">
                    {{ leader.renown }}
                </td>
                <td class="border" data-order="{{ leader.challenges }}" data-search="" title="Challenges: {{ leader.challenges }}">
                    {{ leader.challenges }}
                </td>
                <td class="border" data-order="{{ leader.quests }}" data-search="" title="Quests: {{ leader.quests }}">
                    {{ leader.quests }}
                </td>
                <td class="border" data-order="{{ leader.deaths }}" data-search="" title="Deaths: {{ leader.deaths }}">
                    {{ leader.deaths }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr class="table-group-divider text-ishar">
                <th class="border" scope="col" title="Name">
                    <span class="text-ishar">Name</span>
                </th>
                <th class="border" scope="col" title="Level">
                    <span class="text-ishar">Level</span>
                </th>
                <th class="border" scope="col" title="Remorts">
                    <span class="text-ishar">Remorts</span>
                </th>
                <th class="border" scope="col" title="Renown">
                    <span class="text-ishar">Renown</span>
                </th>
                <th class="border" scope="col" title="Challenges">
                    <span class="text-ishar">Challenges</span>
                </th>
                <th class="border" scope="col" title="Quests">
                    <span class="text-ishar">Quests</span>
                </th>
                <th class="border" scope="col" title="Deaths">
                    <span class="text-ishar">Deaths</span>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    const itemName = 'players'
    const searchLayout = { search: { placeholder: 'Player Name' } }
    $('#leadersTable').DataTable({
        buttons: ['colvis'],
        columnDefs: [
            {
                searchable: true,
                targets: [0],
                type: 'html'
            },
            {
                searchable: false,
                targets: [1, 2, 3, 4, 5, 6],
                type: 'num'
            }
        ],
        language: {
            info: `Showing _START_ to _END_ of _TOTAL_ ${itemName}`,
            infoEmpty: `Showing 0 to 0 of 0 ${itemName}`,
            infoFiltered: `(filtered from _MAX_ total ${itemName})`,
            lengthMenu: `Show _MENU_ ${itemName}`,
            zeroRecords: `No matching ${itemName} found`
        },
        layout: {
            top: 'info',
            topEnd: {
                buttons: [{
                    extend: 'colvis',
                    text: 'Columns'
                }],
            },
            topStart: searchLayout,
            bottom: 'info',
            bottomEnd: 'paging',
            bottomStart: 'pageLength'
        },
        lengthMenu: [
            5, 10, 15, 20, 25, 50, 75, 100,
            {
                label: 'all',
                value: -1
            }
        ],
        order: [
            [2, 'desc'],
            [3, 'desc'],
            [4, 'desc'],
            [5, 'desc'],
            [6, 'asc'],
            [1, 'desc']
        ],
        pageLength: 10,
        responsive: true,
    });
</script>
    {% else %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <p class="card-text fst-italic lead text-warning">
                Sorry, but no players were found.
            </p>
        </div>
    </div>
</div>
    {% endif %}
{% endblock content %}
