{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}{% if player %}Player: {{ player.name }}{% if player.player_type == 'Dead' %} ☠️{% endif %}{% else %}Player Not Found{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if player %}Player: {{ player.name }}{% if player.player_type == 'Dead' %} ☠️{% endif %}{% else %}Player Not Found{% endif %}{% endblock meta_description %}
{% block meta_url %}{% url "players" %}{% endblock meta_url %}
{% block title %}{% if player %}Player: {{ player.name }}{% if player.player_type == 'Dead' %} ☠️{% endif %}{% else %}Player Not Found{% endif %}{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Portal">
            <span class="bi bi-person text-ishar"></span>
            <a href="{% url "portal" %}">
                Portal
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
    {% if player %}
            {{ player.player_link }}
    {% else %}
            <span class="Player Not Found">
                Player Not Found
            </span>
    {% endif %}
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
    {% if player %}
    <h3 id="player" title="{{ player.player_title }}">
        {{ player.player_title }}
        <a class="anchor-link" href="#player" aria-label="Link to this section: Player">
            &#x23;
        </a>
    </h3>
        {% if player.description %}
    <p class="lead">
        {{ player.description }}
    </p>
        {% endif %}
        {% if not player.is_immortal %}

    <hr>
    <details class="m-1" open>
        <summary id="details" class="h4 text-ishar" title="Details">
            Details
            <a class="anchor-link" href="#details" aria-label="Link to this section: Details">
                &#x23;
            </a>
        </summary>
        <ul class="bg-black list-group list-group-horizontal-md">
            <li id="class" class="bg-black border-0 list-group-item list-group-item-text text-white" title="Name: {{ player.name | title }} / Class: {{ player.common.player_class.get_class_name }} / Race: {{ player.common.race.display_name }}">
                <span class="bi bi-dot text-ishar"></span>
                {{ player.name | title }} {{ player.get_player_phrase }} a
                {{ player.common.player_class.class_display }} of
                {{ player.common.race.folk_name | lower }} origin.
            </li>
            <li id="level" class="bg-black border-0 list-group-item list-group-item-text text-white" title="Level: {{ player.common.level }} {% if player.remorts > 0 %} / Remorts: {{ player.remorts }}{% endif %}">
                <span class="bi bi-dot text-ishar"></span>
                {{ player.get_player_gender | title }} {{ player.get_player_phrase }}
                level {{ player.common.level }}{% if player.remorts > 0 %} and {{ player.get_player_phrase_owns }} remorted {{ player.remorts }} time{{ player.remorts|pluralize }}{% endif %}.
            </li>
            {% if player.total_renown > 0 %}
            <li id="total-renown" class="bg-black border-0 list-group-item list-group-item-text text-white" title="Total Renown: {{ player.total_renown }}">
                <span class="bi bi-dot text-ishar"></span>
                {{ player.get_player_gender | title }} {{ player.get_player_phrase_owns }}
                accumulated {{ player.total_renown }} renown.
            </li>
            {% endif %}
            {% if player.quests_completed > 0 %}
            <li id="quests" class="bg-black border-0 list-group-item list-group-item-text text-white" title="Quests Completed: {{ player.quests_completed }}">
                <span class="bi bi-dot text-ishar"></span>
                {{ player.get_player_gender | title }} {{ player.get_player_phrase_owns }}
                completed {{ player.quests_completed }} quest{{ player.quests_completed | pluralize }}.
            </li>
            {% endif %}
            {% if player.challenges_completed > 0 %}
            <li id="challenges" class="bg-black border-0 list-group-item list-group-item-text text-white" title="Challenges Completed: {{ player.challenges_completed }}">
                <span class="bi bi-dot text-ishar"></span>
                {{ player.get_player_gender | title }} {{ player.get_player_phrase_owns }}
                completed {{ player.challenges_completed }} challenge{{ player.challenges_completed | pluralize }}.
            </li>
            {% endif %}
            <li id="alignment" class="bg-black border-0 list-group-item list-group-item-text text-white" title="Alignment: {{ player.get_player_alignment }} ({{ player.common.alignment }})">
            <span class="bi bi-dot text-ishar"></span>
                {{ player.get_player_gender_own | title }} alignment {{ player.get_player_phrase }}
                {{ player.get_player_alignment | lower }}.
            </li>
            <li id="deaths" class="bg-black border-0 list-group-item list-group-item-text text-white" title="{% if player.player_type == 'Classic' %}Deaths: {{ player.deaths }}{% elif player.player_type == 'Dead' %}{{ player.name | title }} is DEAD!{% else %}{{ player.name | title }} is a {{ player.player_type }} player!{% endif %}">
                <span class="bi bi-dot text-ishar"></span>
            {% if player.player_type == 'Dead' %}
                {{ player.name | title }} is <span class="dead-note">DEAD</span>!
                <ul id="dead">
                    <li title="{{ player.name | title }} died too often. {{ player.get_player_gender | title }} can not be resurrected!">
                        {{ player.name | title }} died too often.
                        {{ player.get_player_gender | title }} can not be resurrected!
                    </li>
                </ul>
            {% elif player.player_type == "Survival" %}
                {{ player.name | title }} {{ player.get_player_phrase }} a
                <span class="{{ player.player_css }}">{{ player.player_type }}</span> player!
            {% elif player.player_type == "Hardcore" %}
                {{ player.name | title }} {{ player.get_player_phrase }} a
                <span class="{{ player.player_css }}">{{ player.player_type }}</span> player!
            {% else %}
                {% if player.deaths > 0 %}
                {{ player.get_player_gender | title }} {{ player.get_player_phrase_owns }}
                died {{ player.deaths }} time{{ player.deaths|pluralize }}.
                {% else %}
                {{ player.get_player_gender | title }} {{ player.get_player_phrase_owns }} never died!
                {% endif %}
            {% endif %}
            </li>
        </ul>
    </details>

        {% if not player.account.is_private and not request.user.is_immortal %}

            {% if player.upgrades %}
    <hr>
        <details class="m-2" open>
            <summary id="upgrades" class="h4 text-ishar" title="Remort Upgrades{% if player.upgrades.count > 0 %} ({{ player.upgrades.count }}){% endif %}">
                Remort Upgrades
                {% if player.upgrades.count > 0 %}
                <span class="badge bg-dark text-white rounded-pill">
                    {{ player.upgrades.count }}
                </span>
                {% endif %}
                <a class="anchor-link" href="#upgrades" aria-label="Link to this section: Remort Upgrades">
                    &#x23;
                </a>
            </summary>
            <ol class="list-group list-group-vertical list-group-numbered">
                {% for upgraded in player.upgrades.all %}
                <li class="border-0 bg-black list-group-item list-group-item-dark" title="{{ upgraded.upgrade.display_name }}{% if upgraded.value > 1 %} (x{{ upgraded.value }}){% endif %}">
                    <span class="list-group-item-text text-white">
                        {{ upgraded.upgrade.display_name }}
                    </span>
                    {% if upgraded.value > 1 %}
                    <span class="badge bg-dark text-ishar rounded-pill">
                        x{{ upgraded.value }}
                    </span>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </details>
            {% endif %}

            {% if player.player_stats %}
    <hr>
        <details class="m-2" open>
            <summary id="stats" class="h4 text-ishar" title="Statistics">
                Statistics
                <a class="anchor-link" href="#stats" aria-label="Link to this section: Statistics">
                    &#x23;
                </a>
            </summary>
            <ol class="list-group list-group-horizontal-md">
                {% for stat_name, stat_value in player.player_stats.items %}
                <li class="border border-secondary bg-black list-group-item list-group-item-dark" title="{{ stat_name }}: {{ stat_value }}">
                    <span class="list-group-item-text text-white{% if forloop.first %} fw-bold{% endif %}">
                        <span class="text-ishar">
                            {{ stat_name }}
                        </span>:
                        {{ stat_value }}
                    </span>
                </li>
                {% endfor %}
            </ol>
        </details>
            {% endif %}

    <hr>
        <details class="m-2" open>
            <summary  id="time" class="h4 text-ishar" title="Time">
                Time
                <a class="anchor-link" href="#time" aria-label="Link to this section: Time">
                    &#x23;
                </a>
            </summary>
            <ul class="list-group list-group-horizontal-md">
                <li class="bg-black border-0 list-group-item list-group-item-text text-white" title="Logged On: {{ player.logon | naturaltime }}, ({{ player.logon }})">
                    <span class="bi bi-dot text-ishar"></span>
                    {{ player.get_player_gender | title }} last logged
                    on {{ player.logon | naturaltime }},
                    on {{ player.logon | date }}.
                </li>
                <li class="bg-black border-0 list-group-item list-group-item-text text-white" title="Logged Out: {{ player.logout | naturaltime }}, ({{ player.logout }})">
                    <span class="bi bi-dot text-ishar"></span>
                    {{ player.get_player_gender | title }} last logged out
                    {{ player.logout | naturaltime }},
                    on {{ player.logon | date }}.
                </li>
            </ul>
            <ul class="bg-black list-group list-group-horizontal-md">
                <li class="bg-black border-0 list-group-item list-group-item-text text-white" title="Birth: {{ player.birth | naturaltime }}, ({{ player.birth }})">
                    <span class="bi bi-dot text-ishar"></span>
                    {{ player.get_player_gender | title }} was born
                    {{ player.birth | naturaltime }},
                    on {{ player.birth | date }}.
                </li>
                <li class="bg-black border-0 list-group-item list-group-item-text text-white" title="Played For: {{ player.online_time }} ({{ player.online }} seconds)">
                    <span class="bi bi-dot text-ishar"></span>
                    {{ player.get_player_gender | title }} {{ player.get_player_phrase_owns }}
                    played for {{ player.online_time }}.
                </li>
            </ul>
    </details>

        {% endif %}

        {% else %}
    <p class="lead">
        {{ player.name | title }} {{ player.get_player_phrase }} a
        <span class="{{ player.player_css }}">{{ player.player_type }}</span> character!
    </p>
        {% endif %}
    {% endif %}
{% endblock content %}
