{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Who's Online?{% endblock meta_title %}
{% block meta_description %}Number of players currently online.{% endblock meta_description %}
{% block meta_url %}{% url "who" %}{% endblock meta_url %}
{% block title %}Who's Online?{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '•';">
    <ol class="breadcrumb" style="--bs-breadcrumb-divider-color: var(--ishar-color);">
        <li class="breadcrumb-item" title="Portal">
            <span class="bi bi-people text-ishar"></span>
            <a href="{% url "portal" %}">Portal</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" title="Who's Online?">
            <a href="{% url "who" %}">Who's Online?</a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
    {% if players %}
    <h3 id="count" title="{{ players | length }} player{{ players|pluralize }} online}">
        {{ players | length }} player{{ players|pluralize }} online
    </h3>
    <div class="m-3">
        <ol class="bg-dark list-group list-group-dark list-group-striped w-50">
        {% for player in players.all %}
            <li class="bg-dark border-secondary list-group-item list-group-item-text text-white" title="{{ player.player_name }}">
                <strong>{{ forloop.counter }}.</strong>
                {{ player.player_link }}
            {% if not player.is_immortal %}
                {{ player.true_level }} ({{ player.remorts }})
            {% endif %}
            </li>
        {% endfor %}
        </ol>
    </div>
    {% else %}
    <p class="lead">
        <strong>Sorry, but there are currently no players online.</strong>
    </p>
    {% endif %}
{% endblock content %}
