{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Account ({{ request.user.account_name | title }}){% endblock meta_title %}
{% block meta_description %}Your Ishar MUD Account{% endblock meta_description %}
{% block meta_url %}{% url "account" %}{% endblock meta_url %}
{% block title %}Account ({{ request.user.account_name | title }}){% endblock title %}
{% block header %}Account ({{ request.user.account_name | title }}){% endblock header %}
{% block content %}
    <div class="card-group">
        <div class="card bg-dark">
            <h3 class="card-header" id="manage" title="Manage">Manage</h3>
            <div class="card-body">
                <ul class="list-group">
                    <li class="bg-dark card-text list-group-item" title="Change your password">
                        <a href="{% url "password" %}">Change your password</a>
                    </li>
                    <li class="bg-dark card-text list-group-item" title="View your players">
                        <a href="{% url "portal" %}">View your players</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card bg-dark">
            <h3 class="card-header" title="Created">Created</h3>
            <div class="card-body">
                <blockquote class="card-text blockquote">
                    <p title="{{ request.user.created_at }}">{{ request.user.created_at }}</p>
                    <footer class="blockquote-footer" title="{{ request.user.created_at | naturaltime }}">
                        {{ request.user.created_at | naturaltime }}
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="card bg-dark">
        <h4 class="card-header" id="essence" title="Essence">
            <a href="#essence">Essence</a>
        </h4>
        <div class="card-group">
            <div class="card bg-dark" title="Current Balance: {{ request.user.current_essence }} essence.">
                <h5 class="card-header">Current</h5>
                <div class="card-body">
                    <p class="card-text">
                        {{ request.user.current_essence }} essence
                    </p>
                </div>
            </div>
            <div class="card bg-dark" title="Earned this season: {{ request.user.seasonal_earned }} essence.">
                <h5 class="card-header">Earned</h5>
                <div class="card-body">
                    <p class="card-text">
                        {{ request.user.seasonal_earned }} essence
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card bg-dark">
            <h4 class="card-header" id="upgrades" title="Upgrades">
                <a href="#upgrades">Upgrades</a>
            </h4>
            <div class="card-body">
    {% if request.user.upgrades.all %}
        <!-- {{ request.user.all_upgrades.all }} -->
                <ul class="list-group card-text" id="essence-upgrades">
        {% for upgraded in request.user.upgrades.all %}
            {% if upgraded.amount and upgraded.amount > 0 %}
                    <li class="bg-dark list-group-item text-reset" title="{{ upgraded.upgrade.name }}{% if upgraded.amount > 1 %} (x{{ upgraded.amount }}){% endif %}">
                        {{ upgraded.upgrade.name }}
                        {% if upgraded.amount > 1 %}(x{{ upgraded.amount }}){% endif %}
                    </li>
            {% endif %}
        {% endfor %}
                </ul>
    {% else %}
                <p class="card-text fst-italic text-reset" title="You have not purchased any upgrades.">
                    You have not purchased any upgrades.
                </p>
    {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
