{% extends "layout.html" %}
{% block meta_title %}Change Password{% endblock meta_title %}
{% block meta_description %}Change password for your Ishar MUD account.{% endblock meta_description %}
{% block meta_url %}{% url "password" %}{% endblock meta_url %}
{% block title %}Change Password{% endblock title %}
{% block header %}
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '•';">
        <ol class="breadcrumb" style="--bs-breadcrumb-divider-color: var(--ishar-color);">
            <li class="breadcrumb-item" title="Account ({{ request.user.account_name | title }})">
                <span class="text-ishar bi bi-key"></span>
                <a href="{% url "account" %}">Account</a>
                ({{ request.user.account_name | title }})
            </li>
            <li class="breadcrumb-item active" aria-current="page" title="Change Password">
                <a href="{% url "password" %}" title="Change Password">
                    Change Password
                </a>
            </li>
        </ol>
    </nav>
{% endblock header %}
{% block content %}
    {% if form %}
    <div class="card bg-dark">
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                {{ form.as_p }}
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-primary" type="submit">Change Password</button>
                <button class="btn btn-outline-secondary" type="reset">Clear</button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock content %}
