{% extends "layout.html" %}
{% block meta_title %}Password{% endblock meta_title %}
{% block meta_description %}Change password for your {{ WEBSITE_TITLE }} account.{% endblock meta_description %}
{% block meta_url %}{% url "password" %}{% endblock meta_url %}
{% block title %}Password{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Portal">
            <span class="text-ishar bi bi-key"></span>
            <a href="{% url "portal" %}">Portal</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" title="Password">
            <a href="{% url "password" %}" title="Password">
                Password
            </a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
{% if form %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-primary" type="submit">Change Password</button>
    <button class="btn btn-outline-secondary" type="reset">Clear</button>
</form>
{% endif %}
{% endblock content %}
