{%- set page = 'admin' -%}
{% extends "base/layout.html.j2" %}
{%- block meta_title %}Edit Event: {{ edit_event.display_name | safe }} / Administration Portal{%- endblock meta_title %}
{%- block meta_description %}Administration portal to edit a global event{%- endblock meta_description %}
{%- block meta_url %}{{ url_for('.edit', edit_event_type=edit_event.event_type, _external=True) }}{%- endblock meta_url %}
{%- block title %}Edit Event: {{ edit_event.display_name | safe }} / Administration Portal{%- endblock title %}
{%- block header %}<a href="{{ url_for('.index') }}">Edit Event</a>: {{ edit_event.display_name | safe }}{%- endblock header %}
{%- macro render_field(field) %}
                    <tr>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field.label | safe }}
                        </td>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                            <ul class="flash-error">
        {%- for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
        {%- endfor %}
                            </ul>
    {%- endif %}
                        </td>
                    </tr>
{%- endmacro %}
{%- block content %}
    {%- if edit_event and edit_event_form %}
                <form autocomplete="off" method="post" action="{{ url_for('.edit', edit_event_type=edit_event.event_type) }}" id="event-edit-form">
                    <table>
                        {{ render_field(edit_event_form.event_type, value=edit_event.event_type) }}
                        {{ render_field(edit_event_form.start_time, value=edit_event.start_time) }}
                        {{ render_field(edit_event_form.end_time, value=edit_event.end_time) }}
                        {{ render_field(edit_event_form.event_name, value=edit_event.event_name) }}
                        {{ render_field(edit_event_form.event_desc, value=edit_event.event_desc) }}
                        {{ render_field(edit_event_form.xp_bonus, value=edit_event.xp_bonus) }}
                        {{ render_field(edit_event_form.shop_bonus, value=edit_event.shop_bonus) }}
                        {{ render_field(edit_event_form.celestial_luck, value=edit_event.celestial_luck) }}
                        {{ edit_event_form.csrf_token }}
                        {{ render_field(edit_event_form.submit) }}
                    </table>
                </form>
    {%- endif %}
{%- endblock content %}
