{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Password{% endblock meta_title %}
{% block meta_description %}Change password for your {{ WEBSITE_TITLE }} account.{% endblock meta_description %}
{% block meta_url %}{% url 'password' %}#password{% endblock meta_url %}
{% block title %}Password{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item h2" title="Portal">
        <a class="icon-link icon-link-hover" href="{% url 'portal' %}#portal">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
            </svg>
            <span id="portal">
                Portal
            </span>
        </a>
    </li>
    <li class="breadcrumb-item active h2" aria-current="page" title="Password">
        <a class="icon-link icon-link-hover" href="{% url 'password' %}#password">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#key"></use>
            </svg>
            <span id="password">
                Password
            </span>
        </a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
    {% if form %}
<form class="form-control-dark" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-primary" type="submit">Change Password</button>
    <button class="btn btn-outline-secondary" type="reset">Clear</button>
</form>
    {% endif %}
{% endblock content %}
