{% extends "layout.html" %}
{% load ishar %}
{% block meta_title %}{{ WEBSITE_TITLE }} Password Change{% endblock meta_title %}
{% block meta_description %}Change password for your {{ WEBSITE_TITLE }} account.{% endblock meta_description %}
{% block meta_url %}{% url 'password' %}#password{% endblock meta_url %}
{% block title %}{{ WEBSITE_TITLE }} Password Change{% endblock title %}
{% block breadcrumbs %}
    {% crumb "Portal" "person-gear" urlname="portal" anchor="portal" %}
    {% crumb "Password" "key" urlname="password" anchor="password" active=True %}
{% endblock breadcrumbs %}
{% block content %}
{% if form %}
<div class="ac">
    <div class="ac-panel mx-auto w-100" style="max-width: 28rem;">
        <div class="ac-panel__h">{% bi "key" %} Change Password</div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="ac-cta ac-cta--accent" type="submit">
                {% bi "key" %}
                Change Password
            </button>
        </form>
    </div>
</div>
{% endif %}
{% endblock content %}
