{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block meta_title %}Portal{% endblock meta_title %}
{% block meta_description %}Portal for players to see information about their account and characters.{% endblock meta_description %}
{% block meta_url %}{% url 'portal' %}#portal{% endblock meta_url %}
{% block title %}Portal{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active h2" aria-current="page" title="Portal">
        <a class="icon-link icon-link-hover" href="{% url 'portal' %}#portal">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
            </svg>
            <span id="portal">
                Portal
            </span>
        </a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
<div class="card border-0">
    <div class="card-body">
        <ul class="list-group list-group-horizontal-sm">
    {% if user.is_staff %}
            <li class="card-text list-group-item" title="Administration">
                <a class="list-group-item-text icon-link icon-link-hover" href="{% url 'admin:index' %}" target="_blank">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#gear"></use>
                    </svg>
                    Administration
                    <svg class="bi" aria-hidden="false" role="img" aria-label="Open {{ WEBSITE_TITLE }} Administration in a new window.">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                    </svg>
                </a>
            </li>
    {% endif %}
            <li class="card-text list-group-item" title="Challenges">
                <a class="list-group-item-text icon-link icon-link-hover" href="{% url 'challenges' %}#challenges">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#award"></use>
                    </svg>
                    Challenges
                </a>
            </li>
            <li class="card-text list-group-item" title="Feedback">
                <a class="list-group-item-text icon-link icon-link-hover" href="{% url 'feedback' %}#feedback">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#mailbox-flag"></use>
                    </svg>
                    Feedback
                </a>
            </li>
            <li class="card-text list-group-item" title="Leaders">
                <a class="list-group-item-text icon-link icon-link-hover" href="{% url 'leaders' %}#leaders">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trophy"></use>
                    </svg>
                    Leaders
                </a>
            </li>
            <li class="card-text list-group-item" title="Password">
                <a class="list-group-item-text icon-link icon-link-hover" href="{% url 'password' %}#password">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#key"></use>
                    </svg>
                    Password
                </a>
            </li>
            <li class="card-text list-group-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" name="isPrivate" id="privateSwitch" value="{% if request.user.is_private %}true{% else %}false{% endif %}" onclick="togglePrivate(this.id);"{% if request.user.is_private %} checked{% endif %}>
                    <label class="form-check-label" for="privateSwitch">
                        Private
                    </label>
                    <button
                        class="bg-black border-0 icon-link icon-link-hover p-1"
                        data-bs-html="true"
                        data-bs-title="<strong>Private?</strong>"
                        data-bs-toggle="popover"
                        data-bs-content="The &quot;<b>Private</b>&quot; setting hides your player's profile pages online."
                        type="button">
                        <svg class="bi" aria-hidden="false" role="note" aria-label="The &quot;private&quot; setting hides your player's profile pages online.">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#question-circle"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="card-text list-group-item" title="Upgrades">
                <a class="list-group-item-text icon-link icon-link-hover" href="{% url 'upgrades' %}#upgrades">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#shield"></use>
                    </svg>
                    Upgrades
                </a>
            </li>
            <li class="card-text list-group-item" title="Who's Online?">
                <a class="list-group-item-text icon-link icon-link-hover" href="{% url 'who' %}#who">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#people"></use>
                    </svg>
                    Who's Online?
                    <span class="badge bg-dark rounded-pill border border-secondary">
                        {{ PLAYERS_ONLINE }}
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div class="card m-1" id="privateMsgDiv" style="display: none;">
        <div class="card-body">
            <p class="card-text lead" id="privateMsgNode"></p>
        </div>
    </div>

</div>

{% if request.user.players and request.user.players.count > 0 %}
    <p class="lead" title="You have {{ request.user.players.count }} character{{ request.user.players.count|pluralize }}.">
        You have {{ request.user.players.count }} character{{ request.user.players.count|pluralize }}:
    </p>

    {% for player in request.user.players.all %}
    <details>

        <summary class="h3 text-ishar" title="Player: {{ player.name }}">
            <span class="text-secondary">
                {{ forloop.counter }}.
            </span>
            <span class="{{ player.player_css }}">
                {{ player.name }}
            </span>
        </summary>

        <h4 title="{{ player.player_title }}">
            {{ player.player_link }}
        </h4>

        {% if not player.is_immortal %}
        <ol class="list-group list-group-horizontal-sm">
            <li class="list-group-item list-group-item-text" title="Level: {{ player.common.level }}">
                <strong>Level</strong>:
                {{ player.common.level }}
            </li>
            <li class="list-group-item list-group-item-text" title="Class: {{ player.common.player_class.get_class_name }}">
                <strong>Class</strong>:
                {{ player.common.player_class.get_class_name }}
            </li>
            <li class="list-group-item list-group-item-text" title="Race: {{ player.common.race.display_name }}">
                <strong>Race</strong>:
                {{ player.common.race.display_name }}
            </li>
            <li class="list-group-item list-group-item-text" title="Alignment: {{ player.get_player_alignment }} ({{ player.common.alignment }})">
                <strong>Alignment</strong>:
                {{ player.get_player_alignment }}
            </li>
            {% if player.remorts > 0 %}
            <li class="list-group-item list-group-item-text" title="Remorts: {{ player.remorts }}">
                <strong>Remorts</strong>:
                {{ player.remorts }}
            </li>
                {% endif %}
                {% if player.statistics.total_renown > 0 %}
            <li class="list-group-item list-group-item-text" title="Total Renown: {{ player.statistics.total_renown }}">
                <strong>Total Renown</strong>:
                {{ player.statistics.total_renown }}
            </li>
                {% endif %}
                {% if player.statistics.total_quests > 0 %}
            <li class="list-group-item list-group-item-text" title="Total Quests: {{ player.statistics.total_quests }}">
                <strong>Total Quests</strong>:
                {{ player.statistics.total_quests }}
            </li>
                {% endif %}
                {% if player.statistics.total_challenges > 0 %}
            <li class="list-group-item list-group-item-text" title="Total Challenges: {{ player.statistics.total_challenges }}">
                <strong>Total Challenges</strong>:
                {{ player.statistics.total_challenges }}
            </li>
                {% endif %}
                {% if player.statistics.total_deaths > 0 %}
            <li class="list-group-item list-group-item-text" title="Total Deaths: {{ player.statistics.total_deaths }}">
                <strong>Total Deaths</strong>:
                {{ player.statistics.total_deaths }}
            </li>
                {% endif %}
        </ol>
        {% else %}
        <p class="lead">
            {{ player.name | title }} {{ player.get_player_phrase }} a
            <span class="{{ player.player_css }}">{{ player.player_type }}</span> character!
        </p>
        {% endif %}

    </details>
    <hr>
    {% endfor %}
{% else %}
    <p class="lead" title="You have not created any players yet!">
        You have not created any players yet!
    </p>
{% endif %}

<details open>
    <summary>
        <a class="h4 icon-link icon-link-hover" href="#essence">
            <svg aria-hidden="false" class="bi" role="img" aria-label="Link to this section: Essence">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#link-45deg">
                </use>
            </svg>
        </a>
        <h3 id="essence" title="Essence">
            Essence
        </h3>
        <span class="badge bg-dark rounded-pill border border-secondary" title="{{ request.user.current_essence }} essence" data-bs-toggle="tooltip" data-bs-title="{{ request.user.current_essence }} essence">
            {{ request.user.current_essence }}
        </span>
        <button
            class="bg-black border-0 icon-link icon-link-hover p-1"
            data-bs-toggle="popover"
            data-bs-html="true"
            data-bs-title="<strong>Essence?</strong>"
            data-bs-content="&quot;<a title='Help: Essence' href='{% url 'help_page' help_topic='Essence' %}#topic' target='_blank'>Essence</a>&quot;
                are rewards points earned each season. Essence is preserved across seasons,
                and can be spent by typing &quot;<code>shop</code>&quot; any time."
            type="button">
            <svg
                aria-hidden="false"
                aria-label="Essence are rewards points earned each season: {{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'help_page' help_topic='Essence' %}#topic"
                class="bi"
                role="note">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#question-circle">
                </use>
            </svg>
        </button>
    </summary>
    <ul class="list-group list-group-unbordered">
        <li class="border-0 list-group-item list-group-item-text" title="Current: {{ request.user.current_essence }} essence">
            <strong>Current</strong>:
            {{ request.user.current_essence }} essence
        </li>
        <li class="border-0 list-group-item list-group-item-text" title="Earned: {{ request.user.seasonal_earned }} essence">
            <strong>Earned</strong>:
            {{ request.user.seasonal_earned }} essence
        </li>
    </ul>
</details>
<hr>
<details {% if request.user.upgrades.count > 0 %} open{% endif %}>
    <summary>
        <a class="h4 icon-link icon-link-hover" href="#upgrades">
            <svg aria-hidden="false" class="bi" role="img" aria-label="Link to this section: Upgrades ({{ request.user.upgrades.count }} upgrade{{ request.user.upgrades.count|pluralize }})">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#link-45deg">
                </use>
            </svg>
        </a>
        <h4 id="upgrades" title="Upgrades">
            Upgrades
        </h4>
        <span class="badge bg-dark rounded-pill border border-secondary" data-bs-toggle="tooltip" data-bs-title="{{ request.user.upgrades.count }} upgrades">
            {{ request.user.upgrades.count }}
        </span>
        <button
                class="bg-black border-0 icon-link icon-link-hover p-1"
                data-bs-toggle="popover"
                data-bs-html="true"
                data-bs-title="<strong>Upgrades?</strong>"
                data-bs-content="A list of remort upgrades
                (which can be &quot;bought&quot; with renown points in-game)
                <a href='{% url 'upgrades' %}#upgrades' target='_blank'>is available here</a>."
                type="button">
            <svg class="bi" aria-hidden="false" role="note" aria-label="Remort Upgrades: {{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'upgrades' %}#upgrades">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#question-circle"></use>
            </svg>
        </button>
    </summary>
{% if request.user.upgrades.all %}
    <ul class="list-group list-group-unbordered">
    {% for upgraded in request.user.upgrades.all %}
        <li class="list-group-item border-0" title="{{ upgraded.upgrade.name }} (x{{ upgraded.amount }})">
            <span class="text-secondary me-3">
                {{ forloop.counter }}.
            </span>
            <span class="list-group-item-text">
                {{ upgraded.upgrade.name }}
            </span>
            <span class="badge bg-dark border border-secondary text-ishar rounded-pill">
                x{{ upgraded.amount }}
            </span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p class="fst-italic" title="You have not purchased any upgrades.">
        You have not purchased any upgrades.
    </p>
{% endif %}
</details>

<hr>

<details open>
    <summary title="Account Created ({{ request.user.account_name }}): {{ request.user.created_at|naturaltime }}">
        <a class="h4 icon-link icon-link-hover" href="#created">
            <svg aria-hidden="false" class="bi" role="img" aria-label="Link to this section: Account Created ({{ request.user.account_name }}): {{ request.user.created_at|naturaltime }}">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#link-45deg">
                </use>
            </svg>
        </a>
        <h5 id="created">
            Created
        </h5>
    </summary>
    <blockquote class="ms-3 blockquote">
        <p title="{{ request.user.created_at|naturaltime }}">
            {{ request.user.created_at|naturaltime }}
        </p>
        <footer class="blockquote-footer" title="{{ request.user.created_at }}">
            <time datetime="{{ request.user.created_at|date:"c" }}">
                {{ request.user.created_at }}
            </time>
        </footer>
    </blockquote>
</details>

<script>
    // Enable Bootstrap tooltips and popovers.
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

    /* Define function to let a user toggle their profile public/private. */
    function togglePrivate(itemId) {

        // Get toggle switch.
        const item = document.getElementById(itemId);

        // Set up confirmation text.
        let messageText = "";
        const msgDiv = document.getElementById("privateMsgDiv");
        const msgNode = document.getElementById("privateMsgNode");

        // Change value, and format text when either making...

        // Public.
        if (item.value === "true") {
            item.value = false;
            messageText = "public";
            msgNode.classList.remove("message-success");
            msgNode.classList.add("message-warning");

        // Private.
        } else if (item.value === "false") {
            item.value = true;
            messageText = "private";
            msgNode.classList.remove("message-warning");
            msgNode.classList.add("message-success");
        }

        // POST request to HTTPS endpoint to toggle profile privacy.
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'set_private' %}");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        // Show text five (5) seconds before clearing, upon successful request.
        xhr.onreadystatechange = () => {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                msgDiv.style.display = 'block';
                msgNode.innerHTML = `Your profile has been made <b>${messageText}</b>.`
                setTimeout(function() { msgNode.innerHTML = ""; msgDiv.style.display = 'none'; }, 5*1000);
            }
        };

        // Include CSRF token in the POST request.
        xhr.send(`csrfmiddlewaretoken={{ csrf_token }}`);
    };
</script>
{% endblock content %}
