{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Portal{% endblock meta_title %}
{% block meta_description %}Portal for players to see information about their account and characters.{% endblock meta_description %}
{% block meta_url %}{% url 'portal' %}{% endblock meta_url %}
{% block title %}Portal{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" title="Portal">
            <span class="bi bi-person-lines-fill text-ishar"></span>
            <a href="{% url 'portal' %}#portal" id="portal">Portal</a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
<div class="p-3">

    <div class="card m-1">
        <div class="card-body">
            <ul class="list-group list-group-horizontal-md">
    {% if user.is_staff %}
                <li class="bg-black border border-secondary card-text list-group-item-dark list-group-item" title="Admin">
                    <span class="bi bi-gear text-ishar"></span>
                    <a class="list-group-item-text" href="{% url 'admin:index' %}" target="_blank">
                        Admin
                    </a>
                </li>
    {% endif %}
                <li class="bg-black border border-secondary card-text list-group-item-dark list-group-item" title="Challenges">
                    <span class="bi bi-award text-ishar"></span>
                    <a class="list-group-item-text" href="{% url 'challenges' %}#challenges">
                        Challenges
                    </a>
                </li>
                <li class="bg-black border border-secondary card-text list-group-item-dark list-group-item" title="Leaders">
                    <span class="bi bi-trophy text-ishar"></span>
                    <a class="list-group-item-text" href="{% url 'leaders' %}#leaders">
                        Leaders
                    </a>
                </li>
                <li class="bg-black border border-secondary card-text list-group-item-dark list-group-item" title="Password">
                    <span class="bi bi-key text-ishar"></span>
                    <a class="list-group-item-text" href="{% url 'password' %}#password">
                        Password
                    </a>
                </li>
                <li class="bg-black border border-secondary card-text list-group-item-dark list-group-item">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" name="isPrivate" id="privateSwitch" value="{% if request.user.is_private %}true{% else %}false{% endif %}" onclick="togglePrivate(this.id);"{% if request.user.is_private %} checked{% endif %}>
                        <label class="form-check-label" for="privateSwitch">Private</label>
                        <a href="#" data-bs-toggle="tooltip" id="privateInfo" data-bs-title="The &quot;private&quot; setting limits the amount of information shown on your player's profile pages.">
                            <span class="bi p-1 bi-question-circle text-secondary"></span>
                        </a>
                    </div>
                </li>
                <li class="bg-black border border-secondary card-text list-group-item-dark list-group-item" title="Upgrades">
                    <span class="bi bi-shield text-ishar"></span>
                    <a class="list-group-item-text" href="{% url 'upgrades' %}#upgrades">
                        Upgrades
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card m-1" id="privateMsgDiv" style="display: none;">
        <div class="card-body">
            <p class="card-text lead" id="privateMsgNode"></p>
        </div>
    </div>

</div>

{% if request.user.players and request.user.players.count > 0 %}
    <p class="lead" title="You have {{ request.user.players.count }} character{{ request.user.players.count | pluralize }}.">
        You have {{ request.user.players.count }}
        character{{ request.user.players.count | pluralize }}:
    </p>

    {% for player in request.user.players.all %}
    <hr>
    <details>

        <summary class="h3 text-ishar bg-black" title="Manage Account ({{ request.user.account_name }})">
            <span class="text-secondary">
                {{  forloop.counter }}.
            </span>
            <span class="{{ player.player_css }}">
                {{ player.name }}
            </span>
        </summary>

        <h4 title="{{ player.player_title }}">
            {{ player.player_link }}
        </h4>

        {% if not player.is_immortal %}
        <ol class="bg-black list-group list-group-horizontal-md">
            <li class="bg-black border border-secondary list-group-item list-group-item-text list-group-item-dark text-white" title="Level: {{ player.common.level }}">
                <strong>Level</strong>:
                {{ player.common.level }}
            </li>
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text text-white" title="Class: {{ player.common.player_class.get_class_name }}">
                <strong>Class</strong>:
                {{ player.common.player_class.get_class_name }}
            </li>
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text text-white" title="Race: {{ player.common.race.display_name }}">
                <strong>Race</strong>:
                {{ player.common.race.display_name }}
            </li>
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text text-white" title="Alignment: {{ player.get_player_alignment }} ({{ player.common.alignment }})">
                <strong>Alignment</strong>:
                {{ player.get_player_alignment }}
            </li>
            {% if player.remorts > 0 %}
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text text-white" title="Remorts: {{ player.remorts }}">
                <strong>Remorts</strong>:
                {{ player.remorts }}
            </li>
                {% endif %}
                {% if player.statistics.total_renown > 0 %}
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text text-white" title="Total Renown: {{ player.statistics.total_renown }}">
                <strong>Total Renown</strong>:
                {{ player.statistics.total_renown }}
            </li>
                {% endif %}
                {% if player.statistics.total_quests > 0 %}
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text text-white" title="Total Quests: {{ player.statistics.total_quests }}">
                <strong>Total Quests</strong>:
                {{ player.statistics.total_quests }}
            </li>
                {% endif %}
                {% if player.statistics.total_challenges > 0 %}
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text text-white" title="Total Challenges: {{ player.statistics.total_challenges }}">
                <strong>Total Challenges</strong>:
                {{ player.statistics.total_challenges }}
            </li>
                {% endif %}
                {% if player.statistics.total_deaths > 0 %}
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text text-white" title="Total Deaths: {{ player.statistics.total_deaths }}">
                <strong>Total Deaths</strong>:
                {{ player.statistics.total_deaths }}
            </li>
                {% endif %}
        </ol>
        {% else %}
        <p class="lead text-white">
            {{ player.name | title }} {{ player.get_player_phrase }}
            a <span class="{{ player.player_css }}">{{ player.player_type }}</span> character!
        </p>
        {% endif %}

    </details>
    {% endfor %}
{% else %}
    <p class="lead" title="You have not created any players yet!">
        You have not created any players yet!
    </p>
{% endif %}
<hr>
<details open>
    <summary id="essence" class="h3 text-ishar" title="Essence ({{ request.user.account_name }})">
        <a class="anchor-link" href="#essence" aria-label="Link to this section: Essence ({{ request.user.account_name }})">
            &#x23;
        </a>
        Essence
        <a href="{% url 'help_page' help_topic='Essence' %}" title="Help: Essence">
            <span class="bi p-1 bi-question-circle text-secondary"></span>
        </a>
    </summary>
    <ul class="bg-black list-group list-group-horizontal-md">
        <li class="bg-black border border-secondary list-group-item list-group-item-text text-white" title="Current: {{ request.user.current_essence }} essence">
            <strong>Current</strong>:
            {{ request.user.current_essence }} essence
        </li>
        <li class="bg-black border border-secondary list-group-item list-group-item-text text-white" title="Earned: {{ request.user.seasonal_earned }} essence">
            <strong>Earned</strong>:
            {{ request.user.seasonal_earned }} essence
        </li>
    </ul>
</details>
<hr>
<details{% if request.user.upgrades.count > 0 %} open{% endif %}>
    <summary id="upgrades" class="h3 text-ishar" title="Account Upgrades ({{ request.user.account_name }}): {{ request.user.upgrades.count }}}">
        <a class="anchor-link" href="#upgrades" aria-label="Link to this section: Account Upgrades ({{ request.user.account_name }})">
            &#x23;
        </a>
        Upgrades
{% if request.user.upgrades.count > 0 %}
        <span class="badge bg-dark text-white rounded-pill">
            {{ request.user.upgrades.count }}
        </span>
{% endif %}
    </summary>
{% if request.user.upgrades.all %}
    <ol class="list-group list-group-horizontal-vertical list-group-numbered">
    {% for upgraded in request.user.upgrades.all %}
        <li class="bg-black border-0 list-group-item list-group-item-dark" title="{{ upgraded.upgrade.name }}{% if upgraded.amount > 1 %} (x{{ upgraded.amount }}){% endif %}">
            <span class="list-group-item-text text-white">
                {{ upgraded.upgrade.name }}
            </span>
        {% if upgraded.amount > 1 %}
            <span class="badge bg-dark text-ishar rounded-pill">
                x{{ upgraded.amount }}
            </span>
        {% endif %}
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p class="fst-italic text-reset" title="You have not purchased any upgrades.">
        You have not purchased any upgrades.
    </p>
{% endif %}
</details>

<hr>

<details open>
    <summary id="created" class="h3 text-ishar" title="Account Created ({{ request.user.account_name }}): {{ request.user.created_at | naturaltime }}">
        <a class="anchor-link" href="#created" aria-label="Link to this section: Account Created ({{ request.user.account_name }}): {{ request.user.created_at | naturaltime }}">
            &#x23;
        </a>
        Created
    </summary>
    <p>Your account was created:</p>
    <blockquote class="blockquote">
        <p class="text-white" title="{{ request.user.created_at }}">
            {{ request.user.created_at }}
        </p>
        <footer class="blockquote-footer" title="{{ request.user.created_at | naturaltime }}">
            {{ request.user.created_at | naturaltime }}
        </footer>
    </blockquote>
</details>

<script>
    // Enable Bootstrap tooltips.
    const tooltipList = new bootstrap.Tooltip(document.getElementById('privateInfo'));

    /* Define function to let a user toggle their profile public/private. */
    function togglePrivate(itemId) {

        // Get toggle switch.
        const item = document.getElementById(itemId);

        // Set up confirmation text.
        var messageText = "";
        const msgDiv = document.getElementById("privateMsgDiv");
        const msgNode = document.getElementById("privateMsgNode");

        // Change value, and format text when either making...

        // Public.
        if (item.value == "true") {
            item.value = false;
            var messageText = "public";
            msgNode.classList.remove("message-success");
            msgNode.classList.add("message-warning");

        // Private.
        } else if (item.value == "false") {
            item.value = true;
            var messageText = "private";
            msgNode.classList.remove("message-warning");
            msgNode.classList.add("message-success");
        };

        // POST request to HTTPS endpoint to toggle profile privacy.
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'set_private' %}");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        // Show text five (5) seconds before clearing, upon successful request.
        xhr.onreadystatechange = () => {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                msgDiv.style.display = 'block';
                msgNode.innerHTML = `Your profile has been made <b><em>${messageText}</em></b>.`
                setTimeout(function() { msgNode.innerHTML = ""; msgDiv.style.display = 'none'; }, 5*1000);
            };
        };

        // Include CSRF token in the POST request.
        xhr.send(`csrfmiddlewaretoken={{ csrf_token }}`);
    };
</script>
{% endblock content %}
