body {
    background-color:   #000;
    color:              #fff;
    font-family:        'Open Sans', sans-serif;
}

a, .connect, #created strong, #essence strong, #season strong, h1, h2, h3, h4, th {
    color:              #fa7;
}

a:hover, a:active {
    background-color:   #fa7;
    color:              #000;
    text-decoration:    none;
}

a[target="_blank"]::after {
    content:            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    filter:             brightness(0) invert(1);
    margin:             0 3px 0 5px;
}

#buy-coffee::after {
    content:            none;
    filter:             none;
    margin:             normal;
}

hr {
    border-color:       #fa7;
}

pre {
    padding-left:       2.5em;
    white-space:        pre-wrap;
}

th, td {
    padding:            0.25em;
}

tr:nth-child(2n) {
    background-color:   #444;
}

input[type="reset"], input[type="submit"],
#news-add-form,
#change-password-form,
#login-form,
#new-account-form {
    background-color:   #000;
    color:              #fa7;
    font-size:          1.25em;
}

.login-remember, #new-account-link {
    display:            table;
    font-size:          0.9em;
}

#portal-account-upgrades {
    font-size:          0.9em;
}

.bottom-portal-link {
//    font-size:          1.15em;
//    display:            table;
}

.news-created {
    float:              right;
    font-style:         italic;
}

.god-player, .forger-player, .eternal-player, .artisan-player, .immortal-player, .consort-player {
    color:              #00b7eb;
}

.non-classic {
    text-align:         center;
}

.who-right {
    text-align:         right;
}

.god-player::after {
    content:            ' 😇';
}

.forger-player::after, .eternal-player::after, .artisan-player::after, .immortal-player::after, .consort-player::after {
    content:            ' 👼';
}

.dead-player, .survival-player {
    color:              #fa8072;
}

.dead-player::after {
    content:            ' ☠️';
}

header {
    margin:             auto;
    text-align:         center;
}

header img {
    border-bottom:      1px solid #fa7;
    width:              95vw;
}

header a, header a:hover {
    background-color:   #000;
}

#flashes {
    font-weight:        bold;
}

.flash-error {
    color:              #fa8072;
}

.flash-success {
    color:              #4cbb17;
}

.field-errors {
    color:              #fa8072;
    font-weight:        bold;
    list-style:         none;
}

input, textarea {
    background-color:   #000;
    border-color:       #fa7;
    color:              #fa7;
}

textarea {
    height:             10em;
    width:              60vw;
}

footer {
    border-top:         1px solid #fa7;
    margin:             auto;
    overflow:           auto;
    text-align:         center;
    width:              95vw;
}

#essence, #created {
    text-align:         left;
    float:              left;
    padding:            1em;
}

#season, #player-search-form {
    text-align:         right;
    float:              right;
    padding:            1em;
}

nav {
    float:              right;
    padding-right:      3vw;
}

nav a {
    display:            block;
    font-size:          1.1em;
    padding:            0.25em;
    text-decoration:    none;
}

nav a:hover, nav a:active {
    background-color:   #fa7;
    color:              #000;
}

nav li {
    border:             1px solid #fa7;
    list-style:         none;
    padding:            0.25em;
}

#content {
    padding-left:       3vw;
}

.faq-answers, .faq-nested, .mud-clients {
    list-style:         none;
}

#leaderboard-choices ul li {
    display:            inline;
    padding:            1em;
}

.challenge-completed {
    text-decoration:            line-through;
    text-decoration-color:      #fa7;
    text-decoration-thickness:  0.17em;
}

#go-back button {
    background-color:   #000;
    color:              #fff;
}

#player-details, #player-dead-note, #player-quests, #player-remort-upgrades, #player-statistics, #player-time {
//  WIP
}
