body {
    background-color:   #000;
    color:              #fff;
    font-family:        Arial, sans-serif;
}

a, code {
    color:  #fa7;
}

a:hover {
    color:  #fdb;
}

a[target="_blank"]::after {
    content:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    filter:     brightness(0) invert(1);
    margin:     0 3px 0 5px;
}

#buy-coffee::after {
    content:    none;
    filter:     none;
    margin:     normal;
}

h1, h2, h3, th {
    color:  #fa7;
}

hr {
    border-color:   #fa7;
}

#news-top {
    width:  75%;
}

.news-split {
    width:  50%;
}

tr:nth-child(2n) {
    background-color:   #888;
}

input[type="reset"], input[type="submit"], #login-form, #new-account-form {
    font-size:  1.25em;
    text-align: center;
}

.login-email label::after, .login-password label::after, .change-password label::after, .new-account label::after {
    content:        "\a";
    white-space:    pre;
}

#change-password-form {
    text-align: center;
}

.login-remember {
    font-size:  0.85em;
    text-align: center;
}

#new-account-link, #admin-link {
    font-size:  0.9em;
    display:    table;
    margin:     0 auto;
    margin-top: 1.5em;
}

table {
    border: 1px solid #fa7;
}

#area-name, #area-details, .support {
    text-align: center;
}

.news-created {
    float:      right;
    font-style: italic;
    font-style: italic;
}

.survival-player {
    color:   #fa8072;
}

img {
    border: none;
}

#logo {
    margin:     auto;
    text-align: center;
}

#logo img {
    width:  90%;
}

#flashes {
    font-weight:    bold;
}

.flash-error {
    color:  #fa8072;
}

.flash-success {
    color:  #4CBB17;
}

.field-errors {
    color:          #fa8072;
    font-weight:    bold;
    list-style:     none;
}

#content {
    margin:     auto;
    overflow:   auto;
    padding:    1em;
    width:      90%;
}

input {
    background-color:   #313632;
    border-color:       #fa7;
    color:              #fa7;
}

#footer {
    background-color:   #484a47;
    margin:             auto;
    overflow:           auto;
    padding:            0.5em;
    text-align:         center;
    width:              90%;
}

#created {
    text-align: left;
    float:      left;
}

#season, #essence {
    text-align: right;
    float:      right;
}

#season strong, #created strong {
    color: #fa7;
}

#quote {
    font-style: italic;
    margin:     1.25em;
    text-align: left;
}

#attribution {
    font-style:     normal;
    font-weight:    bold;
    padding-left:   5%;
    text-align:     left;
}

.under {
    background-color:   #484a47;
    overflow:           auto;
    padding:            1em;
}

#navigation {
    float:      right;
    margin:     0px 0px 1em 1em;
    padding:    0px;
}

#navigation ol, #navigation li {
    list-style: none;
    margin:     0px;
    padding:    0px;
}

#navigation a {
    background-color:   #313632;
    border:             #686a65 1px solid;
    display:            block;
    font-size:          1.25em;
    margin:             2px 0px 0px 0px;
    padding:            0.25em 0.5em;
    text-decoration:    none;
}

#navigation a:hover {
    background-color:   #686a65;
}

.faq-answers, .faq-nested, .mud-clients {
    list-style: none;
}

.challenge-completed, .player-gone {
    text-decoration:    line-through;
}
