{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="{{ WEBSITE_TITLE }}">
        <meta name="description" content="{{ WEBSITE_TITLE }}">
        <meta name="keywords" content="{{ WEBSITE_TITLE }}, Ishar, IsharMUD, MUD, Multi User Dungeon, Multi-User Dungeon, Game">
        <meta name="msapplication-TileColor" content="#ffaa77">
        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ WEBSITE_TITLE }}">
        <meta property="og:title" content="{{ WEBSITE_TITLE }}: {% block meta_title %}Home{% endblock meta_title %}">
        <meta property="og:description" content="{{ WEBSITE_TITLE }}: {% block meta_description %}a free online text-adventure RPG{% endblock meta_description %}">
        <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% block meta_image %}{% static "images/logo.png" %}{% endblock meta_image %}">
        <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{% block meta_url %}{% url "index" %}{% endblock meta_url %}">
        <title>{{ WEBSITE_TITLE }}: {% block title %}Home{% endblock title %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
        <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
        <link rel="preconnect" href="https://cdn.jsdelivr.net">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock scripts %}
    </head>

    <body class="m-1">

        <header class="container-fluid p-1">
            <nav class="navbar navbar-dark navbar-expand-lg bg-black rounded border-ishar">
                <a href="{% url "index" %}" title="{{ WEBSITE_TITLE }}">
                    <img class="navbar-brand" id="logo" alt="{{ WEBSITE_TITLE }}" src="{% static "images/logo.png" %}" style="height: 10rem;">
                </a>
                <button class="m-3 navbar-toggler navbar-dark border-ishar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="m-1 navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse p-3" id="navbarNavDropdown">
                    <ul class="navbar-nav nav-underline">
                        <li class="nav-item" title="Home">
                            <a class="bi bi-house nav-link" href="{% url "index" %}">
                                Home
                            </a>
                        </li>
{% if user.is_staff %}
                        <li class="nav-item" title="Admin">
                            <a class="bi bi-gear nav-link" href="{% url "admin:index" %}" target="_blank">
                                Admin
                            </a>
                        </li>
{% endif %}
                        <li class="nav-item" title="Connect to {{ WEBSITE_TITLE }}">
                            <a class="bi bi-globe nav-link" href="{% url "connect" %}" target="_blank">
                                Connect
                            </a>
                        </li>
                        <li class="nav-item" title="Frequently Asked Questions">
                            <a class="bi-question-circle nav-link" href="{% url "faq" %}">
                                FAQs
                            </a>
                        </li>
                        <li class="nav-item" title="Help">
                            <a class="bi bi-info-circle nav-link" href="{% url "help" %}">
                                Help
                            </a>
                        </li>
                        <li class="nav-item" title="Patches">
                            <a class="bi bi-bandaid nav-link" href="{% url "patches" %}">
                                Patches
                            </a>
                        </li>
{% if user and user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="bi bi-menu-button nav-link dropdown-toggle" href="{% url "portal" %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Portal
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark bg-black border border-secondary p-3">
                                <li class="nav-item" title="Challenges">
                                    <a class="bi bi-award bg-black nav-link dropdown-item" href="{% url "challenges" %}">
                                        Challenges
                                    </a>
                                </li>
    {% if GLOBAL_EVENT_COUNT and GLOBAL_EVENT_COUNT > 0 %}
                                <li class="nav-item" title="Events ({{ GLOBAL_EVENT_COUNT }})">
                                    <a class="bi bi-calendar-event bg-black nav-link dropdown-item" href="{% url "events" %}">
                                        Events
                                        <span class="badge text-bg-secondary">
                                            {{ GLOBAL_EVENT_COUNT }}
                                        </span>
                                    </a>
                                </li>
    {% endif %}
                                <li class="nav-item" title="Leaders">
                                    <a class="bi bi-trophy bg-black nav-link dropdown-item" href="{% url "leaders" %}">
                                        Leaders
                                    </a>
                                </li>
                                <li class="nav-item" title="Portal">
                                    <a class="bi bi-person-lines-fill bg-black nav-link dropdown-item" href="{% url "portal" %}">
                                        Portal
                                    </a>
                                </li>
                                <li class="nav-item text-ishar">
                                    <hr class="dropdown-divider border-secondary">
                                </li>
                                <li class="nav-item" title="Log out">
                                    <form action="{% url "logout" %}" method="post" id="logout">
                                        {% csrf_token %}
                                        <a class="bi bi-door-closed bg-black nav-link dropdown-item" href="#" onclick="document.getElementById('logout').submit()">
                                            Log Out ({{ request.user.get_username }})
                                        </a>
                                    </form>
                                </li>
                            </ul>
                        </li>
{% else %}
                        <li class="nav-item" title="Portal">
                            <a class="bi bi-menu-button nav-link" href="{% url "portal" %}">
                                Portal
                            </a>
                        </li>
{% endif %}
                        <li class="nav-item" title="World">
                            <a class="bi bi-globe-asia-australia nav-link" href="{% url "world" %}">
                                World
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container-fluid p-1">

            <h2 class="bg-black rounded border-ishar p-2">
                {% block header %}{% endblock header %}
            </h2>

{% block messages %}
    {% if messages %}
            <div class="bg-black m-3 p-3 rounded border-ishar">
                <ul class="lead fw-bold">
        {% for message in messages %}
                    <li class="message-{{ message.tags }}">
                        {{ message }}
                    </li>
        {% endfor %}
                </ul>
            </div>
    {% endif %}
{% endblock messages %}

            <div class="bg-black rounded border-ishar p-3">
{% block content %}
{% endblock content %}
            </div>

        </main>

{% if CURRENT_SEASON %}
        <footer class="container-fluid px-2 text-center" title="Season {{ CURRENT_SEASON.season_id }} ends {{ CURRENT_SEASON.expiration_date | naturaltime }}">
            <div class="row border-ishar bg-black rounded align-items-center m-1 p-2">
                <div class="col">
                    <a href="{% url "current_season" %}">Season {{ CURRENT_SEASON.season_id }}</a>
                </div>
                <div class="col">
                    Ends {{ CURRENT_SEASON.expiration_date | naturaltime }}
                </div>
            </div>
        </footer>
{% endif %}

        <footer class="container-fluid px-2 text-center">
            <div class="row border-ishar bg-black rounded align-items-center m-1 p-2">
                <div class="col">
                    <a class="bi bi-envelope-at" href="mailto:admin@isharmud.com" target="_blank" title="E-mail Us! (admin@isharmud.com)">
                        E-mail us!
                    </a>
                </div>
                <div class="col">
                    <a class="bi bi-heart" href="{% url 'support' %}" title="Support {{ WEBSITE_TITLE }}">
                        Support {{ WEBSITE_TITLE }}
                    </a>
                </div>
                <div class="col">
                    <a class="bi bi-discord" href="{% url "discord" %}" target="_blank" title="Join us on Discord!">
                        Join us on Discord!
                    </a>
                </div>
            </div>
        </footer>

    </body>
</html>
