{%- set page = 'admin' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Accounts / Administration Portal{% endblock meta_title %}
{% block meta_description %}Administration portal page to view accounts{% endblock %}
{% block meta_url %}{{ url_for('admin_accounts', _external=True) }}{% endblock meta_url %}">
{% block title %}Accounts / Administration Portal{% endblock %}
{% block header %}Accounts{% endblock %}
{%- block content %}
    {%- if accounts is defined and accounts is iterable and accounts | length > 0 %}
                <h3>
                    {{ accounts | list | length }} accounts
                </h3>
                <table title="Accounts">
        {%- for account in accounts %}
            {%- if loop.index0 % 10 == 0 %}
                    <tr>
                        <th title="Account ID">
                            ID
                        </th>
                        <th title="Name">
                            Name
                        </th>
                        </th>
                        <th title="Players">
                            Players
                        </th>
                        <th title="Essence">
                            Essence
                        </th>
                        <th title="Essence Earned">
                            Essence Earned
                        </th>
                    </tr>
            {%- endif %}
                    <tr>
                        <td id="acct-{{ account.account_id }}" title="#{{ account.account_id}}">
                            <a href="#acct-{{ account.account_id }}">{{ account.account_id }}</a>
                        </td>
                        <td title="Name: {{ account.account_name | title | safe }}">
                            <a href="{{ url_for('admin_account', manage_account_id=account.account_id) }}">{{ account.account_name | title | safe }}</a>
                            <a title="Edit {{ account.account_name | title | safe }} (ID: {{ account.account_id }})" href="{{ url_for('admin_edit_account', edit_account_id=account.account_id) }}">✏️</a>
                        </td>
                        <td title="Players: {{ account.players | length }}">
                            {{ account.players | length }}
                        </td>
                        <td title="Essence: {{ account.seasonal_points }}">
                            {{ account.seasonal_points }}
                        </td>
                        <td title="Essence Earned: {{ account.seasonal_earned }}">
                            {{ account.seasonal_earned }}
                        </td>
                    </tr>
        {%- endfor %}
                </table>
    {%- endif %}
{%- endblock %}
