{%- set page = 'admin' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Accounts / Administration Portal{% endblock meta_title %}
{% block meta_description %}Administration portal page to view accounts{% endblock %}
{% block meta_url %}{{ url_for('admin_account', manage_account_id=manage_account.account_id | default(''), _external=True) }}{% endblock meta_url %}">
{% block title %}Manage Account ({{ manage_account.account_name | title | safe }}) / Administration Portal{% endblock %}
{% block header -%}
                Manage Account: {{ manage_account.account_name | title | safe }}
                <a href="{{ url_for('admin_edit_account', edit_account_id=manage_account.account_id) }}">✏️</a>
{%- endblock %}
{%- block content %}
    {%- if manage_account is defined %}
            <div id="account-details">
                <ul title="Account Created: {{ manage_account.created_at.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }} ({{manage_account.created }} ago)">
                    <li>
                        Account Created
                    </li>
                    <li class="nested-list">
                        <ul>
                            <li>
                                {{ manage_account.created_at.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }}
                            </li>
                            <li>
                                {{ manage_account.created_ago }}
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul title="E-mail Address: {{ manage_account.email }}">
                    <li>
                        E-mail Address
                    </li>
                    <li class="nested-list">
                        <ul>
                            <li>
                                <a href="mailto:{{ manage_account.email }}" target="_blank">{{ manage_account.email }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h4 title="Upgrades">
                Upgrades
            </h4>
        {%- if manage_account.upgrades is defined and manage_account.upgrades is iterable and manage_account.upgrades | selectattr('amount', '>', 0) | list | length > 0 %}
            <div id="essence-upgrades">
                <ul>
            {%- for upgraded in manage_account.upgrades | selectattr('amount', '>', 0) %}
                    <li title="{{ upgraded.upgrade.name }}{% if upgraded.amount > 1 %} (x{{ upgraded.amount}}){% endif %}">
                        {{ upgraded.upgrade.name }}
                        {%- if upgraded.amount > 1 %} (x{{ upgraded.amount}}){% endif %}
                    </li>
            {%- endfor %}
                </ul>
            </div>
        {%- else %}
            <ul>
                <li title="No account upgrades.">
                    <i>No account upgrades.</i>
                </li>
            </ul>
        {%- endif %}
            <h4>
                Essence
            </h4>
        {%- if manage_account is defined and manage_account.seasonal_points is defined and manage_account.seasonal_earned is defined %}
            <div id="essence-balance">
                <ul>
                    <li title="Essence Current Balance: {{ manage_account.seasonal_points }}">
                        Current Balance
                    </li>
                    <li class="nested-list">
                        <ul>
                            <li>
                                {{ display_essence(manage_account.seasonal_points) }}
                            </li>
                        </ul>
                    </li>
                    <li title="Essence earned this season: {{ manage_account.seasonal_earned }}">
                        Essence earned this season
                    </li>
                    <li class="nested-list">
                        <ul>
                            <li>
                                {{ display_essence(manage_account.seasonal_earned) }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        {%- endif %}
        {%- if manage_account.players is defined and manage_account.players is iterable and manage_account.players | length > 0 %}
            <h4>
                Players ({{ manage_account.players | length }})
            </h4>
            <table id="players">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Remorts
                        </th>
                        <th>
                            Renown
                        </th>
                        <th>
                            Deaths
                        </th>
                    </tr>
            {%- for player in manage_account.players %}
                    <tr>
                        <td title="{{ player.name | title | safe }} (Born {{ player.birth_dt.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }})">
                            {{ player.player_title }}
                        </td>
                        <td title="Level: {{ player.level }}">
                            {{ player.level }}
                        </td>
                        <td title="Remorts: {{ player.remorts }}">
                            {{ player.remorts }}
                        </td>
                        <td title="Renown: {{ player.renown }}">
                            {{ player.renown }}
                        </td>
                {%- if player.player_type != 'Classic' %}
                        <td class="non-classic" title="Type: {{ player.player_type }}">
                            <span class="{{ player.player_css }}">
                                {{ player.player_type }}
                            </span>
                        </td>
                {%- else %}
                        <td title="Deaths: {{ player.deaths }}">
                            {{ player.deaths }}
                        </td>
                {%- endif %}
                    </tr>
            {%- endfor %}
                </table>
        {%- else %}
                <h3 title="No players yet!">
                    No players yet!
                </h3>
        {%- endif %}
    {%- endif %}
{%- endblock %}
