{% extends "layout.html.j2" %}
{% block meta_title %}News / Administration Portal{% endblock meta_title %}
{% block meta_description %}Administration portal to post news updates to the front page{% endblock %}
{% block meta_url %}{{ url_for('admin_news', _external=True) }}{% endblock meta_url %}">
{% block title %}News / Administration Portal{% endblock %}
{% block header %}News{% endblock %}
{%- macro render_field(field) %}
                    <p class="admin-{{ field.name | safe }}">
                        {{ field.label | safe }}
                        {{ field(**kwargs) | safe }}
                    </p>
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro %}
{%- block content %}
    {%- if news_add_form is defined %}
                <form method="post" action="{{ url_for('admin_news') }}" id="news-add-form">
                    {{ render_field(news_add_form.subject, autocomplete='off') }}
                    {{ render_field(news_add_form.body, autocomplete='off') }}
                    {{ news_add_form.csrf_token }}
                    {{ news_add_form.submit }}
                    <br>
                </form>
    {%- endif %}
{%- endblock %}
