{%- set page = 'admin' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Administration Portal{% endblock meta_title %}
{% block meta_description %}Administration portal for Gods of Ishar MUD{% endblock meta_description %}
{% block meta_url %}{{ url_for('admin.index', _external=True) }}{% endblock meta_url %}
{% block title %}Administration Portal{% endblock title %}
{% block header %}Administration{% endblock header %}
{%- block content %}
            <p>
                Welcome to the Ishar MUD web administration portal!
            </p>
            <ul>
    {%- for admin_link in ['accounts', 'news', 'patches', 'season' ] %}
                <li title="{{ admin_link | title }}">
                    <a href="{{ url_for('admin.' + admin_link) }}">{{ admin_link | title }}</a>
                </li>
    {%- endfor %}
            </ul>
{%- endblock content %}
