{% extends "layout.html.j2" %}
{% block meta_title %}Administration Portal{% endblock meta_title %}
{% block meta_description %}Administration portal for Gods of Ishar MUD{% endblock %}
{% block meta_url %}{{ url_for('admin_portal', _external=True) }}{% endblock meta_url %}">
{% block title %}Administration Portal{% endblock %}
{% block header %}Administration{% endblock %}
{%- block content %}
            <p>
                Welcome to the Ishar MUD web administration portal!
            </p>
            <ul>
                <li title="Accounts">
                    <a href="{{ url_for('admin_accounts') }}">Accounts</a>
                </li>
                <li title="News">
                    <a href="{{ url_for('admin_news') }}">News</a>
                </li>
                <li title="Seasons">
                    <a href="{{ url_for('admin_season') }}">Seasons</a>
                </li>
            </ul>
{%- endblock %}
