{% extends "layout.html.j2" %}
{% block meta_title %}Add Season / Administration Portal{% endblock meta_title %}
{% block meta_description %}Administration portal page to add a season{% endblock %}
{% block meta_url %}{{ url_for('admin_season_add', _external=True) }}{% endblock meta_url %}">
{% block title %}Add Season / Administration Portal{% endblock %}
{% block header %}Add Season{% endblock %}
{%- block content %}
{%- macro render_field(field) %}
                    <p class="admin-{{ field.name | safe }}">
                        {{ field.label | safe }}
                        {{ field(**kwargs) | safe }}
                    </p>
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro %}
{%- if season_add_form is defined %}
                <form method="post" action="{{ url_for('admin_season_add') }}" id="season-add-form">
                    {{ render_field(season_add_form.effective_date, autocomplete='off') }}
                    {{ render_field(season_add_form.expiration_date, autocomplete='off') }}
                    {{ season_add_form.csrf_token }}
                    {{ season_add_form.submit }}
                    <br>
                </form>
{%- endif %}
{% include('back.html.j2') %}
{%- endblock %}
