{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="author" content="Ishar MUD">
        <meta name="description" content="Ishar MUD">
        <meta name="keywords" content="Ishar MUD, Ishar, IsharMUD, MUD, Multi User Dungeon, Multi-User Dungeon, Game">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Ishar MUD">
        <meta property="og:title" content="{% block meta_title %}Welcome{% endblock meta_title %} - Ishar MUD">
        <meta property="og:description" content="Ishar MUD: {% block meta_description %}a free online text-adventure RPG{% endblock meta_description %}">
        <meta property="og:url" content="{% block meta_url %}{% url "index" %}{% endblock meta_url %}">
        <meta property="og:image" content="{% block meta_image %}{% static "images/cropped_ishar_logo_dark.png" %}{% endblock meta_image %}">
        <title>{% block title %}Welcome{% endblock title %} - Ishar MUD</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    {% endblock head %}
    {% block scripts %}
    {% endblock scripts %}
    </head>
    <body>
        <nav class="card-group navbar navbar-expand-lg container-fluid">
            <div class="card bg-dark">
                <h1 class="card-header">
                    <a href="{% url "index" %}" title="Ishar MUD">
                        <img class="navbar-brand" id="logo" alt="Ishar MUD" src="{% static "images/header_alpha.png" %}" style="width: 20rem;">
                    </a>
                </h1>
                <div class="card-body">
                    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse bg-dark navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav bg-dark">
{% if user.is_staff %}
                            <li class="nav-item" title="Admin">
                                <a class="nav-link" href="{% url "admin:index" %}" target="_blank">Admin</a>
                            </li>
{% endif %}
                            <li class="nav-item" title="Connect to Ishar MUD">
                                <a class="nav-link" href="{% url "connect" %}" target="_blank">Connect</a>
                            </li>
                            <li class="nav-item" title="Frequently Asked Questions">
                                <a class="nav-link" href="{% url "faq" %}">FAQs</a>
                            </li>
                            <li class="nav-item" title="Help">
                                <a class="nav-link" href="{% url "help" %}">Help</a>
                            </li>
                            <li class="nav-item" title="Patches">
                                <a class="nav-link" href="{% url "patches" %}">Patches</a>
                            </li>
                            <li class="nav-item" title="World">
                                <a class="nav-link" href="{% url "world" %}">World</a>
                            </li>
{% if user and user.is_authenticated %}
                            <li class="nav-item dropdown bg-dark">
                                <a class="nav-link dropdown-toggle" href="{% url "portal" %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portal</a>
                                <ul class="bg-dark dropdown-menu">
                                    <li title="Account">
                                        <a class="bg-dark nav-link dropdown-item" href="{% url "account" %}">Account</a>
                                    </li>
                                    <li title="Challenges">
                                        <a class="bg-dark nav-link dropdown-item" href="{% url "challenges" %}">Challenges</a>
                                    </li>
                                    <li title="Events">
                                        <a class="bg-dark nav-link dropdown-item" href="{% url "events" %}">Events {% if global_event_count and global_event_count > 0 %} ({{ global_event_count }}){% endif %}</a>
                                    </li>
                                    <li title="Leaders">
                                        <a class="bg-dark nav-link dropdown-item" href="{% url "leaders" %}">Leaders</a>
                                    </li>
                                    <li title="Portal">
                                        <a class="bg-dark nav-link dropdown-item" href="{% url "portal" %}">Portal</a>
                                    </li>
                                    <li title="Log out">
                                        <a class="bg-dark nav-link dropdown-item" href="{% url "logout" %}">Log out ({{ user.get_username }})</a>
                                    </li>
                                </ul>
                            </li>
{% else %}
                            <li class="bg-dark nav-item" title="Portal">
                                <a class="bg-dark nav-link" href="{% url "portal" %}">Portal</a>
                            </li>
{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <main class="container-fluid">
            <div class="card bg-dark">
                <h2 class="card-header">{% block header %}{% endblock header %}</h2>
                <div class="card-body">
{% block messages %}
    {% if messages %}
                    <div class="card bg-dark">
                        <div class="card-body">
                            <ul class="card-text" id="messages">
        {% for message in messages %}
                            <li class="message-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
                            </ul>
                        </div>
                    </div>
    {% endif %}
{% endblock messages %}
{% block content %}
{% endblock content %}
                </div>
            </div>
        </main>

{% if current_season %}
        <footer class="card-group navbar navbar-expand-lg text-center container-fluid">
            <div class="card bg-dark">
                <p class="card-body">
                    <a class="card-text" href="{% url "current_season" %}">{{ current_season }}</a>
                </p>
            </div>
            <div class="card bg-dark">
                <p class="card-body">
                    <span class="card-text">ends {{ current_season.expiration_date | naturaltime }}</span>
                </p>
            </div>
        </footer>
{% endif %}

        <footer class="card-group navbar navbar-expand-lg text-center container-fluid">
            <div class="card bg-dark">
                <div class="card-body">
                    <a class="card-text" href="mailto:admin@isharmud.com" title="E-mail Us! (admin@isharmud.com)" target="_blank">✉️ E-mail us!</a>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-body">
                    <a class="card-text" href="{% url 'support' %}" title="Support Ishar MUD">❤️ Support Ishar MUD</a>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-body">
                    <a class="card-text" href="{%  url "discord" %}" target="_blank" title="Join us on Discord!"><img alt="Discord" src="{% static "images/discord.png" %}" style="width: 1rem;"> Join us on Discord!</a>
                </div>
            </div>
        </footer>
    </body>
</html>
