{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Ishar MUD">
        <meta name="description" content="Ishar MUD">
        <meta name="keywords" content="Ishar MUD, Ishar, IsharMUD, MUD, Multi User Dungeon, Multi-User Dungeon, Game">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Ishar MUD">
        <meta property="og:title" content="Ishar MUD: {% block meta_title %}Home{% endblock meta_title %}">
        <meta property="og:description" content="Ishar MUD: {% block meta_description %}a free online text-adventure RPG{% endblock meta_description %}">
        <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% block meta_image %}{% static "images/new_trans.png" %}{% endblock meta_image %}">
        <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{% block meta_url %}{% url "index" %}{% endblock meta_url %}">
        <title>Ishar MUD: {% block title %}Home{% endblock title %}</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
        <link rel="dns-prefetch" href="http://cdn.jsdelivr.net">
        <link rel="preconnect" href="http://cdn.jsdelivr.net">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock scripts %}
    </head>
    <body class="m-1">
        <header class="container-fluid px-1 py-1">
            <nav class="p-3 navbar navbar-dark navbar-expand-lg bg-black rounded" style="border: 0.1rem solid var(--ishar-color);">
                <button style="border: 0.1rem solid var(--ishar-color);" class="m-1 navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{% url "index" %}" title="Ishar MUD">
                    <img class="navbar-brand" id="logo" alt="Ishar MUD" src="{% static "images/new_trans.png" %}" style="height: 10rem;">
                </a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav nav-underline">
                        <li class="nav-item" title="Home">
                            <a class="bi bi-house nav-link" href="{% url "index" %}">
                                Home
                            </a>
                        </li>
{% if user.is_staff %}
                        <li class="nav-item" title="Admin">
                            <a class="bi bi-gear nav-link" href="{% url "admin:index" %}" target="_blank">
                                Admin
                            </a>
                        </li>
{% endif %}
                        <li class="nav-item" title="Connect to Ishar MUD">
                            <a class="bi bi-globe nav-link" href="{% url "connect" %}" target="_blank">
                                Connect
                            </a>
                        </li>
                        <li class="nav-item" title="Frequently Asked Questions">
                            <a class="bi-question-square nav-link" href="{% url "faq" %}">
                                FAQs
                            </a>
                        </li>
                        <li class="nav-item" title="Help">
                            <a class="bi bi-info-square nav-link" href="{% url "help" %}">
                                Help
                            </a>
                        </li>
                        <li class="nav-item" title="Patches">
                            <a class="bi bi-bandaid nav-link" href="{% url "patches" %}">
                                Patches
                            </a>
                        </li>
{% if user and user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="bi bi-menu-button nav-link dropdown-toggle" href="{% url "portal" %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Portal
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark bg-black border border-secondary p-3">
                                <li class="nav-item" title="Challenges">
                                    <a class="bi bi-award bg-black nav-link dropdown-item" href="{% url "challenges" %}">
                                        Challenges
                                    </a>
                                </li>
    {% if global_event_count and global_event_count > 0 %}
                                <li class="nav-item" title="Events ({{ global_event_count }})">
                                    <a class="bi bi-calendar-event bg-black nav-link dropdown-item" href="{% url "events" %}">
                                        Events
                                        <span class="badge text-bg-secondary">
                                            {{ global_event_count }}
                                        </span>
                                    </a>
                                </li>
    {% endif %}
                                <li class="nav-item" title="Leaders">
                                    <a class="bi bi-trophy bg-black nav-link dropdown-item" href="{% url "leaders" %}">
                                        Leaders
                                    </a>
                                </li>
                                <li class="nav-item" title="Portal">
                                    <a class="bi bi-person-lines-fill bg-black nav-link dropdown-item" href="{% url "portal" %}">
                                        Portal
                                    </a>
                                </li>
                                <li class="nav-item text-ishar"><hr class="dropdown-divider border-secondary"></li>
                                <li class="nav-item" title="Log out">
                                    <a class="bi bi-door-closed bg-black nav-link dropdown-item" href="{% url "logout" %}">
                                        Log out ({{ user.get_username }})
                                    </a>
                                </li>
                            </ul>
                        </li>
{% else %}
                        <li class="nav-item" title="Portal">
                            <a class="bi bi-menu-button nav-link" href="{% url "portal" %}">
                                Portal
                            </a>
                        </li>
{% endif %}
                        <li class="nav-item" title="World">
                            <a class="bi bi-globe-asia-australia nav-link" href="{% url "world" %}">
                                World
                            </a>
                        </li>
                    </ul>
                </div>
            <!--
                <a class="navbar-link" href="{% url "index" %}" title="Ishar MUD">
                    <h1 class="navbar-text" style="color: var(--ishar-color);">
                        Ishar MUD
                    </h1>
                </a>
            -->
            </nav>
        </header>

        <main class="container-fluid px-1 py-1">
            <div class="card bg-dark" style="border: 0.1rem solid var(--ishar-color);">
                <div class="bg-black card-header" style="border: 0.1rem solid var(--ishar-color);">
                    <h2>
                        {% block header %}{% endblock header %}
                    </h2>
                </div>
                <div class="card-body">
{% block messages %}
    {% if messages %}
                    <div class="bg-black border border-secondary m-3 p-3 rounded">
                        <ul class="card-text lead fw-bold">
        {% for message in messages %}
                            <li class="message-{{ message.tags }}">
                                {{ message }}
                            </li>
        {% endfor %}
                        </ul>
                    </div>
    {% endif %}
{% endblock messages %}
{% block content %}
{% endblock content %}
                </div>
            </div>
        </main>

{% if current_season %}
        <footer class="container-md px-3 py-1" title="{{ current_season }} ends {{ current_season.expiration_date | naturaltime }}">
            <div class="text-center row p-3 bg-black rounded" style="border: 0.1rem solid var(--ishar-color);">
                <div class="col">
                    <a href="{% url "current_season" %}">
                        {{ current_season }}
                    </a>
                </div>
                <div class="col">
                    ends {{ current_season.expiration_date | naturaltime }}
                </div>
            </div>
        </footer>
{% endif %}

        <footer class="container-lg px-3 py-1">
            <div class="text-center row p-3 bg-black rounded" style="border: 0.1rem solid var(--ishar-color);">
                <div class="col">
                    <a class="bi bi-envelope-at" href="mailto:admin@isharmud.com" target="_blank" title="E-mail Us! (admin@isharmud.com)">
                        E-mail us!
                    </a>
                </div>
                <div class="col">
                    <a class="bi bi-heart" href="{% url 'support' %}" title="Support Ishar MUD">
                        Support Ishar MUD
                    </a>
                </div>
                <div class="col">
                    <a class="bi bi-discord" href="{%  url "discord" %}" target="_blank" title="Join us on Discord!">
                        Join us on Discord!
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
