{% extends "layout.html" %}
{% block meta_title %}Log In{% endblock meta_title %}
{% block meta_description %}Log In{% endblock meta_description %}
{% block meta_url %}{% url "login" %}{% endblock meta_url %}
{% block title %}Log In{% endblock title %}
{% block header %}<span class="bi bi-door-open"></span> Log In{% endblock header %}
{% block content %}
    {% if form %}
        <p class="lead">
            Please use your <strong><em>account name</em></strong>
            or <strong><em>e-mail address</em></strong> to log in - thank you!
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button class="btn btn-outline-primary" type="submit">Log In</button>
                <button class="btn btn-outline-secondary" type="reset">Clear</button>
            </p>
        </form>
    {% endif %}
{% endblock content %}
