{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Support Ishar MUD{% endblock meta_title %}
{% block meta_description %}Please consider supporting Ishar MUD in any way that you can!{% endblock meta_description %}
{% block meta_url %}{% url "support" %}{% endblock meta_url %}
{% block title %}Support Ishar MUD{% endblock title %}
{% block header %}
    <span class="bi bi-heart"></span>
    <a href="{% url "support" %}" title="Support Ishar MUD">
        Support Ishar MUD
    </a>
{% endblock header %}
{% block content %}
    <p class="lead card-text">
        While you are more than welcome to offer support, Ishar MUD is free to use, play, and enjoy!
    </p>
    <p class="lead card-text">
        Any contribution is simply for the development and maintenance of the game, and as a way to say "thank you".
    </p>
    <ul class="card-text list-group list-group-vertical">
        <li class="border-0 bg-dark list-group-item">
            <a href="https://www.patreon.com/bePatron?u=42650263" target="_blank" title="Become a Patron">
                <img alt="Become A Patron" class="rounded" src="{% static "images/become-a-patron.png" %}" style="height: 3rem;">
            </a>
        </li>
        <li class="border-0 bg-dark list-group-item">
            <a href="https://www.buymeacoffee.com/ishar" target="_blank" title="Buy Me A Coffee">
                <img alt="Buy Me A Coffee" class="rounded" src="{% static "images/buy-me-a-coffee.png" %}" style="height: 3rem;">
            </a>
        </li>
    </ul>
</div>
{% endblock content %}
