{% extends "layout.html" %}
{% block meta_title %}Welcome{% endblock meta_title %}
{% block meta_description %}Welcome to Ishar MUD{% endblock meta_description %}
{% block meta_url %}TODO{% endblock meta_url %}
{% block title %}Welcome{% endblock title %}
{% block header %}{% if news and news.subject %}{{ news.subject }}{% else %}Welcome{% endif %}{% endblock header %}
{% block content %}
    {% if news %}
    <div class="card bg-dark">
        <div class="card-body">
            <blockquote class="blockquote">
                <p class="card-text">{% autoescape off %}{{ news.body }}{% endautoescape %}</p>
                <footer class="blockquote-footer" title="{{ news.created | date:"r" }}">
                    <cite>{{ news.account.get_username }}</cite> @ {{ news.created | date:"r" }}
                </footer>
            </blockquote>
        </div>
    </div>
    {% endif %}
    <div class="card bg-dark">
        <div class="card-body">
            <p class="card-text">
                Dive into the immersive realms of <strong>Ishar</strong>, a high medieval fantasy MUD offering not just a game, but a spiritual journey of continuous growth and rejuvenation.
                Experience the profound influence of the deity <strong>Varenya</strong>, who guides the ever-evolving seasons and remorting system, crafting a fresh canvas of unparalleled opportunities for players to carve their destiny anew with each cycle.
            </p>
            <p class="card-text">
                Here in Ishar, adventures abound with a vast range of experiences waiting for you: from delving into dark catacombs, exploring angel and daemon-infested snowy forests, to conquering new territories amidst treacherous swamps.
                Players can anticipate a story-rich backdrop where each class offers a distinctive play-style, including the <strong>Warrior, Rogue, Magician, Necromancer, Cleric, and the promising new Shaman class in development</strong>.
            </p>
            <p class="card-text">
                Join a vibrant and supportive community that thrives both in-game and through an active Discord channel.
                Engage in hack-n-slash adventures peppered with strategic boss battles, where quality writing and immersive zone development are at the forefront, offering a rich sensory experience.
            </p>
            <p class="card-text">
                With the seasonal system acting as a catalyst, Ishar is in a state of continuous evolution, introducing new mechanics and content regularly, ensuring a stimulating and fluid gameplay experience.
                Witness a world that reshapes itself, offering new challenges, treasures, and opportunities to forge your legend.
            </p>
            <p class="card-text">
                Embrace Ishar, where every life is a fresh start on the path to greatness, a chance to intertwine your story with the tapestry of its rich lore, and truly make your mark in a world guided by divine intervention and boundless opportunities.
            </p>
        </div>
    </div>
    <div class="card-group">
        <div class="card bg-dark">
            <p class="card-header">
                Play for free by connecting with any
                <a href="{% url "clients" %}">MUD client</a> to:
            </p>
        </div>
        <div class="card bg-dark">
            <strong class="card-header">Host</strong>
            <div class="card-body">
                <ul class="card-text">
                    <li>
                        <code>isharmud.com</code>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card bg-dark">
            <strong class="card-header">Port(s)</strong>
            <div class="card-body">
                <ul class="card-text">
                    <li>
                        <code>23</code>
                    </li>
                    <li>
                        <code>9999</code>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
