{% extends "layout.html.djt" %}
{% block meta_title %}Wiz List{% endblock meta_title %}
{% block meta_description %}A list of the current Immortals through Gods{% endblock meta_description %}
{% block meta_url %}{% url "wizlist" %}{% endblock meta_url %}
{% block title %}Wiz List{% endblock title %}
{% block header %}Wiz List{% endblock header %}
{% block content %}
    {% if immortals and immortals is iterable %}
                <table id="wizlist">
                    <tr>
                        <th title="Name">
                            Name
                        </th>
                        <th title="Type">
                            Type
                        </th>
                    </tr>
        {% for immortal in immortals %}
                    <tr>
                        <td title="Name: {{ immortal.name }}">
                            {{ immortal.player_link }}
                        </td>
                        <td class="non-classic" title="Type: {{ immortal.player_type }}">
                            <span class="{{ immortal.player_css }}">
                                {{ immortal.player_type }}
                            </span>
                        </td>
                    </tr>
        {% endfor %}
                </table>
    {% endif %}
{% endblock content %}
