db_creds = {
    'user'      : 'ishar',
    'password'  : 'SECRET',
    'host'      : '127.0.0.1',
    'database'  : 'ishar'
}
sql_uri = f"mysql+pymysql://{db_creds['user']}:{db_creds['password']}@{db_creds['host']}/{db_creds['database']}"

secret_key = 'SECRET'
helptab_file = '/home/ishar/ishar-mud/lib/Misc/helptab'
admin_level = 21
