{%- set page = 'patches' -%}
{% extends "base/layout.html.j2" %}
{% block meta_title %}Latest Patch{% endblock meta_title %}
{% block meta_description %}The latest patch for Ishar MUD{% endblock meta_description %}
{% block meta_url %}{{ url_for('patches.latest', _external=True) }}{% endblock meta_url %}
{% block title %}Latest Patch{% endblock title %}
{% block header %}Latest Patch{% endblock header %}
{%- block content %}
    {%- if pdf %}
        {%- set friendly_name  = pdf.name.rstrip('.pdf') | replace('_', ' ') | replace('-', ' ') | safe %}
        {%- set pdf_url = url_for('static', filename='patches/' + pdf.name) %}
                <ul id="patches-list">
                    <li class="patch-item" title="{{ friendly_name }}">
                        <h3>
                            <a href="{{ pdf_url }}" target="_blank">{{ friendly_name }}</a>
                        </h3>
                    </li>
                    <li class="nested-list">
                        <ul>
                            <li>
                                <strong>Date</strong>:
                                {{ pdf.modified.strftime('%A, %B %d, %Y') }}
                            </li>
                            <li>
                                <strong>Size</strong>:
                                {{ pdf.size }}
                            </li>
                        </ul>
                    </li>
                </ul>
        <embed src="{{ pdf_url }}#toolbar=0&navpanes=0&scrollbar=1">
    {%- endif %}
{%- endblock content %}
