{%- set page = 'patches' -%}
{% extends "base/layout.html.j2" %}
{% block meta_title %}Patches{% endblock meta_title %}
{% block meta_description %}The latest patches to Ishar MUD{% endblock meta_description %}
{% block meta_url %}{{ url_for('patches.index', _external=True) }}{% endblock meta_url %}
{% block title %}Patches{% endblock title %}
{% block header %}Patches{% endblock header %}
{%- block content %}
                <p>
                    Ishar MUD is under regular development, and constantly being improved!
                </p>
    {%- if patches is defined and patches is iterable and patches | length > 0 %}
                <p>
                     These are the latest patch notes for Ishar MUD:
                </p>
                <ul id="patches-list">
        {%- for patch in patches %}
            {%- set friendly_name  = patch.name.rstrip('.pdf') | replace('_', ' ') | replace('-', ' ') | safe %}
                    <li class="patch-item" title="{{ friendly_name }}">
                        <h3>
                            <a href="{{ url_for('static', filename='patches/' + patch.name) }}" target="_blank">{{ friendly_name }}</a>
                        </h3>
                    </li>
                    <li class="nested-list">
                        <ul>
                            <li>
                                <strong>Date</strong>:
                                {{ patch.modified.strftime('%A, %B %d, %Y') }}
                            </li>
                            <li>
                                <strong>Size</strong>:
                                {{ patch.size }}
                            </li>
                        </ul>
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endblock content %}
