{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block breadcrumbs %}
    <li class="bi bi-exclamation-circle breadcrumb-item active h2" aria-current="page" title="{{ title }}" id="error">
        {{ title }}
    </li>
{% endblock breadcrumbs %}
{% block content %}
    <p class="lead">
        {{ message }}
    </p>
    <p class="lead">
        You may want to return to the <a href="{% url 'index' %}" title="home page">home page</a>.
    </p>
{% endblock content %}
