{% extends "layout.html" %}
{% load ishar %}
{% block title %}{{ WEBSITE_TITLE }} {{ title }}{% endblock title %}
{% block breadcrumbs %}
    {% crumb title "exclamation-circle" anchor="error" active=True %}
{% endblock breadcrumbs %}
{% block content %}
<div class="ac">
    <div class="ac-empty py-5">
        {% bi "exclamation-circle" %}
        <span class="lead">{{ message }}</span>
        <a class="ac-btn ac-btn--accent mt-2" href="{% url 'index' %}">
            {% bi "house" %}
            Return to the home page
        </a>
    </div>
</div>
{% endblock content %}
