{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html class="dark" data-bs-theme="dark" lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="author" content="{{ WEBSITE_TITLE }}">
        <meta name="description" content="{{ WEBSITE_TITLE }}">
        <meta name="keywords" content="{{ WEBSITE_TITLE }}, Ishar, IsharMUD, MUD, Multi User Dungeon, Multi-User Dungeon, Game">
        <meta name="msapplication-TileColor" content="#ffaa77">
        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ WEBSITE_TITLE }}">
        <meta property="og:title" content="{{ WEBSITE_TITLE }}: {% block meta_title %}Home{% endblock meta_title %}">
        <meta property="og:description" content="{{ WEBSITE_TITLE }}: {% block meta_description %}a free online text-adventure RPG{% endblock meta_description %}">
        <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% block meta_image %}{% static "images/logo.png" %}{% endblock meta_image %}">
        <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{% block meta_url %}{% url 'index' %}{% endblock meta_url %}">

        <title>{{ WEBSITE_TITLE }}: {% block title %}Home{% endblock title %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
{% block includes %}
{% endblock includes %}

        <script>
{% block scripts %}let focusTo = null{% endblock scripts %}
        </script>
    </head>

    <body class="container-fluid">

        <header class="mt-1 p-1">

            <nav class="border-ishar navbar navbar-dark navbar-expand-lg rounded">

                <a href="{% url 'index' %}" title="{{ WEBSITE_TITLE }}">
                    <img class="navbar-brand" id="logo" alt="{{ WEBSITE_TITLE }}" src="{% static "images/logo.png" %}" style="height: 10rem;">
                </a>

                <button class="border-ishar m-3 navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse p-2" id="navbarNavDropdown">

                    <ul class="navbar-nav nav-underline">

                        <li class="nav-item" title="Home">
                            <a class="nav-link icon-link icon-link-hover" href="{% url 'index' %}">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#house"></use>
                                </svg>
                                Home
                            </a>
                        </li>
                        <li class="nav-item" title="Connect to {{ WEBSITE_TITLE }}">
                            <a class="nav-link icon-link icon-link-hover" href="{% url 'connect' %}" target="_blank">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#globe"></use>
                                </svg>
                                Connect
                                <svg class="bi" aria-hidden="false" role="img" aria-label="Connect to {{ WEBSITE_TITLE }}, from a new window.">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="nav-item" title="Events ({{ GLOBAL_EVENT_COUNT }})">
                            <a class="nav-link icon-link icon-link-hover" href="{% url 'events' %}#events">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#calendar-event"></use>
                                </svg>
                                Events
{% if GLOBAL_EVENT_COUNT > 0 %}
                                <span class="badge bg-dark rounded-pill border border-secondary">
                                    {{ GLOBAL_EVENT_COUNT }}
                                </span>
{% endif %}
                            </a>
                        </li>
                        <li class="nav-item" title="Frequently Asked Questions">
                            <a class="nav-link icon-link icon-link-hover" href="{% url 'faq' %}#faq">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#patch-question"></use>
                                </svg>
                                FAQs
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle icon-link icon-link-hover" href="{% url 'help' %}#help" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#info-circle"></use>
                                </svg>
                                Help
                            </a>
                            <ul class="bg-black border border-secondary dropdown-menu dropdown-menu-dark p-1">
                                <li class="nav-item" title="Search Help Topics">
                                    <div class="form-control-dark input-group">
                                        <form method="post" action="{% url 'help' %}#search">
                                                {{ HELP_SEARCH_FORM }}
                                                {% csrf_token %}
                                                <button class="btn btn-outline-primary m-1" type="submit">Search</button>
                                        </form>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="nav-item" title="All Help Topics">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'help' %}#topics">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#question-circle"></use>
                                        </svg>
                                        All Topics
                                    </a>
                                </li>
                                <li class="nav-item" title="Basics">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'help_page' help_topic='MUD Basics' %}#topic">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#collection-play"></use>
                                        </svg>
                                        Basics
                                    </a>
                                </li>
                                <li class="nav-item" title="Get Started">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'start' %}#start">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#rocket-takeoff"></use>
                                        </svg>
                                        Get Started
                                    </a>
                                </li>
                                <li class="nav-item" title="Help">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'help' %}#help">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#info-circle"></use>
                                        </svg>
                                        Help
                                    </a>
                                </li>
                                <li class="nav-item" title="History">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'history' %}#history">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#clock-history"></use>
                                        </svg>
                                        History
                                    </a>
                                </li>
                                <li class="nav-item" title="MUD Clients">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'clients' %}#clients">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#terminal-split"></use>
                                        </svg>
                                        MUD Clients
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle icon-link icon-link-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#bandaid"></use>
                                </svg>
                                Patches
                            </a>
                            <ul class="bg-black border border-secondary dropdown-menu dropdown-menu-dark p-1">
                                <li class="nav-item" title="Latest Patch">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'latest_patch' %}#latest">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#file-earmark-pdf"></use>
                                        </svg>
                                        Latest
                                    </a>
                                </li>
                                <li class="nav-item" title="All Patches">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'patches' %}#patches">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#collection"></use>
                                        </svg>
                                        All
                                    </a>
                                </li>
                            </ul>
                        </li>
{% if user and user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle icon-link icon-link-hover" href="{% url 'portal' %}#portal" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
                                </svg>
                                Portal
                            </a>
                            <ul class="bg-black border border-secondary dropdown-menu dropdown-menu-dark p-1">
    {% if user.is_staff %}
                                <li class="nav-item" title="Administration">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'admin:index' %}" target="_blank">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#gear"></use>
                                        </svg>
                                        Administration
                                        <svg class="bi" aria-hidden="false" role="img" aria-label="Open Administration in a new window.">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <hr class="dropdown-divider">
                                </li>
    {% endif %}
                                <li class="nav-item" title="Challenges">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'challenges' %}#challenges">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#award"></use>
                                        </svg>
                                        Challenges
                                    </a>
                                </li>

                                <li class="nav-item" title="Feedback">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'feedback' %}#feedback">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#mailbox-flag"></use>
                                        </svg>
                                        Feedback
                                    </a>
                                </li>

                                <li class="nav-item" title="Leaders">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'leaders' %}#leaders">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trophy"></use>
                                        </svg>
                                        Leaders
                                    </a>
                                </li>

                                <li class="nav-item" title="Password">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'password' %}#password">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#key"></use>
                                        </svg>
                                        Password
                                    </a>
                                </li>

                                <li class="nav-item" title="Portal">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'portal' %}#portal">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
                                        </svg>
                                        Portal
                                    </a>
                                </li>

                                <li class="nav-item" title="Upgrades">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'upgrades' %}#upgrades">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#shield"></use>
                                        </svg>
                                        Upgrades
                                    </a>
                                </li>

                                <li class="nav-item" title="Who's Online?">
                                    <a class="nav-link dropdown-item icon-link icon-link-hover" href="{% url 'who' %}#who">
                                        <svg class="bi" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#people"></use>
                                        </svg>
                                        Who's Online?
                                        <span class="badge bg-dark rounded-pill border border-secondary" title="{{ PLAYERS_ONLINE }} player{{ PLAYERS_ONLINE|pluralize }} online">
                                            {{ PLAYERS_ONLINE }}
                                        </span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <hr class="dropdown-divider">
                                </li>

                                <li class="nav-item" title="Log out ({{ request.user.get_username }})">
                                    <form action="{% url 'logout' %}#messages" method="post">
                                        {% csrf_token %}
                                        <button class="nav-link dropdown-item icon-link icon-link-hover" type="submit">
                                            <svg class="bi" aria-hidden="true">
                                                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#door-closed"></use>
                                            </svg>
                                            Log out ({{ request.user.get_username }})
                                        </button>
                                    </form>
                                </li>

                            </ul>

                        </li>
{% else %}
                        <li class="nav-item" title="Portal">
                            <a class="nav-link icon-link icon-link-hover" href="{% url 'portal' %}#portal">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
                                </svg>
                                Portal
                            </a>
                        </li>
{% endif %}
                        <li class="nav-item" title="World">
                            <a class="nav-link icon-link icon-link-hover" href="{% url 'world' %}#world">
                                <svg class="bi" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#globe-asia-australia"></use>
                                </svg>
                                World
                            </a>
                        </li>

                    </ul>

                </div>

            </nav>

        </header>

        <main class="p-1">

            <nav class="bg-black border-ishar ps-1 pt-1 rounded" aria-label="breadcrumb">
                <ol class="breadcrumb gap-1 grid">
{% block breadcrumbs %}
                    <li class="breadcrumb-item h2" title="Welcome">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#house"></use>
                        </svg>
                        Welcome
                    </li>
{% endblock breadcrumbs %}
                </ol>
            </nav>

{% block messages %}
    {% if messages %}
            <div class="p-1" id="messages">
        {% for message in messages %}
                <div class="alert alert-dark alert-dismissible bg-black border-ishar fade p-2 show" role="alert">
                    <p class="fw-bold lead message-{{ message.tags }}">
                        {{ message }}
                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endfor %}
            </div>
    {% endif %}
{% endblock messages %}

            <div class="bg-black border-ishar my-1 p-2 rounded" id="content">
{% block content %}
{% endblock content %}
            </div>
            <script src="{% static 'js/alertRefocus.js' %}"></script>
{% block player_search_form %}
        {% if user and user.is_authenticated and PLAYER_SEARCH_FORM %}
            <div class="bg-black border-ishar my-1 p-2 rounded">
                {% include "search_form.html" %}
            </div>
        {% endif %}
{% endblock player_search_form %}

        </main>

        <footer class="mx-3 text-center">
{% if CURRENT_SEASON %}
            <div class="bg-black border-ishar my-1 p-1 rounded row">
                <div class="col">
                    <a class="icon-link icon-link-hover" href="{% url 'current_season' %}#season">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#calendar"></use>
                        </svg>
                        Season {{ CURRENT_SEASON.season_id }}
                    </a>
                </div>
                <div class="col p-1">
                    <span class="icon-link">
                        <svg class="bi text-secondary" aria-hidden="true">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#hourglass-split"></use>
                        </svg>
                        Ends {{ CURRENT_SEASON.expiration_date | naturaltime }}
                    </span>
                </div>
            </div>
{% endif %}
            <div class="bg-black border-ishar my-1 p-1 rounded row">
                <div class="col">
                    <a class="icon-link icon-link-hover" href="mailto:{{ ADMIN_EMAIL }}" target="_blank" title="E-mail Us! ({{ ADMIN_EMAIL }})">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#envelope-at"></use>
                        </svg>
                        E-mail us!
                        <svg class="bi" aria-hidden="false" role="img" aria-label="Send an e-mail to {{ ADMIN_EMAIL }}.">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                        </svg>
                    </a>
                </div>

                <div class="col">
                    <a class="icon-link icon-link-hover" href="{% url 'support' %}#support" title="Support {{ WEBSITE_TITLE }}">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#heart"></use>
                        </svg>
                        Support {{ WEBSITE_TITLE }}
                    </a>
                </div>

                <div class="col">
                    <a class="icon-link icon-link-hover" href="{% url 'discord' %}" target="_blank" title="Join us on Discord!">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#discord"></use>
                        </svg>
                        Join us on Discord!
                        <svg class="bi" aria-hidden="false" role="img" aria-label="Join {{ WEBSITE_TITLE }} Discord.">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                        </svg>
                    </a>
                </div>

            </div>

        </footer>

    </body>

</html>
