{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html class="dark" data-bs-theme="dark" lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="author" content="{{ WEBSITE_TITLE }}">
        <meta name="description" content="{{ WEBSITE_TITLE }}">
        <meta name="keywords" content="{{ WEBSITE_TITLE }}, Ishar, IsharMUD, MUD, Multi User Dungeon, Multi-User Dungeon, Game">
        <meta name="msapplication-TileColor" content="#ffaa77">
        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ WEBSITE_TITLE }}">
        <meta property="og:title" content="{{ WEBSITE_TITLE }}: {% block meta_title %}Home{% endblock meta_title %}">
        <meta property="og:description" content="{{ WEBSITE_TITLE }}: {% block meta_description %}a free online text-adventure RPG{% endblock meta_description %}">
        <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% block meta_image %}{% static "images/logo.png" %}{% endblock meta_image %}">
        <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{% block meta_url %}{% url 'index' %}{% endblock meta_url %}">

        <title>{{ WEBSITE_TITLE }}: {% block title %}Home{% endblock title %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
{% block includes %}
{% endblock includes %}

        <script>
{% block scripts %}let focusTo = null{% endblock scripts %}
        </script>
    </head>

    <body class="m-1">

        <header class="container-fluid p-1">

            <nav class="navbar navbar-dark navbar-expand-lg bg-black rounded border-ishar">

                <a href="{% url 'index' %}" title="{{ WEBSITE_TITLE }}">
                    <img class="navbar-brand" id="logo" alt="{{ WEBSITE_TITLE }}" src="{% static "images/logo.png" %}" style="height: 10rem;">
                </a>

                <button class="m-3 navbar-toggler navbar-dark border-ishar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="m-1 navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse p-3" id="navbarNavDropdown">

                    <ul class="navbar-nav nav-underline">

                        <li class="nav-item" title="Home">
                            <a class="bg-black nav-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'index' %}">
                                <svg class="bi text-primary" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#house"></use>
                                </svg>
                                Home
                            </a>
                        </li>
                        <li class="nav-item" title="Connect to {{ WEBSITE_TITLE }}">
                            <a class="bg-black nav-link icon-link icon-link-hover" href="{% url 'connect' %}" target="_blank">
                                <svg class="bi text-primary" aria-hidden="true" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#globe"></use>
                                </svg>
                                Connect
                                <svg class="bi text-secondary" aria-hidden="true" style="--bs-icon-link-transform: none;">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="nav-item" title="Events ({{ GLOBAL_EVENT_COUNT }})">
                            <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'events' %}#events">
                                <svg class="bi text-primary" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#calendar-event"></use>
                                </svg>
                                Events
{% if GLOBAL_EVENT_COUNT > 0 %}
                                <span class="badge bg-dark rounded-pill border border-secondary">
                                    {{ GLOBAL_EVENT_COUNT }}
                                </span>
{% endif %}
                            </a>
                        </li>
                        <li class="nav-item" title="Frequently Asked Questions">
                            <a class="bg-black nav-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'faq' %}#faq">
                                <svg class="bi text-primary" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#question-circle"></use>
                                </svg>
                                FAQs
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="bg-black nav-link dropdown-toggle icon-link icon-link-hover" href="{% url 'help' %}#help" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                <svg class="bi text-primary" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#info-circle"></use>
                                </svg>
                                Help
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark bg-black border border-secondary p-3">
                                <li class="nav-item" title="Search Help Topics">
                                    <div class="d-flex form-control-dark input-group">
                                        <div class="form-control-dark">
                                            <form class="row g-3" method="post" action="{% url 'help' %}#search">
                                                <div class="col-auto">
                                                    {{ HELP_SEARCH_FORM }}
                                                    {% csrf_token %}
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-primary" type="submit">Search</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </li>
                                <li class="nav-item text-ishar">
                                    <hr class="dropdown-divider border-secondary">
                                </li>
                                <li class="nav-item" title="All Help Topics">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'help' %}#topics">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#collection-play"></use>
                                        </svg>
                                        All Topics
                                    </a>
                                </li>
                                <li class="nav-item" title="Basics">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'help_page' help_topic='MUD Basics' %}#topic">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#collection-play"></use>
                                        </svg>
                                        Basics
                                    </a>
                                </li>
                                <li class="nav-item" title="Get Started">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'start' %}#start">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#rocket-takeoff"></use>
                                        </svg>
                                        Get Started
                                    </a>
                                </li>
                                <li class="nav-item" title="Get Started">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'help' %}#help">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#info-circle"></use>
                                        </svg>
                                        Help
                                    </a>
                                </li>
                                <li class="nav-item" title="History">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'history' %}#history">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#clock-history"></use>
                                        </svg>
                                        History
                                    </a>
                                </li>
                                <li class="nav-item" title="MUD Clients">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'clients' %}#clients">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#terminal-split"></use>
                                        </svg>
                                        MUD Clients
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="bg-black nav-link dropdown-toggle icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg class="bi text-primary" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#bandaid"></use>
                                </svg>
                                Patches
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark bg-black border border-secondary p-3">
                                <li class="nav-item" title="Admin">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'latest_patch' %}#latest">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#file-earmark-pdf"></use>
                                        </svg>
                                        Latest
                                    </a>
                                </li>
                                <li class="nav-item" title="Admin">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url 'patches' %}#patches">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#collection"></use>
                                        </svg>
                                        All
                                    </a>
                                </li>
                            </ul>
                        </li>
{% if user and user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="bg-black nav-link dropdown-toggle icon-link icon-link-hover" href="{% url 'portal' %}#portal" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                <svg class="bi text-primary" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#menu-button"></use>
                                </svg>
                                Portal
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark bg-black border border-secondary p-3">
    {% if user.is_staff %}
                                <li class="nav-item" title="Admin">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" href="{% url 'admin:index' %}" target="_blank">
                                        <svg class="bi text-primary" aria-hidden="true" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#gear"></use>
                                        </svg>
                                        Admin
                                        <svg class="bi text-secondary" aria-hidden="true" style="--bs-icon-link-transform: none;">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="nav-item text-ishar">
                                    <hr class="dropdown-divider border-secondary">
                                </li>
    {% endif %}
                                <li class="nav-item" title="Challenges">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" href="{% url 'challenges' %}#challenges" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#award"></use>
                                        </svg>
                                        Challenges
                                    </a>
                                </li>

                                <li class="nav-item" title="Feedback">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" href="{% url 'feedback' %}#feedback" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#flag"></use>
                                        </svg>
                                        Feedback
                                    </a>
                                </li>

                                <li class="nav-item" title="Leaders">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" href="{% url 'leaders' %}#leaders" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trophy"></use>
                                        </svg>
                                        Leaders
                                    </a>
                                </li>

                                <li class="nav-item" title="Portal">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" href="{% url 'portal' %}#portal" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-lines-fill"></use>
                                        </svg>
                                        Portal
                                    </a>
                                </li>

                                <li class="nav-item" title="Upgrades">
                                    <a class="bg-black nav-link dropdown-item icon-link icon-link-hover" href="{% url 'upgrades' %}#upgrades" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                        <svg class="bi text-primary" aria-hidden="true">
                                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#shield"></use>
                                        </svg>
                                        Upgrades
                                    </a>
                                </li>

                                <li class="nav-item text-ishar">
                                    <hr class="dropdown-divider border-secondary">
                                </li>

                                <li class="nav-item" title="Log out">
                                    <form action="{% url 'logout' %}#messages" method="post">
                                        {% csrf_token %}
                                        <button class="bg-black nav-link dropdown-item icon-link icon-link-hover" type="submit" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                            <svg class="bi text-primary" aria-hidden="true">
                                                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#door-closed"></use>
                                            </svg>
                                            Log Out ({{ request.user.get_username }})
                                        </button>
                                    </form>
                                </li>

                            </ul>

                        </li>
{% else %}
                        <li class="nav-item" title="Portal">
                            <a class="bi bi-menu-button nav-link" href="{% url 'portal' %}#portal">
                                Portal
                            </a>
                        </li>
{% endif %}
                        <li class="nav-item" title="World">
                            <a class="nav-link icon-link icon-link-hover" href="{% url 'world' %}#world" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                <svg class="bi text-primary" aria-hidden="true">
                                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#globe-asia-australia"></use>
                                </svg>
                                World
                            </a>
                        </li>

                    </ul>

                </div>

            </nav>

        </header>

        <main class="container-fluid p-1">

            <div class="bg-black rounded border-ishar p-2 text-ishar">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
{% block breadcrumbs %}
                        <li class="breadcrumb-item h2" title="Welcome">
                            <svg class="bi text-primary" aria-hidden="true">
                                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#house"></use>
                            </svg>
                            Welcome
                        </li>
{% endblock breadcrumbs %}
                    </ol>
                </nav>
            </div>

{% block messages %}
    {% if messages %}
            <div id="messages">
        {% for message in messages %}
                <div class="m-2 p-3 rounded border-ishar alert alert-dark bg-black alert-dismissible fade show" role="alert">
                    <p class="fw-bold lead message-{{ message.tags }}">
                        {{ message }}
                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endfor %}
            </div>
    {% endif %}
{% endblock messages %}

            <div class="bg-black rounded border-ishar p-2 my-2">
{% block content %}
{% endblock content %}
            </div>
            <script src="{% static 'js/alertRefocus.js' %}"></script>
{% block player_search_form %}
        {% if user and user.is_authenticated and PLAYER_SEARCH_FORM %}
            <div class="bg-black rounded border-ishar p-3 my-2">
                {% include "search_form.html" %}
            </div>
        {% endif %}
{% endblock player_search_form %}

        </main>

{% if CURRENT_SEASON %}
        <footer class="container-fluid px-2 text-center" title="Season {{ CURRENT_SEASON.season_id }} ends {{ CURRENT_SEASON.expiration_date | naturaltime }}">

            <div class="row border-ishar bg-black rounded align-items-center m-1 p-2">

                <div class="col">
                    <a href="{% url 'current_season' %}#season">Season {{ CURRENT_SEASON.season_id }}</a>
                </div>

                <div class="col">
                    Ends {{ CURRENT_SEASON.expiration_date | naturaltime }}
                </div>

            </div>

        </footer>
{% endif %}

        <footer class="container-fluid px-2 text-center">

            <div class="row border-ishar bg-black rounded align-items-center m-1 p-3">

                <div class="col">
                    <a class="bi bi-envelope-at icon-link" href="mailto:{{ ADMIN_EMAIL }}" target="_blank" title="E-mail Us! ({{ ADMIN_EMAIL }})">
                        E-mail us!
                        <svg class="bi text-secondary" aria-hidden="true">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                        </svg>
                    </a>
                </div>

                <div class="col">
                    <a class="bi bi-heart" href="{% url 'support' %}#support" title="Support {{ WEBSITE_TITLE }}">
                        Support {{ WEBSITE_TITLE }}
                    </a>
                </div>

                <div class="col">
                    <a class="bi bi-discord icon-link" href="{% url 'discord' %}" target="_blank" title="Join us on Discord!">
                        Join us on Discord!
                        <svg class="bi text-secondary" aria-hidden="true">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                        </svg>
                    </a>
                </div>

            </div>

        </footer>

    </body>

</html>
