{% extends "layout.html" %}
{% block meta_title %}Log In{% endblock meta_title %}
{% block meta_description %}Log In{% endblock meta_description %}
{% block meta_url %}{% url 'login' %}#login{% endblock meta_url %}
{% block title %}Log In{% endblock title %}
{% block scripts %}let focusTo = 'id_username'{% endblock scripts %}
{% block breadcrumbs %}
    <li class="bi bi-door-open breadcrumb-item active h2" aria-current="page" title="Log In">
        <a href="{% url 'login' %}#portal" id="portal">
            Log In
        </a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
    {% if form %}
        {% if form.errors %}
<div class="alert alert-dark alert-dismissible fade show m-3" role="alert">
            {% for item, err_msg in form.errors.items %}
    <p class="text-danger">
        <b>{{ err_msg }}</b>
    </p>
            {% endfor %}
</div>
        {% endif %}
<form class="m-3" method="post" id="login-form">
    <p class="form-text" id="usernameInline">
        Please use your <strong>account name</strong>
        or <strong>e-mail address</strong> to log in - <em>thank you</em>!
    </p>
    <p>
        <label for="id_username" class="form-label fw-bold">Account Name / E-mail Address</label>
        <input aria-describedby="usernameInline" class="bg-black form-control rounded" type="text" name="username" autocapitalize="none" autocomplete="username" maxlength="25" required="" id="id_username">
    </p>
    <p>
        <label for="id_password" class="form-label fw-bold">Password</label>
        <input class="bg-black form-control rounded" type="password" name="password" autocomplete="current-password" required="" id="id_password">
    </p>
    {% csrf_token %}
    <p>
        <button class="btn btn-outline-primary" type="submit">Log In</button>
        <button class="btn btn-outline-secondary" type="reset">Clear</button>
    </p>
</form>
    {% endif %}
{% endblock content %}
