{% extends "layout.html" %}
{% block meta_title %}Log In{% endblock meta_title %}
{% block meta_description %}Log In{% endblock meta_description %}
{% block meta_url %}{% url 'login' %}{% endblock meta_url %}
{% block title %}Log In{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" title="Log In" id="login">
            <span class="text-ishar bi bi-door-open"></span>
            <a href="{% url 'login' %}#login" id="login">
                Log In
            </a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
    {% if form %}
        <p class="lead">
            Please use your <strong><em>account name</em></strong>
            or <strong><em>e-mail address</em></strong> to log in - thank you!
        </p>
        {% if form.errors %}
            {% for item, err_msg in form.errors.items %}
                {{ err_msg }}
            {% endfor %}
        {% endif %}
        <form method="post">
            <div class="bg-black border-ishar card container-sm">
                <div class="card-body">
                    <p class="mb-3">
                        <label for="id_username" class="form-label">Account Name / E-mail Address:</label>
                        <input class="bg-black form-control rounded" type="text" name="username" autocapitalize="none" autocomplete="username" maxlength="25" required="" id="id_username">
                    </p>
                    <p class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        <input class="bg-black form-control rounded" type="password" name="password" autocomplete="current-password" required="" id="id_password">
                    </p>
                    {% csrf_token %}
                    <p class="mb-3">
                        <button class="btn btn-outline-primary" type="submit">Log In</button>
                        <button class="btn btn-outline-secondary" type="reset">Clear</button>
                    </p>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock content %}
