{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Support {{ WEBSITE_TITLE }}{% endblock meta_title %}
{% block meta_description %}Please consider supporting {{ WEBSITE_TITLE }} in any way that you can!{% endblock meta_description %}
{% block meta_url %}{% url 'support' %}#support{% endblock meta_url %}
{% block title %}Support {{ WEBSITE_TITLE }}{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active h2" aria-current="page" title="Support {{ WEBSITE_TITLE }}">
        <a class="icon-link icon-link-hover" href="{% url 'support' %}#support">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#heart"></use>
            </svg>
            <span id="support">
                Support {{ WEBSITE_TITLE }}
            </span>
        </a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
    <p class="lead">
        While you are more than welcome to offer support, {{ WEBSITE_TITLE }} is free to use, play, and enjoy!
    </p>
    <p class="lead">
        Any contribution is simply for the development and maintenance of the game, and as a way to say &quot;<em>thank you</em>&quot;.
    </p>
    <div class="row">
        <div class="col-md-auto">
            <a class="icon-link icon-link-hover" href="https://www.patreon.com/bePatron?u=42650263" target="_blank" title="Become a Patron">
                <img alt="Become A Patron" class="rounded" src="{% static "images/become-a-patron.png" %}" style="height: 3rem;">
                <svg class="bi" aria-hidden="false" role="img" aria-label="Open Patreon.com in a new window.">
                    <use xlink:href="/static/bootstrap-icons/bootstrap-icons.svg#box-arrow-up-right"></use>
                </svg>
            </a>
        </div>
        <div class="col-md-auto">
            <a class="icon-link icon-link-hover" href="https://www.buymeacoffee.com/ishar" target="_blank" title="Buy Me A Coffee">
                <img alt="Buy Me A Coffee" class="rounded" src="{% static "images/buy-me-a-coffee.png" %}" style="height: 3rem;">
                <svg class="bi" aria-hidden="false" role="img" aria-label="Open BuyMeACoffee.com in a new window.">
                    <use xlink:href="/static/bootstrap-icons/bootstrap-icons.svg#box-arrow-up-right"></use>
                </svg>
            </a>
        </div>
    </div>
{% endblock content %}
