{% extends "layout.html" %}
{% block meta_title %}Remort Upgrades{% endblock meta_title %}
{% block meta_description %}Remort upgrades available to players, and their costs.{% endblock meta_description %}
{% block meta_url %}{% url 'upgrades' %}{% endblock meta_url %}
{% block title %}Remort Upgrades{% endblock title %}
{% block scripts %}
    <link href="https://cdn.datatables.net/2.1.6/css/dataTables.bootstrap5.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.bootstrap5.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.js"></script>
{% endblock scripts %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Portal">
            <span class="bi bi-shield text-ishar"></span>
            <a href="{% url 'portal' %}#portal" id="portal">
                Portal
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" title="Remort Upgrades">
            <a href="{% url 'upgrades' %}#upgrades" id="upgrades">
                Remort Upgrades
            </a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <p class="card-text lead">
                Here are the remort upgrades available to players, and the
                <a href="{% url 'help_page' help_topic='Renown' %}#topic">renown</a>
                costs for each upgrade.
            </p>
        </div>
    </div>
</div>
<div class="container-md">
    {% if upgrades %}
    <table class="table table-borderless table-dark table-flush table-sm table-striped" id="upgradesTable">
        <thead>
            <tr class="border-ishar">
                <th scope="col" title="Name">
                    <span class="text-ishar">Name</span>
                </th>
                <th scope="col" title="Tiers (Count)">
                    <span class="text-ishar">Tiers (Count)</span>
                </th>
                <th scope="col" title="Survival Tiers (Count)">
                    <span class="text-ishar">Survival Tiers (Count)</span>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for upgrade in upgrades %}
            <tr>
                <td class="border anchor-cell" id="{{ upgrade.anchor }}" data-order="{{ upgrade.display_name }}" data-search="{{ upgrade.display_name }}" title="Name: {{ upgrade.display_name }}">
                    {{ upgrade.display_name }}
                    <a class="anchor-link" href="#{{ upgrade.anchor }}" aria-label="Link to this section: Remort Upgrade - {{ upgrade.display_name }} ({{ upgrade.anchor }})">
                        &#x23;
                    </a>
                </td>
                <td class="border" data-order="{{ upgrade.renown_cost }}" data-search="" title="Tiers: {{ upgrade.tiers|join:', ' }} ({{ upgrade.tiers|length }} tier{{ upgrade.tiers|pluralize }})">
                    {{ upgrade.tiers|join:", " }}
                    (<strong>{{ upgrade.tiers|length }}</strong>)
                </td>
                <td class="border" data-order="{{ upgrade.survival_renown_cost }}" data-search="" title="Survival Tiers: {{ upgrade.survival_tiers|join:', ' }} ({{ upgrade.survival_tiers|length }} tier{{ upgrade.survival_tiers|pluralize }})">
                    {{ upgrade.survival_tiers|join:", " }}
                    (<strong>{{ upgrade.survival_tiers|length }}</strong>)
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr class="border-ishar">
                <th scope="col" title="Name">
                    <span class="text-ishar">Name</span>
                </th>
                <th scope="col" title="Tiers (Count)">
                    <span class="text-ishar">Tiers (Count)</span>
                </th>
                <th scope="col" title="Survival Tiers (Count)">
                    <span class="text-ishar">Survival Tiers (Count)</span>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    const itemName = 'upgrades'
    const searchLayout = { search: { placeholder: 'Upgrade Name' } }
    $('#upgradesTable').DataTable({
        buttons: ['colvis'],
        language: {
            info: `Showing _START_ to _END_ of _TOTAL_ ${itemName}`,
            infoEmpty: `Showing 0 to 0 of 0 ${itemName}`,
            infoFiltered: `(filtered from _MAX_ total ${itemName})`,
            lengthMenu: `Show _MENU_ ${itemName}`,
            zeroRecords: `No matching ${itemName} found`
        },
        layout: {
            top: 'info',
            topEnd: {
                buttons: [{
                    extend: 'colvis',
                    text: 'Columns'
                }],
            },
            topStart: searchLayout,
            bottom: 'info',
            bottomEnd: {
                buttons: [{
                    extend: 'colvis',
                    text: 'Columns'
                }],
            },
            bottomStart: searchLayout
        },
        order: [
            [0, 'asc']
        ],
        paging: false,
        scrollX: true
    });
</script>
    {% else %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <p class="card-text fst-italic lead text-warning">
                Sorry, but no upgrades were found.
            </p>
        </div>
    </div>
</div>
    {% endif %}
{% endblock content %}
