{% extends "layout.html" %}
{% block meta_title %}Remort Upgrades{% endblock meta_title %}
{% block meta_description %}Remort upgrades available to players, and their costs.{% endblock meta_description %}
{% block meta_url %}{% url 'upgrades' %}{% endblock meta_url %}
{% block title %}Remort Upgrades{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Portal">
            <span class="bi bi-person text-ishar"></span>
            <a href="{% url 'portal' %}#portal" id="portal">
                Portal
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" title="Remort Upgrades">
            <span class="bi bi-search text-ishar"></span>
            <a href="{% url 'upgrades' %}#upgrades" id="upgrades">
                Remort Upgrades
            </a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
    {% if upgrades %}
        <p class="lead">
            Here is a list of the <a href="{% url 'help_page' help_topic='Remort Upgrades' %}">remort upgrades</a>
            available to players, and the costs for each upgrade.
        </p>
        <h5 title="{{ upgrades.count }} upgrade{{ upgrades.count|pluralize }}">
            {{ upgrades.count }} upgrade{{ upgrades.count|pluralize }}
        </h5>
        <ul class="bg-dark list-group list-group-dark w-50">
        {% for upgrade in upgrades %}
            <li class="bg-black border border-secondary list-group-item list-group-item-dark list-group-item-text" title="Remort Upgrade: {{ upgrade.name }}">
                <strong>{{ forloop.counter }}.</strong>
                {{ upgrade.name }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="lead fst-italic">
            Sorry, but no remort upgrades were found.
        </p>
    {% endif %}
{% endblock content %}
