{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Remort Upgrades{% endblock meta_title %}
{% block meta_description %}Remort upgrades available to players, and their costs.{% endblock meta_description %}
{% block meta_url %}{% url 'upgrades' %}#upgrades{% endblock meta_url %}
{% block title %}Remort Upgrades{% endblock title %}
{% block includes %}
    <link href="{% static 'datatables/datatables.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'datatables/datatables.min.js' %}"></script>
{% endblock includes %}
{% block breadcrumbs %}
    <li class="breadcrumb-item h2" title="Portal">
        <a class="icon-link icon-link-hover" href="{% url 'portal' %}#portal">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
            </svg>
            <span id="portal">
                Portal
            </span>
        </a>
    </li>
    <li class="breadcrumb-item active h2" aria-current="page" title="Upgrades">
        <a class="icon-link icon-link-hover" href="{% url 'upgrades' %}#upgrades">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#shield"></use>
            </svg>
            <span id="upgrades">
                Upgrades
            </span>
        </a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
<div class="container-fluid">
    {% if upgrades %}
    <table class="table table-hover table-dark table-flush table-sm table-responsive table-striped" id="upgradesTable">
        <caption class="caption-top">
            Here are the remort upgrades available to players, and the
            <a href="{% url 'help_page' help_topic='Renown' %}#topic">renown</a>
            costs for each upgrade.
        </caption>
        <thead>
            <tr>
                <th scope="col" title="Link to section">
                    <strong class="bi bi-link-45deg"></strong>
                </th>
                <th scope="col" title="Name">
                    Name
                </th>
                <th scope="col" title="Tiers (#)">
                    Tiers (<span class="text-ishar">#</span>)
                </th>
                <th scope="col" title="Hardcore Tiers (#)">
                    Hardcore Tiers (<span class="text-ishar">#</span>)
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider text-ishar">
        {% for upgrade in upgrades %}
            <tr id="{{ upgrade.anchor }}" class="remort-upgrade-row">
                <td class="anchor-cell">
                    <a class="anchor-link icon-link icon-link-hover" href="#{{ upgrade.anchor }}" aria-label="Link to this section: Remort Upgrade - {{ upgrade.display_name }} ({{ upgrade.anchor }})">
                        <svg class="bi">
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#link-45deg"></use>
                        </svg>
                    </a>
                </td>
                <td title="Name: {{ upgrade.display_name }}">
                    {{ upgrade.display_name }}
                </td>
                <td data-order="{{ upgrade.renown_cost }}" title="Tiers: {{ upgrade.tiers|join:', ' }} ({{ upgrade.tiers|length }} tier{{ upgrade.tiers|pluralize }})">
                    {{ upgrade.tiers|join:", " }}
                    (<strong>{{ upgrade.tiers|length }}</strong>)
                </td>
                <td data-order="{{ upgrade.survival_renown_cost }}" title="Hardcore Tiers: {{ upgrade.survival_tiers|join:', ' }} ({{ upgrade.survival_tiers|length }} tier{{ upgrade.survival_tiers|pluralize }})">
                    {{ upgrade.survival_tiers|join:", " }}
                    (<strong>{{ upgrade.survival_tiers|length }}</strong>)
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="table-group-divider text-ishar">
            <tr>
                <th scope="col" title="#">
                    <span class="text-ishar">#</span>
                </th>
                <th scope="col" title="Name">
                    Name
                </th>
                <th scope="col" title="Tiers (#)">
                    Tiers (<span class="text-ishar">#</span>)
                </th>
                <th scope="col" title="Hardcore Tiers (#)">
                    Hardcore Tiers (<span class="text-ishar">#</span>)
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    const itemName = 'upgrades'
    const searchLayout = { search: { placeholder: 'Upgrade Name' } }
    const buttonLayout = { buttons: [{ extend: 'colvis', text: 'Columns' }] }
    $('#upgradesTable').DataTable({
        buttons: ['colvis'],
        columnDefs: [
            {
                orderable: false,
                searchable: false,
                targets: 0
            },
            {
                searchable: false,
                targets: [2, 3]
            }
        ],
        language: {
            info: `Showing _START_ to _END_ of _TOTAL_ ${itemName}`,
            infoEmpty: `Showing 0 to 0 of 0 ${itemName}`,
            infoFiltered: `(filtered from _MAX_ total ${itemName})`,
            lengthMenu: `Show _MENU_ ${itemName}`,
            zeroRecords: `No matching ${itemName} found`
        },
        layout: {
            top: 'info',
            topEnd: buttonLayout,
            topStart: searchLayout,
            bottom: 'info',
            bottomEnd: buttonLayout,
            bottomStart: searchLayout
        },
        order: [
            [1, 'asc']
        ],
        paging: false,
    })
</script>
    {% else %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <p class="card-text fst-italic lead text-warning">
                Sorry, but no upgrades were found.
            </p>
        </div>
    </div>
</div>
    {% endif %}
{% endblock content %}
