{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Season {{ season.season_id }}{% endblock meta_title %}
{% block meta_description %}Season {{ season.season_id }} of Ishar MUD.{% endblock meta_description %}
{% block meta_url %}{% url "season" season_id=season.season_id %}{% endblock meta_url %}
{% block title %}Season {{ season.season_id }}{% endblock title %}
{% block header %}<span class="bi bi-calendar"></span> Season {{ season.season_id }}{% endblock header %}
{% block content %}
    {% if season %}
    <div class="card-group">
        <div class="card bg-dark">
            <h3 class="card-header">Started</h3>
            <blockquote class="card-body blockquote">
                <p class="card-text" title="{{ season.effective_date }}">{{ season.effective_date }}</p>
                <footer class="blockquote-footer" title="{{ season.effective_date | naturaltime }}">
                    {{ season.effective_date | naturaltime }}
                </footer>
            </blockquote>
        </div>
        <div class="card bg-dark">
            <h3 class="card-header">Ends</h3>
            <blockquote class="card-body blockquote">
                <p class="card-text" title="{{ season.expiration_date }}">{{ season.expiration_date }}</p>
                <footer class="blockquote-footer" title="{{ season.expiration_date | naturaltime }}">
                    {{ season.expiration_date | naturaltime }}
                </footer>
            </blockquote>
        </div>
    </div>
    {% endif %}

    <div class="card bg-dark">
        <h4 class="card-header" title="Essence">Essence</h4>
        <div class="card-body">
            <p class="card-text lead">
                &quot;<a title="Essence" href="{% url "help_page" help_topic="Essence" %}">Essence</a>&quot;
                are the rewards points that you earn during each season!
            </p>
            <p class="card-text lead">
                Essence is preserved across seasons, and can be spent at any time
                by typing &quot;<code>shop</code>&quot; after logging in.
            </p>
    {% if request.user and not request.user.is_anonymous %}
            <p class="card-text lead">
                You can view your current essence balance,
                and see how many points you have earned so far this season,
                by visiting your <a href="{% url "account" %}#essence">account page</a>.
            </p>
    {% endif %}
        </div>
    </div>
{% endblock content %}
