:root {
    --ishar-color: #fa7;
}

input, body { background-color: #323639; color: #d6d6d7; }
.card-header, .card-title { color: var(--ishar-color); }
.card, .card-text, .card-footer { color: #d6d6d7; }
button, textarea, input, select { border: 0.1rem solid var(--ishar-color); background-color: #323639; color: var(--ishar-color); }
h1, h2, h3, h4, h5, strong, th, label, th, .gridjs-th-content, .gridjs-td[data-column-id="name"] { color: var(--ishar-color); }

.navbar-dark .navbar-toggler-icon { background-image: url("/static/images/cropped_ishar_logo_dark.png"); }

a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin-left: 0.25rem;
    filter: invert(1);
}

a { color: #09f; text-decoration: none; }
a:active, a:visited { color: #6082b6; }
a:hover { color: #d6d6d7; }

pre { padding-left: 2vw; white-space: pre-wrap; }

.god-player,
.forger-player,
.eternal-player,
.artisan-player,
.immortal-player,
.consort-player
{
    color: #00b7eb;
}

.nested-list { list-style: none; }
.non-classic { text-align: center; }

.god-player::after { content: ' 😇'; }
.forger-player::after,
.eternal-player::after,
.artisan-player::after,
.immortal-player::after,
.consort-player::after
{
    content: ' 👼';
}
.dead-player::after { content: ' ☠️'; }
.dead-player, .survival-player, .message-error, .errorlist  { color: #fa8072; }

.message-info { color: #09f; }
.message-success, .active-season td { color: #4cbb17; }
.message-warn, .message-warning  { color: #f80; }
#messages, #primary-stat { font-weight: bold; }
#player-description { padding-left: 2vw; }

#account-details, #account-manage, #essence-balance, #essence-upgrades,
#mud-client-list, .help-topic-list, #season-details, #world-list,
#player-remort-upgrades, #player-details, #player-time
{
    column-count: 2;
}

.challenge-completed {
    text-decoration: line-through;
    text-decoration-color: #a00;
    text-decoration-thickness: 0.15rem;
}
