{% extends "layout.html" %}
{% block meta_title %}Frequently Asked Questions{% endblock meta_title %}
{% block meta_description %}A few common questions that are asked about {{ WEBSITE_TITLE }}.{% endblock meta_description %}
{% block meta_url %}{% url 'faq' %}{% endblock meta_url %}
{% block title %}Frequently Asked Questions{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" title="Portal">
            <span class="bi bi-question-circle text-ishar"></span>
            <a href="{% url 'faq' %}#faq" id="faq">Frequently Asked Questions</a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block scripts %}let focusTo = 'faq'{% endblock scripts %}
{% block content %}
<div class="p-3">
    <div class="alert alert-dark alert-dismissible fade show" role="alert" id="faq-alert">
        <p class="lead">
            Here are a few common questions that are asked about {{ WEBSITE_TITLE }}.
        </p>
    {% if request.user.is_anonymous %}
        <p class="lead">
            You may also want to visit the
            <a href="{% url 'help_page' help_topic='MUD Basics' %}#topic" title="Help: MUD Basics">MUD Basics help page</a>,
            our <a href="{% url 'start' %}#start" title="Get Started">getting started guide</a>, and
            <a href="{% url 'discord' %}" target="_blank" title="{{ WEBSITE_TITLE }} Discord">join us on Discord</a>!
        </p>
    {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% if faqs %}
    {% for faq in faqs %}
<details open>
    <summary id="{{ faq.slug }}" class="h3 text-ishar" title="{{ faq.question_text }}">
        <a class="anchor-link" href="#{{ faq.slug }}" aria-label="Link to this section: Frequently Asked Question: {{ faq.question_text }} ({{ faq.slug }})">
            &#x23;
        </a>
        {{ faq.question_text }}
    </summary>
    {% autoescape off %}
    <p>
        {{ faq.question_answer }}
    </p>
    {% endautoescape %}
</details>
    {% endfor %}
{% else %}
<p class="lead">
    <i>No questions were found.</i>
</p>
{% endif %}
<div class="p-3">
    <div class="alert alert-dark alert-dismissible fade show" role="alert" id="faq-footer-alert">
        <p class="lead">
            If there is anything that you think is missing, please feel free to reach out, by e-mailing
            <a class="code font-monospace" href="mailto:{{ ADMIN_EMAIL }}" target="_blank" style="" title="E-mail: {{ ADMIN_EMAIL }}">
                {{ ADMIN_EMAIL }}
                <i class="bi bi-envelope-at"></i>
            </a>.
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endblock content %}
