{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block meta_title %}Events{% if GLOBAL_EVENT_COUNT > 0 %} ({{ GLOBAL_EVENT_COUNT }}){% endif %}{% endblock meta_title %}
{% block meta_description %}
    {% if GLOBAL_EVENT_COUNT > 0 %}
        {{ GLOBAL_EVENT_COUNT }} event{{ GLOBAL_EVENT_COUNT|pluralize }} active.
    {% else %}
        No active events right now.
    {% endif %}
{% endblock meta_description %}
{% block meta_url %}{% url 'events' %}#events{% endblock meta_url %}
{% block title %}Events{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item h2" title="Events">
        <a class="icon-link icon-link-hover" href="{% url 'events' %}#events" style="--bs-icon-link-transform: translate3d(0, -.3rem, 0);">
            <svg class="bi text-ishar" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#calendar-event"></use>
            </svg>
            <span id="events">
                Events
            </span>
        </a>
    </li>
    <li class="breadcrumb-item active h5" title="{{ GLOBAL_EVENT_COUNT }} event{{ GLOBAL_EVENT_COUNT|pluralize }}" style="--bs-breadcrumb-divider: '';">
        <span class="badge bg-dark rounded-pill border border-secondary">
            {{ GLOBAL_EVENT_COUNT }}
        </span>
    </li>
{% endblock breadcrumbs %}
{% block content %}
    {% if global_events and GLOBAL_EVENT_COUNT > 0 %}
        {% for global_event in global_events %}
<details open>
    <summary title="{{ global_event.event_desc }}">
        <h4 class="d-inline-flex">
            {{ global_event.event_desc }}
        </h4>
    </summary>
    <ul style="list-style: none">

        <li title="Ends">
            <i class="bi bi-hourglass-split text-secondary"></i>
            <h5 class="d-inline-flex">
                Ends
            </h5>
        </li>
        <li class="blockquote" title="{{ global_event.end_time | naturaltime }}">
            {{ global_event.end_time | naturaltime }}
        </li>
        <li class="blockquote-footer" title="{{ global_event.end_time }}">
            <time datetime="{{ global_event.end_time|date:"c" }}">
                {{ global_event.end_time }}
            </time>
        </li>

        <li title="Started">
            <i class="bi bi-clock-history text-secondary"></i>
            <h5 class="d-inline-flex">
                Started
            </h5>
        </li>
        <li class="blockquote" title="{{ global_event.start_time | naturaltime }}">
            {{ global_event.start_time|naturaltime }}
        </li>
        <li class="blockquote-footer" title="{{ global_event.start_time }}">
            <time datetime="{{ global_event.start_time|date:"c" }}">
                {{ global_event.start_time }}
            </time>
        </li>

    {% if global_event.xp_bonus and global_event.xp_bonus != '' and global_event.xp_bonus != 0 %}
        <li title="XP Bonus: {% widthratio global_event.xp_bonus 1 1 %}%">
            <i class="bi bi-fast-forward text-secondary"></i>
            <h5 class="d-inline-flex">
                XP Bonus
            </h5>
            <span class="align-middle badge bg-dark rounded-pill border border-secondary">
               {% widthratio global_event.xp_bonus 1 1 %}%
           </span>
        </li>
    {% endif %}

    {% if global_event.shop_bonus and global_event.shop_bonus != '' and global_event.shop_bonus != 0 %}
        <li title="Shop Bonus: {% widthratio 100 global_event.shop_bonus 1 %}% off">
            <i class="bi bi-cart-plus text-secondary"></i>
            <h5 class="d-inline-flex">
                Shop Bonus
            </h5>
            <span class="align-middle badge bg-dark rounded-pill border border-secondary">
                {% widthratio 100 global_event.shop_bonus 1 %}% off
            </span>
        </li>
    {% endif %}

    {% if global_event.is_luck %}
        <li title="Shavar and Chenchir shine brightly: +50 gold &amp; +25% moves!">
            <i class="bi bi-currency-exchange text-secondary"></i>
            <h5 class="d-inline-flex">
                Shavar and Chenchir shine brightly
            </h5>
            <span class="align-middle badge bg-dark rounded-pill border border-secondary">
                +50 gold
            </span>
            <span class="align-middle badge bg-dark rounded-pill border border-secondary">
                +25% moves
            </span>
        </li>
    {% endif %}
    </ul>

</details>
            {% if not forloop.last %}
<hr>
            {% endif %}
        {% endfor %}
    {% else %}
<h3 title="Sorry!">
    Sorry!
</h3>
<p class="lead" title="Unfortunately, there are no active events right now.">
    Unfortunately, there are no active events right now.
</p>
<p class="lead" title="Please check back later, or maybe try out some challenges!">
    Please check back later, or maybe try out some
    <a href="{% url 'challenges' %}#challenges" title="challenges">challenges</a>!
</p>
    {% endif %}
{% endblock content %}
