{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Patches{% endblock meta_title %}
{% block meta_description %}The latest patches to {{ WEBSITE_TITLE }}{% endblock meta_description %}
{% block meta_url %}{% url "patches" %}{% endblock meta_url %}
{% block title %}Patches{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '•';">
    <ol class="breadcrumb" style="--bs-breadcrumb-divider-color: var(--ishar-color);">
        <li class="breadcrumb-item active" aria-current="page" title="Patches">
            <span class="bi bi-bandaid text-ishar"></span>
            <a href="{% url "patches" %}">Patches</a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
<p class="lead">
    {{ WEBSITE_TITLE }} is under regular development, and constantly being improved!
</p>

{% if patches %}
    {% include "pagination.html" %}
    {% for patch in patches %}
<details class="bg-black border border-secondary rounded mx-1 my-3" {% if forloop.first %} open{% endif %}>
    <summary id="{{ patch.patch_name | slugify }}" class="h3 p-2 text-ishar bg-black" title="{{ patch.patch_name }}">
        {{ patch.patch_name }}
        <a class="anchor-link" href="#{{ patch.patch_name | slugify }}" aria-label="Link to this section: Patch {{ patch.patch_name }} ({{ patch.patch_name | slugify }})">&#x23;</a>
    </summary>
    <blockquote class="border-top border-secondary blockquote m-3">
        <p>
            <a href="{{ patch.patch_file.url }}" target="_blank" title="{{ patch.patch_file.name }} &lt;https://{{ request.META.HTTP_HOST }}{{ patch.patch_file.url }}&gt;">
                {{ patch.patch_file.name }}
            </a>
            <small>
                <code title="{{ patch.patch_file.size | filesizeformat }}">
                    {{ patch.patch_file.size | filesizeformat }}
                </code>
            </small>
        </p>
        <footer class="blockquote-footer" title="-- {{ patch.account.get_username | title }} @ {{ patch.patch_date | date:"r" }}">
            <cite>{{ patch.account.get_username | title }}</cite> @ {{ patch.patch_date | date:"l, F jS, Y" }}
        </footer>
    </blockquote>
</details>
    {% endfor %}
    {% include "pagination.html" %}
{% else %}
    <p class="lead">
        No patches found.
    </p>
{% endif %}
{% endblock content %}
