{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block meta_title %}Challenges{% endblock meta_title %}
{% block meta_description %}Challenges currently available, A.{% endblock meta_description %}
{% block meta_url %}{% url 'challenges' %}#challenges{% endblock meta_url %}
{% block title %}Challenges{% endblock title %}
{% block includes %}
    <link href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
{% endblock includes %}
{% block scripts %}let focusTo = 'challenges'{% endblock scripts %}
{% block breadcrumbs %}
    <li class="breadcrumb-item h2" title="Portal">
        <a class="icon-link icon-link-hover" href="{% url 'portal' %}#portal">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
            </svg>
            <span id="portal">
                Portal
            </span>
        </a>
    </li>
    <li class="breadcrumb-item active h2" aria-current="page" title="Challenges">
        <a class="icon-link icon-link-hover" href="{% url 'challenges' %}#challenges">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#award"></use>
            </svg>
            <span id="challenges">
                Challenges
            </span>
        </a>
    </li>
    {% if completed is not None %}
    <li class="breadcrumb-item active h2" aria-current="page" title="">
        <a class="icon-link icon-link-hover" href="{% if completed %}{% url 'complete' %}{% else %}{% url 'incomplete' %}{% endif %}#challenges">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#award-fill"></use>
            </svg>
            <span id="challenges">
                {% if completed %}Complete{% else %}Incomplete{% endif %}
            </span>
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
<div class="container-fluid">
    {% if challenges %}
    <table class="table table-hover table-dark table-flush table-sm table-responsive table-striped" id="challengesTable">
        {% if CURRENT_SEASON %}
        <caption class="caption-top" id="cycle">
            <a class="icon-link" href="#cycle">
                <svg class="bi" aria-hidden="false" role="img" aria-label="Link to this section: Next Cycle: {{ CURRENT_SEASON.get_next_cycle|naturaltime }} ({{ CURRENT_SEASON.get_next_cycle }})">
                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#recycle"></use>
                </svg>
            </a>
            Challenges will next cycle <strong>{{ CURRENT_SEASON.get_next_cycle|naturaltime }}</strong> -
            at <time class="fst-italic" datetime="{{ CURRENT_SEASON.get_next_cycle|date:"c" }}">
                {{ CURRENT_SEASON.get_next_cycle }}
            </time>
            <a class="anchor-link" href="#cycle" aria-label="Link to this section: Next challenge cycle."></a>
        </caption>
        {% endif %}
        <thead>
            <tr>
                <th class="border" scope="col" title="#">
                    <span class="text-ishar">#</span>
                </th>
                <th class="border" scope="col" title="Find & Kill">
                    <span class="text-ishar">Find & Kill</span>
                </th>
                <th class="border" scope="col" title="Max People">
                    <span class="text-ishar">Max People</span>
                </th>
                <th class="border" scope="col" title="Max Level">
                    <span class="text-ishar">Max Level</span>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider text-ishar">
        {% for challenge in challenges %}
            <tr id="{{ challenge.anchor }}" class="challenge-row">
                <th data-order="" data-search="">
                    <a href="#{{ challenge.anchor }}" aria-label="Link to this section: Challenge - {{ challenge.mobile.long_name }} ({{ challenge.anchor }})">
                        &#x23;
                    </a>
                </th>
                <td data-order="{{ challenge.mobile.long_name }}" data-search="{{ challenge.mobile.long_name }}" title="Mobile Name: {{ challenge.mobile.long_name }}">
                    <span class="{% if challenge.is_completed %}challenge-completed{% endif %}">
                        {{ challenge.mobile.long_name }}
                    </span>
            {% if challenge.is_completed %}
                    <span class="fw-normal text-ishar">
                        <b>Completed</b> by
                        {{ challenge.winners_links|join:", " }}
                    </span>
            {% endif %}
                </td>
                <td data-order="{{ challenge.max_people }}" data-search="" title="Max People: {{ challenge.max_people }}">
                    {{ challenge.max_people }}
                </td>
                <td data-order="{{ challenge.max_level }}" data-search="" title="Max Level: {{ challenge.max_level }}">
                    {{ challenge.max_level }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr class="table-group-divider text-ishar">
                <th class="border" scope="col" title="#">
                    <span class="text-ishar">#</span>
                </th>
                <th class="border" scope="col" title="Find & Kill">
                    <span class="text-ishar">Find & Kill</span>
                </th>
                <th class="border" scope="col" title="Max People">
                    <span class="text-ishar">Max People</span>
                </th>
                <th class="border" scope="col" title="Max Level">
                    <span class="text-ishar">Max Level</span>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    const itemName = 'challenges'
    const searchLayout = { search: { placeholder: 'Mobile Name' } }
    $('#challengesTable').DataTable({
        columnDefs: [
            {
                orderable: false,
                searchable: false,
                targets: [0],
                type: 'string'
            },
            {
                searchable: true,
                targets: [1],
                type: 'html'
            },
            {
                searchable: false,
                targets: [2, 3],
                type: 'num'
            }
        ],
        language: {
            info: `Showing _START_ to _END_ of _TOTAL_ ${itemName}`,
            infoEmpty: `Showing 0 to 0 of 0 ${itemName}`,
            infoFiltered: `(filtered from _MAX_ total ${itemName})`,
            lengthMenu: `Show _MENU_ ${itemName}`,
            zeroRecords: `No matching ${itemName} found`
        },
        layout: {
            topStart: searchLayout,
            topEnd: 'info',
            bottomStart: searchLayout,
            bottomEnd: 'info',
        },
        order: [
            [3, 'desc'],
            [2, 'desc'],
            [1, 'asc']
        ],
        paging: false,
    })
</script>
    {% else %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <p class="card-text fst-italic lead text-warning">
                Sorry, but no challenges were found.
            </p>
        </div>
    </div>
</div>
    {% endif %}
{% endblock content %}
