{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Feedback{% endblock meta_title %}
{% block meta_description %}Feedback about {{ WEBSITE_TITLE }}.{% endblock meta_description %}
{% block meta_url %}{% url 'feedback' %}#feedback{% endblock meta_url %}
{% block title %}Feedback{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Portal">
            <span class="text-ishar bi bi-flag"></span>
            <a href="{% url 'portal' %}#portal" id="portal">Portal</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" title="Feedback">
            <a href="{% url 'feedback' %}#feedback" id="feedback">Feedback</a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
<div class="p-3">
    <div class="card m-1">
        <div class="card-body">
            <p class="card-text lead">
                Please feel free to <a href="{% url 'submit_feedback' %}#submit">submit</a>
                any bug reports, ideas, suggestions, or other feedback that you have about {{ WEBSITE_TITLE }}!
            </p>
        </div>
    </div>
</div>
<div class="p-3">
    <div class="card m-1">
        <div class="card-body">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item bg-black card-text" title="All" id="all">
    {% if submission_type is None %}
                    <span class="text-ishar">All</span>
    {% else %}
                    <a class="list-group-item-text" href="{% url 'feedback' %}#all">All</a>
    {% endif %}
                </li>
    {% for num, name in submission_types %}
                <li class="list-group-item bg-black card-text" title="{{ name }}" id="{{ name|lower }}">
        {% if submission_type == num %}
                    <span class="text-ishar">{{ name }}</span>
        {% else %}
                    <a class="list-group-item-text" href="{% url 'feedback' %}{{ name|lower }}#{{ name|lower }}">
                        {{ name }}
                    </a>
        {% endif %}
                </li>
    {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% if submissions %}
        {% for submission in submissions %}
<div class="p-3">
    <div class="border bg-black card m-1">
        <div class="card-header">
            <a class="anchor-link" id="{{ submission.submission_id }}" href="#{{ submission.submission_id }}" aria-label="Link to this {{ submission.get_submission_type_display }}: {{ submission.subject }} ({{ submission.submission_id }})">
                <i class="bi bi-{{ submission.display_icon }} text-primary text-decoration-none" title="{{ submission.get_submission_type_display }}: {{ submission.subject }} ({{ submission.submission_id }})"></i>
            </a>
            <strong class="card-title h5 mx-1" title="{{ submission.subject }}">
                {{ submission.subject }}
            </strong>
            <span class="badge rounded-pill vote-count" id="voteCount-{{ submission.submission_id }}"></span>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="card-text small">
                    {{ submission.body_text }}
                </p>
                <footer class="blockquote-footer" title="{{ submission.account.get_username | title }}">
                    <cite>{{ submission.submitted|naturaltime }}</cite>
                </footer>
            </blockquote>
        </div>
        <div class="card-footer" title="{{ submission.submitted }}">
            <i class="text-secondary">
                {{ submission.submitted }}
            </i>
            <button class="vote-button border-0 bg-transparent button px-1 bi bi-arrow-up-circle text-secondary" id="voteButton-{{ submission.submission_id }}" title="Vote up"></button>
        </div>
    </div>
</div>
        {% endfor %}
    {% if page_obj and page_obj.paginator.num_pages > 1 %}
<div class="px-4 py-2">
    <div class="card m-1 bg-black">
        <div class="card-body">
        {% include "pagination.html" %}
        </div>
    </div>
</div>
    {% endif %}
{% else %}
<div class="px-4 py-2">
    <div class="card m-1">
        <div class="card-body">
            <p class="card-text">
                <strong>
                    Sorry, but no feedback submissions were found at this time.
                </strong>
            </p>
            <p class="card-text">
                Please check back again later or
                <a href="{% url 'submit_feedback' %}#submit">submit your own feedback</a>.
            </p>
        </div>
    </div>
</div>
    {% endif %}
<div class="p-3">
    <div class="card m-1">
        <div class="card-body">
            <p class="card-text">
                Additionally, you are always more than welcome to reach out by e-mailing
                <a class="code font-monospace" href="mailto:{{ ADMIN_EMAIL }}" target="_blank" style="" title="E-mail: {{ ADMIN_EMAIL }}">
                    {{ ADMIN_EMAIL }}
                    <i class="bi bi-envelope-at"></i>
                </a>.
            </p>
        </div>
    </div>
</div>

<script>
    async function displayVotes(submission) {
        let submissionId = submission.id.replace("voteButton-", "")
        let submissionCount = document.getElementById(`voteCount-${submissionId}`)
        let xhr = new XMLHttpRequest()
        xhr.open("GET", `/feedback/vote/${submissionId}/`)
        xhr.onreadystatechange = async () => {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status >= 200) {
                let voteResults = JSON.parse(xhr.responseText)
                if (voteResults.vote === true) {
                    submission.classList.remove("text-secondary")
                    submission.classList.add("text-ishar")
                } else {
                    submission.classList.remove("text-ishar")
                    submission.classList.add("text-secondary")
                }
                submissionCount.classList.remove("text-bg-danger")
                submissionCount.classList.remove("text-bg-success")
                submissionCount.classList.remove("text-bg-secondary")
                if (voteResults.total < 0) {
                    submissionCount.classList.add("text-bg-danger")
                } else if (voteResults.total  > 0) {
                    submissionCount.classList.add("text-bg-success")
                } else {
                    submissionCount.classList.add("text-bg-secondary")
                }
                submissionCount.textContent = voteResults.total
            }
        }
        await xhr.send()
    }

    async function voteFeedback(submission) {
        let submissionId = submission.id.replace("voteButton-", "");
        let xhr = new XMLHttpRequest()
        xhr.open("POST", `/feedback/vote/${submissionId}/`)
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
        xhr.onreadystatechange = async () => {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status >= 200) {
                displayVotes(submission)
            }
        }
        await xhr.send(`csrfmiddlewaretoken={{ csrf_token }}`)
    }

    Array.from(document.getElementsByClassName("vote-button")).forEach(
        async (element) => {
            element.onclick = async () => { await voteFeedback(element) }
            await displayVotes(element)
        }
    )
</script>
{% endblock content %}
