{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Feedback{% endblock meta_title %}
{% block meta_description %}Feedback about {{ WEBSITE_TITLE }}.{% endblock meta_description %}
{% block meta_url %}{% url 'feedback' %}#feedback{% endblock meta_url %}
{% block title %}Feedback{% endblock title %}
{% block scripts %}let focusTo = 'feedback'{% endblock scripts %}
{% block breadcrumbs %}
    <li class="bi bi-flag breadcrumb-item h2" title="Portal">
        <a href="{% url 'portal' %}#portal" id="portal">Portal</a>
    </li>
    <li class="breadcrumb-item active h2" aria-current="page" title="Feedback">
        <a href="{% url 'feedback' %}#feedback" id="feedback">Feedback</a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
<div class="alert alert-dark alert-dismissible fade show" role="alert" id="feedback-alert">
    <p class="lead">
        Please feel free to <a href="{% url 'submit_feedback' %}#submit">submit</a>
        any bug reports, ideas, suggestions, or other feedback that you have about {{ WEBSITE_TITLE }}!
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% if submissions %}
    {% include "feedback_pages.html" %}
    {% for submission in submissions %}
<div class="border bg-black card p-1 m-1">
    <div class="card-header" title="{{ submission.get_submission_type_display }}: {{ submission.subject }} ({{ submission.vote_total }} vote{{ submission.vote_total|pluralize }})">
        <a class="anchor-link" id="{{ submission.submission_id }}" href="#{{ submission.submission_id }}" aria-label="Link to this {{ submission.get_submission_type_display }}: {{ submission.subject }} ({{ submission.vote_total }} vote{{ submission.vote_total|pluralize }})">
            <i class="bi bi-{{ submission.display_icon }} text-primary text-decoration-none"></i>
        </a>
        <strong class="card-title h5" title="{{ submission.subject }}">
            {{ submission.subject }}
        </strong>
        <span class="badge rounded-pill vote-count" id="voteCount-{{ submission.submission_id }}"></span>
    </div>
    <div class="card-body">
        <blockquote class="blockquote m-0">
            <p class="card-text small">
                {{ submission.body_text }}
            </p>
            <footer class="blockquote-footer" title="{{ submission.submitted|naturaltime }}">
                <cite>{{ submission.submitted|naturaltime }}</cite>
            </footer>
        </blockquote>
    </div>
    <div class="card-footer" title="{{ submission.submitted }}">
        <i class="text-secondary">
            {{ submission.submitted }}
        </i>
        <button class="vote-button border-0 bg-transparent button px-1 bi bi-arrow-up-circle text-secondary" id="voteButton-{{ submission.submission_id }}" title="Vote up"></button>
    </div>
</div>
    {% endfor %}
    {% include "feedback_pages.html" %}
{% else %}
<div class="card">
    <div class="card-body">
        <p class="card-text fst-italic">
            Sorry, but no feedback submissions were found at this time.
        </p>
        <p class="card-text">
            Please check back again later or
            <a href="{% url 'submit_feedback' %}#submit">submit your own feedback</a>.
        </p>
    </div>
</div>
{% endif %}
<div class="alert alert-dark alert-dismissible fade show m-3" role="alert" id="mail-alert">
    <p>
        Additionally, you are always more than welcome to reach out by e-mailing
        <a class="code font-monospace" href="mailto:{{ ADMIN_EMAIL }}" target="_blank" style="" title="E-mail: {{ ADMIN_EMAIL }}">
            {{ ADMIN_EMAIL }} <i class="bi bi-envelope-at"></i>
        </a>.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script>
    async function displayVotes(submission) {
        let submissionId = submission.id.replace("voteButton-", "")
        let submissionCount = document.getElementById(`voteCount-${submissionId}`)
        let xhr = new XMLHttpRequest()
        xhr.open("GET", `/feedback/vote/${submissionId}/`)
        xhr.onreadystatechange = async () => {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status >= 200) {
                let voteResults = JSON.parse(xhr.responseText)
                if (voteResults.vote === true) {
                    submission.classList.remove("text-secondary")
                    submission.classList.add("text-ishar")
                } else {
                    submission.classList.remove("text-ishar")
                    submission.classList.add("text-secondary")
                }
                submissionCount.classList.remove("text-bg-danger")
                submissionCount.classList.remove("text-bg-success")
                submissionCount.classList.remove("text-bg-secondary")
                if (voteResults.total < 0) {
                    submissionCount.classList.add("text-bg-danger")
                } else if (voteResults.total  > 0) {
                    submissionCount.classList.add("text-bg-success")
                } else {
                    submissionCount.classList.add("text-bg-secondary")
                }
                submissionCount.textContent = voteResults.total
            }
        }
        await xhr.send()
    }

    async function voteFeedback(submission) {
        let submissionId = submission.id.replace("voteButton-", "");
        let xhr = new XMLHttpRequest()
        xhr.open("POST", `/feedback/vote/${submissionId}/`)
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
        xhr.onreadystatechange = async () => {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status >= 200) {
                displayVotes(submission)
            }
        }
        await xhr.send(`csrfmiddlewaretoken={{ csrf_token }}`)
    }

    Array.from(document.getElementsByClassName("vote-button")).forEach(
        async (element) => {
            element.onclick = async () => { await voteFeedback(element) }
            await displayVotes(element)
        }
    )
</script>
{% endblock content %}
