{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Latest Patch{% endblock meta_title %}
{% block meta_description %}The latest patch to {{ WEBSITE_TITLE }}{% endblock meta_description %}
{% block meta_url %}{% url 'latest_patch' %}#latest{% endblock meta_url %}
{% block title %}Latest Patch{% endblock title %}
{% block breadcrumbs %}
    <li class="h2 bi bi-file-earmark-pdf breadcrumb-item" title="Patches">
        <a href="{% url 'patches' %}#patches" id="patches">Patches</a>
    </li>
    <li class="h2 breadcrumb-item active" aria-current="page" title="Latest Patch">
        <a href="{% url 'latest_patch' %}#latest" id="latest">Latest</a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="embed-responsive object-fit-scale border rounded">
            <object data="{{ patches.0.get_absolute_url }}" type="application/pdf" style="height: 80vh; width: 100%"></object>
        </div>
    </div>
    <div class="card-footer">
        <span class="blockquote-footer">
            <a class="icon-link" href="{{ patches.0.get_absolute_url }}" target="_blank" title="{{ patches.0.patch_file.name }} &lt;{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ patches.0.patch_file.url }}&gt;">
                {{ patches.0.patch_file.name }}
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                </svg>
            </a>
        </span>
    </div>
</div>
{% endblock content %}
