{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Latest Patch{% endblock meta_title %}
{% block meta_description %}The latest patch to {{ WEBSITE_TITLE }}{% endblock meta_description %}
{% block meta_url %}{% url 'latest_patch' %}#latest{% endblock meta_url %}
{% block title %}Latest Patch{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" title="Patches">
            <span class="bi bi-bandaid"></span>
            <a href="{% url 'patches' %}#patches" id="patches">Patches</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" title="Latest Patch">
            <a href="{% url 'latest_patch' %}#latest" id="latest">
                Latest
            </a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block content %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <div class="embed-responsive object-fit-scale border rounded">
                <object data="{{ patches.0.get_absolute_url }}" type="application/pdf" style="height: 80vh; width: 100%"></object>
            </div>
        </div>
        <div class="card-footer">
            <span class="blockquote-footer">
                <a href="{{ patches.0.get_absolute_url }}" target="_blank" title="Open: {{ patches.0.patch_file.name }}">
                    {{ patches.0.patch_file.name }}
                </a>
            </span>
        </div>
    </div>
</div>
{% endblock content %}
