{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Patches{% endblock meta_title %}
{% block meta_description %}The latest patches to {{ WEBSITE_TITLE }}{% endblock meta_description %}
{% block meta_url %}{% url 'patches' %}{% endblock meta_url %}
{% block title %}Patches{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" title="Patches">
            <span class="bi bi-bandaid"></span>
            <a href="{% url 'patches' %}#patches" id="patches">Patches</a>
        </li>
    {% if page_obj.number and page_obj.number != 1 %}
        <li class="breadcrumb-item active" aria-current="page" title="Patches">
            <a href="{% url 'patches' %}?page={{ page_obj.number }}#patches" id="page">
                Page {{ page_obj.number }}
            </a>
        </li>
    {% endif %}
    </ol>
</nav>
{% endblock header %}
{% block content %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <p class="card-text lead">
                {{ WEBSITE_TITLE }} is under regular development,
                and constantly being improved!
            </p>
        </div>
    </div>
</div>
    {% if patches %}
        {% for patch in patches %}
<details {% if forloop.first %} open{% endif %}>
    <summary id="{{ patch.patch_name | slugify }}" class="h3 text-ishar" title="{{ patch.patch_name }}">
        <a class="anchor-link" href="#{{ patch.patch_name | slugify }}" aria-label="Link to this section: Patch {{ patch.patch_name }} ({{ patch.patch_name | slugify }})">
            &#x23;
        </a>
        {{ patch.patch_name }}
    </summary>
    <blockquote class="blockquote">
        <p>
            <a href="{{ patch.patch_file.url }}" target="_blank" title="{{ patch.patch_file.name }} &lt;https://{{ request.META.HTTP_HOST }}{{ patch.patch_file.url }}&gt;">
                {{ patch.patch_file.name }}
            </a>
            <small>
                <code title="{{ patch.patch_file.size | filesizeformat }}">
                    {{ patch.patch_file.size | filesizeformat }}
                </code>
            </small>
        </p>
        <footer class="blockquote-footer" title="-- {{ patch.account.get_username | title }} @ {{ patch.patch_date | date:"l, F jS, Y" }}">
            <cite>{{ patch.account.get_username | title }}</cite> @ {{ patch.patch_date | date:"l, F jS, Y" }}
        </footer>
    </blockquote>
</details>
        {% endfor %}
<div class="p-3">
    <div class="card">
        <div class="card-body">
        {% include "pagination.html" %}
        </div>
    </div>
</div>
    {% else %}
<p class="lead">
    No patches found.
</p>
    {% endif %}
{% endblock content %}
