{% extends "layout.html" %}
{% load static %}
{% block meta_title %}Patches{% endblock meta_title %}
{% block meta_description %}The latest patches to {{ WEBSITE_TITLE }}{% endblock meta_description %}
{% block meta_url %}{% url 'patches' %}#patches{% endblock meta_url %}
{% block title %}Patches{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item h2{% if page_obj.number and page_obj.number == 1 %} active" aria-current="page{% endif %}" title="Patches">
        <a class="icon-link icon-link-hover" href="{% url 'patches' %}#patches">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#bandaid"></use>
            </svg>
            <span id="patches">
                Patches
            </span>
        </a>
    </li>
    {% if page_obj.number and page_obj.number != 1 %}
    <li class="breadcrumb-item active h2" aria-current="page" title="Patches">
        <a class="icon-link icon-link-hover" href="{% url 'patches' %}?page={{ page_obj.number }}#patches">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#file-earmark"></use>
            </svg>
            <span id="page">
                Page {{ page_obj.number }}
            </span>
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block scripts %}let focusTo = 'patches'{% endblock scripts %}
{% block content %}
<div class="alert alert-dark alert-dismissible fade show" role="alert" id="patch-alert">
    <p class="lead">
        {{ WEBSITE_TITLE }} is under regular development,  and constantly being improved!
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% if patches %}
        {% for patch in patches %}
<details {% if forloop.first %} open{% endif %}>
    <summary id="{{ patch.patch_name | slugify }}" class="h3 text-ishar" title="{{ patch.patch_name }}">
        <a class="anchor-link" href="#{{ patch.patch_name | slugify }}" aria-label="Link to this section: Patch {{ patch.patch_name }} ({{ patch.patch_name | slugify }})">
            &#x23;
        </a>
        {{ patch.patch_name }}
    </summary>
    <blockquote class="blockquote">
        <p>
            <a class="icon-link" href="{{ patch.patch_file.url }}" target="_blank" title="{{ patch.patch_file.name }} &lt;{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ patch.patch_file.url }}&gt;">
                <code>{{ patch.patch_file.name }}</code>
                <svg class="bi" role="img" aria-hidden="false" aria-label="Open &quot;{{ patch.patch_name }}&quot; patch PDF in a new window.">
                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                </svg>
            </a>
            <small>
                <code title="{{ patch.patch_file.size | filesizeformat }}">
                    {{ patch.patch_file.size | filesizeformat }}
                </code>
            </small>
        </p>
        <footer class="blockquote-footer" title="-- {{ patch.account.get_username|title }} @ {{ patch.patch_date|date:"l, F jS, Y" }}">
            <cite>
                {{ patch.account.get_username|title }}
            </cite>
            @
            <time datetime="{{ patch.patch_date|date:'c' }}">
                {{ patch.patch_date|date:"l, F jS, Y" }}
            </time>
        </footer>
    </blockquote>
</details>
            {% if not forloop.last%}
<hr>
            {% endif %}
        {% endfor %}
        {% if page_obj %}
<hr>
<nav aria-label="Patches pages navigation">
    <ul class="pagination p-1">

            {% if page_obj.number != 1 %}
        <li class="page-item">
            <a aria-label="First" class="page-link" href="?page=1#patches" >
                &laquo;
            </a>
            {% else %}
        <li class="page-item disabled">
            <a aria-label="First" aria-hidden="true" class="page-link" href="#patches">
                &laquo;
            </a>
            {% endif %}
        </li>

            {% if page_obj.has_previous %}
        <li class="page-item">
            <a aria-label="Previous" class="page-link" href="?page={{ page_obj.previous_page_number }}#patches">
                &#8249;
            </a>
            {% else %}
        <li class="page-item disabled">
            <a aria-label="Previous" aria-hidden="true" class="page-link" href="#patches">
                &#8249;
            </a>
            {% endif %}
        </li>

            {% for item in page_obj.paginator.page_range %}
        <li class="page-item{% if page_obj.number == item %} active" aria-current="page{% endif %}">
            <a aria-label="Page #{{ item }}" class="page-link" href="?page={{ item }}#patches">
                {{ item }}
            </a>
        </li>
            {% endfor %}

            {% if page_obj.has_next %}
        <li class="page-item">
            <a aria-label="Next" class="page-link" href="?page={{ page_obj.next_page_number }}#patches">
                &#8250;
            </a>
            {% else %}
        <li class="page-item disabled">
            <a aria-label="Next" aria-hidden="true" class="page-link" href="#patches">
                &#8250;
            </a>
            {% endif %}
        </li>

            {% if page_obj.number != page_obj.paginator.num_pages %}
        <li class="page-item">
            <a aria-label="Last" class="page-link" href="?page={{ page_obj.paginator.num_pages }}#patches">
                &raquo;
            </a>
            {% else %}
        <li class="page-item disabled">
            <a aria-label="Last" aria-hidden="true" class="page-link" href="#patches">
                &raquo;
            </a>
            {% endif %}
        </li>
    </ul>
</nav>
        {% endif %}
    {% else %}
<p class="lead">
    No patches found.
</p>
    {% endif %}
{% endblock content %}
