                <p id="go-back">
                    <button title="Go Back" onClick="history.back()">
                        <img src="{{ url_for('static', filename='images/back.gif') }}" alt="Go Back">
                    </button>
                </p>
