{%- set page = 'challenges' -%}
{% extends "layout.html.j2" %}
{%- set challenges_pre  = 'Challenges' -%}
{%- if challenges is defined and challenges is iterable and challenges | length > 0 %}
    {%- set challenges_completed    = challenges | selectattr('winner_desc', '!=', '') | list | length %}
    {%- set challenges_total        = challenges | list | length %}
    {%- set challenges_title        = challenges_pre + ' (' + challenges_completed | string + '/' + challenges_total | string + ')'  %}
{%- endif %}
{% block meta_title %}Challenges{% endblock meta_title %}
{% block meta_description %}Challenges, winners, and rewards currently available{% endblock meta_description %}
{% block meta_url %}{{ url_for('challenges.index', _external=True) }}{% endblock meta_url %}
{% block title %}{{ challenges_title }}{% endblock title %}
{% block header %}{{ challenges_title }}{% endblock header %}
{%- macro display_challenge(challenge) %}
    {%- set tiers = { 9: 'SS', 8: 'SS', 7: 'SS', 6: 'S', 5: 'A', 4: 'B', 3: 'C', 2: 'D', 1: 'F' } -%}
    {%- set challenge_tier = tiers[challenge.adj_tier] + '(' + tiers[challenge.orig_tier] + ')' %}
    {%- if challenge.is_completed %}
        {%- set challenge_name = 'gridjs.html(`<span class="challenge-completed">' + challenge.mob_name + '</span>`)' %}
        {%- set challenge_winners   = challenge.winner_desc.replace(' ', '').split(',') %}
    {%- else %}
        {%- set challenge_name = '"' + challenge.mob_name + '"' %}
    {%- endif %}
                            name:       {{ challenge_name }},
                            people:     {{ challenge.adj_people }},
                            level:      {{ challenge.adj_level }},
                            reward:     "{{ challenge_tier }}",
                            completed:  {% if not challenge.is_completed %}""{%- else %}gridjs.html(`{%- for challenge_winner in challenge_winners -%}
                                        <a href="{{ url_for('players.view', player_name=challenge_winner, _anchor='player') }}">{{ challenge_winner | title | safe }}</a>
                                        {%- if not loop.last %}, {% endif %}
                                    {%- endfor %}`)
                                        {%- endif %}
{%- endmacro %}
{%- block scripts %}
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            function showChallenges(where) {
                new gridjs.Grid({
                    columns: [
                        {
                            id:     'name',
                            name:   'Find and Kill',
                        },
                        {
                            id:     'people',
                            name:   'People'
                        },
                        {
                            id:     'level',
                            name:   'Level'
                        },
                        {
                            id:     'reward',
                            name:   'Reward'
                        },
                        {
                            id:     'completed',
                            name:   'Completed'
                        }
                    ],
                    data: [
                      {%- for challenge in challenges %}
                        {
                            {{ display_challenge(challenge) }}
                        }{% if not loop.last %},{% endif %}
                      {%- endfor %}
                    ],
                    search: true,
                    sort: true,
                    pagination: false
                }).render(where);
            };
        </script>
{%- endblock scripts %}
{%- block content %}
                <div id="challenges"></div>
                <script>
                    showChallenges(document.getElementById('challenges'));
                </script>
{%- endblock content %}
