{% extends "layout.html.j2" %}
{% block meta_title %}Change Password{% endblock meta_title %}
{% block meta_description %}Change password for your IsharMUD account{% endblock%}
{% block meta_url %}{{ url_for('change_password', _external=True) }}{% endblock meta_url %}">
{% block title %}Change Password{% endblock %}
{% block header %}Change Password{% endblock %}
{%- macro render_field(field) %}
                    <tr>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field.label | safe }}
                        </td>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                            <ul class="flash-error">
        {%- for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
        {%- endfor %}
                            </ul>
    {%- endif %}
                        </td>
                    </tr>
{%- endmacro %}
{%- block content %}
    {%- if change_password_form is defined %}
                <form method="post" autocomplete="off" action="{{ url_for('change_password') }}" id="change-password-form">
                    <table>
        {{ render_field(change_password_form.current_password) }}
        {{ render_field(change_password_form.new_password, autocomplete='off') }}
        {{ render_field(change_password_form.confirm_new_password, autocomplete='off') }}
        {{ change_password_form.csrf_token }}
        {{ render_field(change_password_form.submit) }}
                    </table>
                </form>
    {%- endif %}
{%- endblock %}
