{%- set page = 'global_events' %}
{% extends "base/layout.html.j2" %}
{%- set events_pre  = 'Global Events' -%}
{%- if global_events %}
    {%- set events_title = events_pre + ' (' + global_events | length | string + ')'  %}
{%- else %}
    {%- set events_title = events_pre %}
{%- endif %}
{% block meta_title %}{{ events_title }}{% endblock meta_title %}
{% block meta_description %}Global events currently active{% endblock meta_description %}
{% block meta_url %}{{ url_for('welcome.global_events', _external=True) }}{% endblock meta_url %}
{% block title %}{{ events_title }}{% endblock title %}
{% block header %}{{ events_title }}{% endblock header %}
{%- block content %}
    {%- if global_events %}
                <ul>
        {%- for global_event in global_events %}
                    <li title="{{ global_event.display_string }}">
                        <h3>
                            {{ global_event.display_string }}
                        </h3>
                    </li>
                    <li class="nested-list">
                        <ul>
            {%- if global_event.xp_bonus and global_event.xp_bonus != '' and global_event.xp_bonus != 0 %}
                            <li title="XP Bonus: {{ global_event.xp_bonus / 1 }}">
                                <strong>XP Bonus</strong>:
                                <ul>
                                    <li>{{ global_event.xp_bonus / 1 }}%</li>
                                </ul>
                            </li>
            {%- endif %}
            {%- if global_event.shop_bonus and global_event.shop_bonus != '' and global_event.shop_bonus != 0 %}
                            <li title="Shop Bonus: {{ 100 / global_event.shop_bonus }}">
                                <strong>Shop Bonus</strong>:
                                <ul>
                                    <li>{{ 100 / global_event.shop_bonus }}% off</li>
                                </ul>
                            </li>
            {%- endif %}
                            <li title="Started: {{ global_event.start_time.strftime('%A, %B %d, %Y @ %H:%M:%S') }} ({{ global_event.start }} ago)">
                                <strong>Started</strong>:
                                <ul>
                                    <li>{{ global_event.start }} ago</li>
                                </ul>
                            </li>
                            <li title="Ends: {{ global_event.end_time.strftime('%A, %B %d, %Y @ %H:%M:%S') }} (in {{ global_event.end }})">
                                <strong>Ends</strong>:
                                <ul>
                                    <li>in {{ global_event.end }}</li>
                                </ul>
                            </li>
            {%- if global_event.is_luck %}
                            <li title="Shavar and Chenchir shine brightly! (+50%/+25% gold/moves)">
                                <strong>Shavar and Chenchir shine brightly!</strong>
                                <ul>
                                    <li>+50% gold</li>
                                    <li>+25% moves</li>
                                </ul>
                            </li>
            {%- endif %}
                        </ul>
                    </li>
        {%- endfor %}
                </ul>
    {%- else %}
                <h3>
                    Sorry
                </h3>
                <p>
                    Unfortunately, there are no active global events right now.
                </p>
                <p>
                    Please check back later, or maybe try out
                    <a href="{{ url_for('challenges.incomplete') }}">some challenges</a>!
                </p>
    {%- endif %}
{%- endblock content %}
