{%- set page = 'help' -%}
{% extends "layout.html.j2" %}
{%- if topic is defined and topic is iterable and topic['aliases'] is defined %}
    {%- set topic_alias = topic['aliases'][0] | replace('32 ', '') | trim %}
{%- endif %}
{%- block meta_title -%}Help{%- if topic_alias -%}: {{ topic_alias }}{%- endif -%}{%- endblock meta_title -%}
{% block meta_description %}Help pages for Ishar MUD{% endblock meta_description %}
{% block meta_url %}{{ url_for('help_page.index', topic=topic, _external=True) }}{% endblock meta_url %}
{% block header -%}Help{%- if topic_alias -%}: {{ topic_alias }}{%- endif -%}{%- endblock header -%}
{%- block title -%}Help{%- if topic_alias -%}: {{ topic_alias }}{%- endif -%}{%- endblock title -%}
{%- block content %}
    {%- if topic %}
            <ul>
            {%- if topic['syntax'] %}
                <li class="nested-list">
                    <li>Syntax:</li>
                    <ul>
                        <li><code>{{ topic['syntax']  | safe | replace('>', '&gt;') | replace('<', '&lt;') }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['minimum'] %}
                <li class="nested-list">
                    <li>Minimum:</li>
                    <ul>
                        <li><code>{{ topic['minimum'] | safe | replace('>', '&gt;') | replace('<', '&lt;')}}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['player_class'] %}
                <li class="nested-list">
                    <li>Player Class:</li>
                    <ul>
                        <li><code>{{ topic['player_class']  | safe | replace('>', '&gt;') | replace('<', '&lt;') }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['player_level'] %}
                <li class="nested-list">
                    <li>Player Level:</li>
                    <ul>
                        <li><code>{{ topic['player_level'] | safe | replace('>', '&gt;') | replace('<', '&lt;') }}</code></li>
                    </ul>
                </li>
            {%- endif %}

            {%- if topic['save'] %}
                <li class="nested-list">
                    <li>Save:</li>
                    <ul>
                        <li><code>{{ topic['save']  | safe | replace('>', '&gt;') | replace('<', '&lt;') }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            </ul>

            <pre>
                {{ topic['text'] | safe | replace('>', '&gt;') | replace('<', '&lt;') }}
            </pre>

            {%- if topic['related'] and topic['related'] is iterable and topic['related'] | length > 0 %}
            <ul>
                <li class="nested-list">
                    <i>See Also:</i>
                </li>
                    <ul>
                {%- for related_topic in topic['related'] %}
                    {%- set related_topic_name = related_topic | trim %}
                        <li>
                            <a href="{{ url_for('help_page.index', topic=related_topic_name) }}">{{ related_topic_name }}</a>
                        </li>
                {%- endfor %}
                    </ul>
            </ul>
            {%- endif %}

            <br><hr><br>
    {%- endif %}
    {%- if topics and topics is iterable and topics | length > 0 %}
            <ul id="world-list">
        {%- for list_topic in topics %}
                {%- set list_topic_parse = list_topic | replace('32 ', '')  | trim %}
                <li title="Topic: {{ list_topic_parse }}">
                    <a href="{{ url_for('help_page.index', topic=list_topic_parse) }}">
                        {{ list_topic_parse }}
                    </a>
                </li>
        {%- endfor %}
            </ul>
    {%- endif %}
{%- endblock content %}
