{%- set page = 'help' -%}
{% extends "layout.html.j2" %}
{%- if topic is defined and topic is iterable and topic['aliases'] is defined %}
    {%- set topic_alias = topic['aliases'][0] | safe | trim %}
{%- endif %}
{%- block meta_title -%}Help{%- if topic_alias -%}: {{ topic_alias }}{%- endif -%}{%- endblock meta_title -%}
{% block meta_description %}Help pages for Ishar MUD{% endblock meta_description %}
{% block meta_url %}{{ url_for('help_page.index', topic=topic_alias, _external=True) }}{% endblock meta_url %}
{% block header -%}Help{%- if topic_alias -%}: {{ topic_alias }}{%- endif -%}{%- endblock header -%}
{%- block title -%}Help{%- if topic_alias -%}: {{ topic_alias }}{%- endif -%}{%- endblock title -%}
{%- macro render_field(field) -%}
                    {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro -%}
{%- block content %}
    {%- if help_search_form is defined %}
            <p>
                <form method="post" action="{{ url_for('help_page.index') }}" id="help-search-form">
                    {{ render_field(help_search_form.help_search_name, maxlength=32) }}
                    {{ help_search_form.csrf_token }}
                    {{ render_field(help_search_form.submit) }}
                </form>
            </p>
    {%- endif %}
    {%- if maybe_topics is defined %}
            <ul>
        {%- for maybe_topic in maybe_topics %}
                <li>
                    <a href="{{ url_for('help_page.single', topic=maybe_topic) }}">{{ maybe_topic }}</a>
                </li>
        {%- endfor %}
            </ul>
    {%- endif %}
    {%- if topic %}
            <ul>
            {%- if topic['syntax'] %}
                <li class="nested-list">
                    <li>Syntax:</li>
                    <ul>
                        <li><code>{{ topic['syntax']  | safe | replace('>', '&gt;') | replace('<', '&lt;') }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['minimum'] %}
                <li class="nested-list">
                    <li>Minimum:</li>
                    <ul>
                        <li><code>{{ topic['minimum'] | safe | replace('>', '&gt;') | replace('<', '&lt;')}}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['player_class'] %}
                <li class="nested-list">
                    <li>Player Class:</li>
                    <ul>
                        <li><code>{{ topic['player_class']  | safe | replace('>', '&gt;') | replace('<', '&lt;') }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['player_level'] %}
                <li class="nested-list">
                    <li>Player Level:</li>
                    <ul>
                        <li><code>{{ topic['player_level'] | safe | replace('>', '&gt;') | replace('<', '&lt;') }}</code></li>
                    </ul>
                </li>
            {%- endif %}

            {%- if topic['save'] %}
                <li class="nested-list">
                    <li>Save:</li>
                    <ul>
                        <li><code>{{ topic['save']  | safe | replace('>', '&gt;') | replace('<', '&lt;') }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            </ul>

            <pre>
                {{ topic['text'] | safe | replace('>', '&gt;') | replace('<', '&lt;') }}
            </pre>

            {%- if topic['aliases'] and topic['aliases'] is iterable and topic['aliases'] | length > 0 %}
            <ul>
                <li class="nested-list">
                    <i>Aliases:</i>
                </li>
                    <ul>
                {%- for topic_alias in topic['aliases'] %}
                        <li>
                            <a href="{{ url_for('help_page.single', topic=topic_alias) }}">{{ topic_alias }}</a>
                        </li>
                {%- endfor %}
                    </ul>
            </ul>
            {%- endif %}

            {%- if topic['see_also'] and topic['see_also'] is iterable and topic['see_also'] | length > 0 %}
            <ul>
                <li class="nested-list">
                    <i>See Also:</i>
                </li>
                    <ul>
                {%- for related_topic in topic['see_also'] %}
                        <li>
                            <a href="{{ url_for('help_page.single', topic=related_topic) }}">{{ related_topic }}</a>
                        </li>
                {%- endfor %}
                    </ul>
            </ul>
            {%- endif %}

            <br><hr><br>
    {%- endif %}
    {%- if topics and topics is iterable and topics | length > 0 %}
            <ul id="world-list">
        {%- for list_topic in topics %}
            <li title="Topic: {{ list_topic }}">
                <a href="{{ url_for('help_page.single', topic=list_topic) }}">{{ list_topic }}</a>
            </li>
        {%- endfor %}
            </ul>
    {%- endif %}
{%- endblock content %}
