{%- set page = 'help' -%}
{% extends "layout.html.j2" %}
{%- block meta_title -%}
    Help
    {%- if topic is defined and topic != None and topics is defined and topics != None -%}
        : {{ topic }}
    {%- endif -%}
{%- endblock meta_title -%}
{% block meta_description %}WIP: Help pages for Ishar MUD{% endblock %}
{% block meta_url %}{{ url_for('help_page', topic=topic, _external=True) }}{% endblock meta_url %}">
{% block header %}Help{% endblock %}
{%- block title -%}
    Help
    {%- if topic is defined and topic != None and topics is defined and topics != None -%}
        : {{ topic }}
    {%- endif -%}
{%- endblock title -%}
{%- block content %}
    {%- if topic and topics %}
                <h3 id="area-name" title="{{ topic }}">
                    {{ topic | safe }}
                </h3>
                <pre id="area-details">
                    {{ topics | replace('<', '&lt;') | replace('>', '&gt;') }}
                </pre>
    {%- else %}
        {%- if topics and topics is iterable and topics | length > 0 %}
                <ul id="world-list">
            {%- for topic in topics %}
                    <li title="Topic: {{ topic }}">
                        <a href="{{ url_for('help_page', topic=topic) }}">
                            {{ topic }}
                        </a>
                    </li>
            {%- endfor %}
                </ul>
        {%- endif %}
    {%- endif %}
{%- endblock %}
