{%- set page = 'help' -%}
{% extends "layout.html.j2" %}
{%- if topic is defined and topic is iterable and topic['name'] is defined %}
    {%- set topic_name = topic['name'] | safe | trim %}
{%- endif %}
{%- block meta_title -%}Help{%- if topic_name -%}: {{ topic_name }}{%- endif -%}{%- endblock meta_title -%}
{%- block meta_description %}Help pages for Ishar MUD{%- endblock meta_description %}
{%- block meta_url %}{{ url_for('help_page.single', topic=topic_name, _external=True) }}{%- endblock meta_url %}
{%- block header -%}
<a href="{{ url_for('help_page.index') }}">Help</a>
    {%- if topic_name %} : <a href="{{ url_for('help_page.single', topic=topic_name) }}">
        {{- topic_name }}</a>
    {%- endif -%}
{%- endblock header -%}
{%- block title -%}Help{%- if topic_name -%}: {{ topic_name }}{%- endif -%}{%- endblock title -%}
{%- macro render_field(field) -%}
                    {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro -%}
{%- block content %}
    {%- if help_search_form is defined %}
            <p>
                <form method="get" action="{{ url_for('help_page.index') }}" id="help-search-form">
                    {{ render_field(help_search_form.search, maxlength=32) }}
                    <input type="submit" value="Search">
                    (<i>such as &quot;<a href="{{ url_for('help_page.single', topic='spell') }}">spell</a>&quot;</i>)
                </form>
            </p>
    {%- endif %}
    {%- if topic %}
            <ul>
            {%- if topic['syntax'] %}
                <li class="nested-list">
                    <li>Syntax:</li>
                    <ul>
                        <li><code>{{ topic['syntax']  | safe }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['minimum'] %}
                <li class="nested-list">
                    <li>Minimum:</li>
                    <ul>
                        <li><code>{{ topic['minimum'] | safe }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['player_class'] %}
                <li class="nested-list">
                    <li>Player Class:</li>
                    <ul>
                        <li><code>{{ topic['player_class']  | safe }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            {%- if topic['player_level'] %}
                <li class="nested-list">
                    <li>Player Level:</li>
                    <ul>
                        <li><code>{{ topic['player_level'] | safe }}</code></li>
                    </ul>
                </li>
            {%- endif %}

            {%- if topic['save'] %}
                <li class="nested-list">
                    <li>Save:</li>
                    <ul>
                        <li><code>{{ topic['save']  | safe }}</code></li>
                    </ul>
                </li>
            {%- endif %}
            </ul>
            <pre>
                {{- topic['body_text'] | safe -}}
            </pre>
            {%- if topic['aliases'] and topic['aliases'] is iterable and topic['aliases'] | length > 0 %}
            <ul>
                <li class="nested-list">
                    <i>Aliases:</i>
                </li>
                    <ul>
                {%- for topic_alias in topic['aliases'] %}
                        <li>
                            <a href="{{ url_for('help_page.single', topic=topic_alias) }}">{{ topic_alias }}</a>
                        </li>
                {%- endfor %}
                    </ul>
            </ul>
            {%- endif %}
            {%- if topic['see_also'] and topic['see_also'] is iterable and topic['see_also'] | length > 0 %}
            <ul>
                <li class="nested-list">
                    <i>See Also:</i>
                </li>
                    <ul>
                {%- for related_topic in topic['see_also'] %}
                        <li>
                            <a href="{{ url_for('help_page.single', topic=related_topic) }}">{{ related_topic }}</a>
                        </li>
                {%- endfor %}
                    </ul>
            </ul>
            {%- endif %}
            <br><hr><br>
    {%- endif %}
    {%- if topics and topics is iterable and topics | length > 0 %}
            <ul id="world-list">
        {%- for list_topic in topics %}
                <li title="Topic: {{ list_topic }}">
                    <a href="{{ url_for('help_page.single', topic=list_topic) }}">{{ list_topic }}</a>
                </li>
        {%- endfor %}
            </ul>
    {%- endif %}
{%- endblock content %}
