{%- macro display_essence(essence) -%}
    {%- if essence > 0 -%}
        <strong>{{ essence }} essence</strong>
    {%- else -%}
        <span class="flash-error">{{ essence }} essence</span>
    {%- endif -%}
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
    <head>
    {%- block head %}
        <meta charset="UTF-8">
        <meta name="author" content="Ishar MUD">
        <meta name="description" content="Ishar MUD">
        <meta name="keywords" content="Ishar MUD, Ishar, IsharMUD, MUD, Multi User Dungeon, Multi-User Dungeon, Game">
        {%- if span is defined and span != None %}
        <meta name="sentry-trace" content="{{ span.toSentryTrace() }}">
        <meta name="baggage" content="{{ serializeBaggage(span.getBaggage()) }}">
        {%- endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Ishar MUD">
        <meta property="og:title" content="{% block meta_title %}Welcome{% endblock meta_title %} - Ishar MUD">
        <meta property="og:description" content="Ishar MUD: {% block meta_description %}a free online text-adventure RPG{% endblock %}">
        <meta property="og:url" content="{% block meta_url %}{{ url_for('welcome', _external=True) }}{% endblock meta_url %}">
        <meta property="og:image" content="{% block meta_image %}{{ url_for('static', filename='ishar.png', _external=True) }}{% endblock meta_image %}">
        <title>{% block title %}Welcome{% endblock %} - Ishar MUD</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {%- endblock head %}
    {%- block scripts %}
    {%- endblock scripts %}
    </head>
    <body>
        <header>
            <h1 title="Ishar MUD">
                <a href="{{ url_for('welcome') }}">
                    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Ishar MUD">
                </a>
            </h1>
        </header>
        <nav>
{%- block navigation %}
{% include('navigation.html.j2') %}
{%- endblock navigation %}
        </nav>
        <div id="content">
            <h2>
                {% block header %}{% endblock header %}
            </h2>
{%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
            <div id="flashes">
                <ul>
        {%- for category, message in messages %}
                    <li class="flash-{{ category }}">
                        {{ message }}
                    </li>
        {%- endfor %}
                </ul>
            </div>
    {%- endif %}
{%- endwith %}
{%- block content %}
{%- endblock content %}
        </div>
        <footer>
{%- block footer %}
    {%- if current_user is defined and current_user.is_authenticated %}
        {%- if current_user.created_at is defined and current_user.created_at != '' %}
            <span id="created" title="Account Created: {{ current_user.created_at.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }}">
                <a href="{{ url_for('account') }}">Account Created</a>
                <br>
                {{ current_user.created_at.strftime('%A, %B %d, %Y') }}
            </span>
        {%- endif %}
    {%- endif %}
    {%- if current_season is defined and current_season != None %}
            <span id="season" title="Season {{ current_season.season_id }} ends in {{ current_season.expires }} on {{ current_season.expiration_date.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }}">
                <a href="{{ url_for('season') }}">Season {{ current_season.season_id }}</a>
                <br>
                ends in <span id="season-countdown">{{ current_season.expires }}</span> on {{ current_season.expiration_date.strftime('%A, %B %d, %Y')}}
            </span>
    {%- endif %}
{%- endblock footer %}
        </footer>
    </body>
</html>
