{%- set page = 'leaders' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Leaders{% endblock meta_title %}
{% block meta_description %}Leader board of top players of the game and their achievements{% endblock %}
{% block meta_url %}{{ url_for('leaders', _external=True) }}{% endblock meta_url %}">
{% block title %}Leaders{% endblock %}
{% block header %}Leaders{% endblock %}
{%- block scripts %}
        <script async src="{{ url_for('static', filename='leaders.js') }}"></script>
{%- endblock scripts %}
{%- block content %}
    {%- if include_dead is defined %}
                <p>
                    <label for="include-dead" title="Include Dead">
                        Include Dead ☠️
                    </label>
                    <input type="checkbox" onchange="deadLeaders(this.checked);" id="include-dead" name="include-dead" {%- if include_dead %} checked="yes"{% endif %}>
                </p>
    {%- endif %}
    {%- if leader_players is defined and leader_players is iterable and leader_players | length > 0 %}
                <table id="leaders" title="Leaders">
                    <tr>
                        <th title="#">
                            #
                        </th>
                        <th title="Name">
                            Name
                        </th>
                        <th title="Remorts">
                            Remorts
                        </th>
                        <th title="Renown">
                            Renown
                        </th>
                        <th title="Quests">
                            Quests
                        </th>
                        <th title="Challenges">
                            Challenges
                        </th>
                        <th title="Deaths">
                            Deaths
                        </th>
                    </tr>
        {%- for leader in leader_players %}
                    <tr>
                        <td id="{{ loop.index }}" title="#{{ loop.index }}">
                           {{ loop.index }}
                        </td>
                        <td title="Player: {{ leader.name }}">
                            {{ leader.player_link }}
                        </td>
                        <td title="Remorts: {{ leader.remorts }}">
                            {{ leader.remorts }}
                        </td>
                        <td title="Renown: {{ leader.total_renown }}">
                            {{ leader.total_renown }}
                        </td>
                        <td title="Quests: {{ leader.quests_completed }}">
                            {{ leader.quests_completed }}
                        </td>
                        <td title="Challenges: {{ leader.challenges_completed }}">
                            {{ leader.challenges_completed }}
                        </td>
            {%- if leader.player_type != 'Classic' %}
                        <td class="non-classic" title="Type: {{ leader.player_type }}">
                            <span class="{{ leader.player_css }}">
                                {{ leader.player_type }}
                            </span>
            {%- else %}
                        <td title="Deaths: {{ leader.deaths }}">
                            {{ leader.deaths }}
            {%- endif %}
                        </td>
                    </tr>
        {%- endfor %}
                </table>
    {%- endif %}
{%- endblock content %}
