{%- set page = 'portal' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Player Log In{% endblock meta_title %}
{% block meta_description %}Player Log In to Ishar MUD to view the player portal, player profiles, and more{% endblock %}
{% block meta_url %}{{ url_for('login', _external=True) }}{% endblock meta_url %}">
{% block title %}Player Log In{% endblock %}
{% block header %}Player Log In{% endblock %}
{%- macro render_field(field) %}
                    <p class="login-{{ field.name | safe }}">
                        {{ field.label | safe }}
                        {{ field(**kwargs) | safe }}
                    </p>
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro %}
{%- block content %}
    {%- if login_form is defined %}
                <form method="post" id="login-form">
                    {{ render_field(login_form.email) }}
                    {{ render_field(login_form.password) }}
                    {{ render_field(login_form.remember) }}
                    {{ login_form.csrf_token }}
                    {{ login_form.submit }}
                    <br>
                </form>
    {%- endif %}
{%- endblock %}
