{%- set page = 'portal' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Player Log In{% endblock meta_title %}
{% block meta_description %}Player Log In to Ishar MUD to view the player portal, player profiles, and more{% endblock %}
{% block meta_url %}{{ url_for('login', _external=True) }}{% endblock meta_url %}">
{% block title %}Player Log In{% endblock %}
{% block header %}Player Log In{% endblock %}
{%- macro render_field(field) %}
                    <tr>
                        <td>
                            {{ field.label | safe }}
                        </td>
                        <td>
                            {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                            <ul class="flash-error">
        {%- for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
        {%- endfor %}
                            </ul>
    {%- endif %}
                        </td>
                    </tr>
{%- endmacro %}
{%- block content %}
    {%- if login_form is defined %}
                <form method="post">
                    <table>
                        {{ render_field(login_form.email) }}
                        {{ render_field(login_form.password) }}
                        {{ render_field(login_form.remember) }}
                        {{ login_form.csrf_token }}
                        {{ render_field(login_form.submit) }}
                    </table>
                </form>
    {%- endif %}
{%- endblock %}
