{%- if current_user.seasonal_points > 0 %}
    {%- set essence = ' (' + current_user.seasonal_points | string + ')' %}
{%- else %}
    {%- set essence = '' %}
{%- endif %}
            <ul>
    {%- if current_user.is_god %}
                <li title="Admin">
                    <a href="{{ url_for('admin_portal') }}" {%- if page == 'admin' %} id="active-nav"{% endif%}>Admin</a>
                </li>
    {%- endif %}
                <li title="Account">
                    <a href="{{ url_for('manage_account') }}" {%- if page == 'account' %} id="active-nav"{% endif%}>Account</a>
                </li>
                <li title="Challenges">
                    <a href="{{ url_for('challenges') }}" {%- if page == 'challenges' %} id="active-nav"{% endif%}>Challenges</a>
                </li>
                <li title="Leaders">
                    <a href="{{ url_for('leaders') }}" {%- if page == 'leaders' %} id="active-nav"{% endif%}>Leaders</a>
                </li>
                <li title="Portal">
                    <a href ="{{ url_for('portal') }}" {%- if page == 'portal' %} id="active-nav"{% endif%}>Portal</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}" title="Log out">Log out ({{ current_user.account_name | title | safe }})</a>
                </li>
            </ul>
