            <ul>
                <li title="Connect to Ishar MUD">
                    <a href="{{ url_for('connect') }}" target="_blank">Connect</a>
                </li>
                <li title="Frequently Asked Questions">
                   <a href="{{ url_for('faq') }}" {%- if page == 'faq' %} id="active-nav"{% endif %}>FAQs</a>
                </li>
                <li title="Patches">
                    <a href="{{ url_for('patches') }}" {%- if page == 'patches' %} id="active-nav"{% endif%}>Patches</a>
                </li>
                <li title="World">
                    <a href="{{ url_for('world') }}" {%- if page == 'world' %} id="active-nav"{% endif%}>World</a>
                </li>
{%- if current_user is defined and not current_user.is_authenticated and current_user.account_name is not defined %}
                <li title="Portal">
                    <a href ="{{ url_for('portal') }}">Portal</a>
                </li>
{%- endif %}
            </ul>
