            <ul>
                <li title="Connect to Ishar MUD">
                    <a href="{{ url_for('connect') }}" target="_blank">Connect</a>
                </li>
                <li title="Discord Invitation">
                    <a href="{{ url_for('discord') }}" target="_blank">Discord</a>
                </li>
                <li title="E-mail Us">
                    <a href="mailto:admin@isharmud.com" target="_blank">E-mail Us</a>
                </li>
                <li title="Frequently Asked Questions">
                   <a href="{{ url_for('faq') }}" {%- if page == 'faq' %} id="active-nav"{% endif %}>FAQs</a>
                </li>
                <li title="Get Started">
                    <a href="{{ url_for('get_started') }}" {%- if page == 'get_started' %} id="active-nav"{% endif %}>Get Started</a>
                </li>
                <li title="History">
                    <a href="{{ url_for('history') }}" {%- if page == 'history' %} id="active-nav"{% endif %}>History</a>
                </li>
                <li title="Latest Patch">
                    <a href="{{ url_for('latest_patch') }}" target="_blank">Latest Patch</a>
                </li>
                <li title="MUD Clients">
                    <a href="{{ url_for('clients') }}" {%- if page == 'mud_clients' %} id="active-nav"{% endif%}>MUD Clients</a>
                </li>
                <li title="Support Ishar MUD">
                    <a href="{{ url_for('support') }}" {%- if page == 'support' %} id="active-nav"{% endif%}>Support Ishar</a>
                </li>
                <li title="World">
                    <a href="{{ url_for('world') }}" {%- if page == 'world' %} id="active-nav"{% endif%}>World</a>
                </li>
                <li title="Player Portal {%- if current_user is defined and current_user.is_authenticated and current_user.account_name is defined %} ({{ current_user.account_name }}){% endif %}">
                    <a href ="{{ url_for('portal') }}" {%- if page == 'portal' %} id="active-nav"{% endif%}>
                        Player Portal
{%- if current_user is defined and current_user.is_authenticated and current_user.account_name is defined %}
                        ({{ current_user.account_name }})
{%- endif %}
                    </a>
                </li>
            </ul>
