{%- set page = 'patches' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Patches{% endblock meta_title %}
{% block meta_description %}The latest patches to Ishar MUD{% endblock %}
{% block meta_url %}{{ url_for('patches', _external=True) }}{% endblock meta_url %}">
{% block title %}Patches{% endblock %}
{% block header %}Patches{% endblock %}
{%- block content %}
                <p>
                    Ishar MUD is under regular development, and constantly being improved!
                </p>
    {%- if patches is defined and patches is iterable and patches | length > 0 %}
                <p>
                     These are the latest patch notes for Ishar MUD:
                </p>
                <ul id="patches-list">
        {%- for patch in patches %}
            {%- set patch_name  = patch.rstrip('.pdf') | replace('_', ' ') | replace('-', ' ') | title | safe %}
                    <li class="patch-item" title="{{ patch_name }}">
                        <h3>
                            <a href="{{ url_for('static', filename='patches/' + patch) }}" target="_blank">{{ patch_name }}</a>
                        </h3>
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endblock %}
