{%- set page = 'portal' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Portal{% endblock meta_title %}
{% block meta_description %}Portal for players to see information about their account and characters{% endblock %}
{% block meta_url %}{{ url_for('portal', _external=True) }}{% endblock meta_url %}">
{% block title %}Portal{% endblock %}
{% block header %}Welcome{% if current_user.account_name is defined %}, {{ current_user.account_name | title | safe }}{% endif %}!{% endblock %}
{%- block content %}
    {%- if current_user.players is defined and current_user.players is iterable and current_user.players | length > 0 %}
                <h3>
                    {{ current_user.players | length }} character{% if current_user.players | length != 1 %}s{% endif %}:
                </h3>
                <table id="players">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Remorts
                        </th>
                        <th>
                            Renown (Total)
                        </th>
                        <th>
                            Quests
                        </th>
                        <th>
                            Challenges
                        </th>
                        <th>
                            Deaths
                        </th>
                    </tr>
        {%- for player in current_user.players %}
                    <tr>
                        <td title="{{ player.name | title | safe }} (Born {{ player.birth_dt.strftime('%A, %B %d, %Y @ %H:%M:%S') }})">
                            {{ player.player_title }}
                        </td>
                        <td title="Class: {{ player.class.class_name | replace('_', '-') | title | safe }}">
                            {{ player.class.class_name | replace('_', '-') | title | safe }}
                        </td>
                        <td title="Level: {{ player.level }}">
                            {{ player.level }}
                        </td>
                        <td title="Remorts: {{ player.remorts }}">
                            {{ player.remorts }}
                        </td>
                        <td title="Renown: {{ player.renown }} ({{ player.total_renown }})">
                            {{ player.renown }} ({{ player.total_renown }})
                        </td>
                        <td title="Quests: {{ player.quests_completed }}">
                            {{ player.quests_completed }}
                        </td>
                        <td title="Challenges: {{ player.challenges_completed }}">
                            {{ player.challenges_completed }}
                        </td>
            {%- if player.player_type != 'Classic' %}
                        <td class="non-classic" title="Type: {{ player.player_type }}">
                            <span class="{{ player.player_css }}">
                                {{ player.player_type }}
                            </span>
                        </td>
            {%- else %}
                        <td title="Deaths: {{ player.deaths }}">
                            {{ player.deaths }}
                        </td>
            {%- endif %}
                    </tr>
        {%- endfor %}
                </table>
    {%- else %}
                <h3 title="You have not created any players yet!">
                    You have not created any players yet!
                </h3>
    {%- endif %}
                <p class="bottom-portal-link">
                    <a href="{{ url_for('challenges') }}" title="Challenges">Challenges</a>
                    |
                    <a href="{{ url_for('change_password') }}" title="Change Password">Change Password</a>
                    |
    {%- if current_user.seasonal_points > 0 %}
        {%- set essence_extra = ' (' + current_user.seasonal_points | string + ')' %}
    {%- else %}
        {%- set essence_extra = '' %}
    {%- endif %}
                    <a href="{{ url_for('essence_shop') }}" title="Essence Shop{{ essence_extra }}">Essence Shop{{ essence_extra }}</a>
                    |
                    <a href="{{ url_for('leaderboard') }}" title="Leader Board">Leader Board</a>
                    |
                    <a href="{{ url_for('who') }}" title="Who's Online?">Who's Online?</a>
                    |
                    <a href="{{ url_for('logout') }}" title="Log Out">Log Out</a>
                </p>
    {%- if current_user.is_god %}
                <p class="bottom-portal-link">
                    <a href="{{ url_for('admin_portal') }}" title="Administration Portal">Administration</a>
                </p>
    {%- endif %}
{%- endblock %}
