{%- set page = 'season' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Season {{ current_season.season_id }}{% endblock meta_title %}
{% block meta_description %}Information about season {{ current_season.season_id }} of Ishar MUD{% endblock %}
{% block meta_url %}{{ url_for('season', _external=True) }}{% endblock meta_url %}">
{% block title %}Season {{ current_season.season_id }}{% endblock %}
{% block header %}Season {{ current_season.season_id }}{% endblock %}
{%- block content %}
    {%- if current_season is defined %}
            <ul id="season-details">
                <li title="Season {{ current_season.season_id }} began {{ current_season.effective }} ago on {{ current_season.effective_date.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }}">
                    <strong>
                        Started
                    </strong>
                    <ul>
                        <li>
                            {{ current_season.effective_date.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }}
                        </li>
                        <li>
                            {{ current_season.effective }} ago
                        </li>
                    </ul>
                </li>
                <li title="Season {{ current_season.season_id }} ends in {{ current_season.expires }} on {{ current_season.expiration_date.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }}">
                    <strong>
                        Ends
                    </strong>
                    <ul>
                        <li>
                            {{ current_season.expiration_date.strftime('%A, %B %d, %Y @ %H:%M:%S %Z') }}
                        </li>
                        <li>
                            in {{ current_season.expires }}
                        </li>
                    </ul>
                </li>
            </ul>
            <h3>
                Essence
            </h3>
            <p>
                &quot;<a title="Essence" href="{{ url_for('manage_account') }}#essence-balance">Essence</a>&quot;
                are the rewards points that you earn during the season!

            </p>
            <p>
                Essence is preserved across seasons, and can be spent at any time
                by typing <code>shop</code> after logging in.
            </p>
    {%- if current_user.seasonal_points is defined and current_user.seasonal_earned is defined %}
            <ul id="essence-balance">
                <li title="You currently have: {{ current_user.seasonal_points }} essence.">
                    You currently have:
                </li>
                <li class="nested-list">
                    <ul>
                        <li>
                            {{ display_essence(current_user.seasonal_points) }}
                        </li>
                    </ul>
                </li>
                <li title="This season, you have earned: {{ current_user.seasonal_earned }} essence.">
                    This season, you have earned:
                </li>
                <li class="nested-list">
                    <ul>
                        <li>
                            {{ display_essence(current_user.seasonal_earned) }}
                        </li>
                    </ul>
                </li>
            </ul>
        {%- endif %}
    {%- endif %}
{%- endblock %}
