{% extends "layout.html.j2" %}
{% block meta_title %}Season {{ season.season_id }}{% endblock meta_title %}
{% block meta_description %}Information about season {{ season.season_id }} of Ishar MUD{% endblock %}
{% block meta_url %}{{ url_for('leaderboard', _external=True) }}{% endblock meta_url %}">
{% block title %}Season {{ season.season_id }}{% endblock %}
{% block header %}Season {{ season.season_id }}{% endblock %}
{%- block content %}
    {%- if season is defined %}
            <p>
               This is some information about <strong>season {{ season.season_id }}</strong> of Ishar MUD.
            </p>
            <ul>
                <li title="Season {{ season.season_id }} began {{ season.effective }} ago on {{ season.effective_dt.strftime('%A, %B %d, %Y @ %H:%M:%S') }}">
                    Season {{ season.season_id }} began {{ season.effective }} ago
                    on {{ season.effective_dt.strftime('%A, %B %d, %Y @ %H:%M:%S') }}
                </li>
                <li title="Season {{ season.season_id }} ends in {{ season.expires }} on {{ season.expiration_dt.strftime('%A, %B %d, %Y @ %H:%M:%S') }}">
                    Season {{ season.season_id }} ends in {{ season.expires }}
                    on {{ season.expiration_dt.strftime('%A, %B %d, %Y @ %H:%M:%S') }}
                </li>
            </ul>
            <h4>
                Essence
            </h4>
            <p>
                "Essence" are the rewards points earned for your account during the season!
            </p>
            <p>
                Essence is preserved across seasons, and can be spent at any time
                <a href="{{ url_for('essence_shop') }} ">at the Essence Shop</a>
                or by typing <code>shop</code> in-game, once logged in.
            </p>
        {%- if current_user is defined and current_user.seasonal_points is defined and current_user.seasonal_earned is defined %}
            <div id="essence-balance">
                <ul>
                    <li title="You currently have: {{ current_user.seasonal_points }} essence.">
                        You currently have: {{ display_essence(current_user.seasonal_points) }}.
                    </li>
                    <li title="This season, you have earned: {{ current_user.seasonal_earned }} essence.">
                        This season, you have earned: {{ display_essence(current_user.seasonal_earned) }}.
                    </li>
                </ul>
            </div>
        {%- endif %}
    {%- endif %}
{% include('back.html.j2') %}
{%- endblock %}
