{%- set page = 'shop' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Shop{% endblock meta_title %}
{% block meta_description %}View and spend your seasonally rewarded essence points{% endblock%}
{% block meta_url %}{{ url_for('shop', _external=True) }}{% endblock meta_url %}">
{% block title %}Shop{% endblock %}
{% block header %}Shop{% endblock %}
{%- macro render_field(field) %}
            <ul class="shop">
    {%- for subfield in field %}
                <li class="essence-upgrades" title="{{ subfield.label | striptags }}">
                    {{ subfield }}
                    {{ subfield.label }}
                    <ul>
        {%- for ug in current_user.upgrades | selectattr('account_upgrades_id', 'equalto', subfield.data) %}
                        <li title="{{ ug.upgrade.description | replace('\n', ' ') }}">
                            {{ ug.upgrade.description | replace('\n', ' ')}}
                        </li>
            {%- if current_user.seasonal_points < ug.upgrade.cost %}
                {%- set cost_css = 'error' %}
            {%- else %}
                {%- set cost_css = 'success' %}
            {%- endif %}
                        <li title="Cost: {{ ug.upgrade.cost }} essence">
                            <span class="flash-{{ cost_css }}">{{ ug.upgrade.cost }} essence</span>
                        </li>
        {%- endfor %}
                    </ul>
                </li>
    {%- endfor %}
            </ul>
    {%- if field.errors %}
                    <ul class="field-errors">
        {%- for error in field.errors %}
                        <li title="{{ error }}">
                            {{ error }}
                        </li>
        {%- endfor %}
                    </ul>
    {%- endif %}
{%- endmacro -%}
{%- block scripts %}
        <script>

            // Create a JavaScript function to confirm with the user how much they are spending
            function confirmSpend() {

                // Set the account upgrades and find chosen
                const upgrades  = {
    {%- for upgrade in current_user.upgrades %}
                    {{ upgrade.account_upgrades_id }}: {
                        amount:     {{ upgrade.amount }},
                        cost:       {{ upgrade.upgrade.cost }},
                        max_value:  {{ upgrade.upgrade.max_value }},
                        name:       '{{ upgrade.upgrade.name }}'
                    }
        {%- if not loop.last %},{% endif %}
    {%- endfor %}
                };
                const radios    = document.getElementsByName('upgrade');
                const selected  = Array.from(radios).find(radio => radio.checked);
                const upgrade   = upgrades[selected.value];

                // Account Upgrade ID 4 ("Improved Starting Gear") is a work-in-progress
                if (selected.value == 4) {
                    alert('Sorry, but this upgrade (' + upgrade.name + ') is still a work in progress.');
                    return false;

                // Do not let users upgrade beyond max
                } else if ( upgrade.amount >= upgrade.max_value) {
                    alert('Sorry, but you already have the max value in that upgrade (' + upgrade.name + ').');
                    return false;

                // Do not let users spend essence they do not have
                } else if ({{ current_user.seasonal_points }} < upgrade.cost) {
                    alert('Sorry, but you do not have enough essence to acquire that upgrade (' + upgrade.name + ').');
                    return false;
                };

                // Proceed by having the user confirm their choice
                return confirm('Are you sure you want to spend ' + upgrade.cost + ' essence for ' + upgrade.name + '?');
            };

        </script>
{%- endblock scripts %}
{%- block content %}
            <h3>
                Essence
            </h3>
            <div id="essence-balance">
                <ul>
                    <li title="You currently have: {{ current_user.seasonal_points }} essence.">
                        You currently have:
                    </li>
                    <li class="faq-nested">
                        <ul>
                            <li>
                                {{ display_essence(current_user.seasonal_points) }}
                            </li>
                        </ul>
                    </li>
                    <li title="This season, you have earned: {{ current_user.seasonal_earned }} essence.">
                        This season, you have earned:
                    </li>
                    <li class="faq-nested">
                        <ul>
                            <li>
                                {{ display_essence(current_user.seasonal_earned) }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h3 title="Upgrades">
                Upgrades
            </h3>
    {%- if current_user.upgrades is defined and current_user.upgrades is iterable and current_user.upgrades | selectattr('amount', '>', 0) | list | length > 0 %}
            <div id="essence-upgrades">
                <ul>
        {%- for upgraded in current_user.upgrades | selectattr('amount', '>', 0) %}
                    <li title="{{ upgraded.upgrade.name }}{% if upgraded.amount > 1 %} (x{{ upgraded.amount}}){% endif %}">
                        {{ upgraded.upgrade.name }}
                        {%- if upgraded.amount > 1 %} (x{{ upgraded.amount}}){% endif %}
                    </li>
        {%- endfor %}
                </ul>
            </div>
    {%- else %}
            <ul>
                <li title="You have not purchased any upgrades.">
                    <i>You have not purchased any upgrades.</i>
                </li>
            </ul>
    {%- endif %}
    {%- if shop_form is defined %}
            <h3 title="Purchase">
                Purchase
            </h3>
            <form method="post" action="{{ url_for('shop') }}" id="shop-form" onSubmit="return confirmSpend();">
                {{ render_field(shop_form.upgrade) }}
                {{ shop_form.csrf_token }}
                {{ shop_form.submit }}
            </form>
    {%- endif %}
{%- endblock %}
