{% extends "layout.html.j2" %}
{% block meta_title %}System Information{% endblock meta_title %}
{% block meta_description %}System information about the Ishar MUD server and process{% endblock meta_description %}
{% block meta_url %}{{ url_for('welcome.wizlist', _external=True) }}{% endblock meta_url %}
{% block title %}System Information{% endblock title %}
{% block header %}System Information{% endblock header %}
{%- block content %}
        <ul>
            <li>
                <strong>cpu_percent</strong>:
            </li>
            <li class="nested-list">
                <ul>
                    <li>
                        {{ cpu_percent }}
                    </li>
                </ul>
            </li>
            <li>
                <strong>cpu_times</strong>:
            </li>
            <li class="nested-list">
                <ul>
                    <li>
                        {{ cpu_times }}
                    </li>
                </li>
            </li>
            <li>
                <strong>ctx_switches</strong>:
            </li>
            <li class="nested-list">
                <ul>
                    <li>
                        {{ ctx_switches }}
                    </li>
                </li>
            </li>
            <li>
                <strong>memory</strong>:
            </li>
            <li class="nested-list">
                <ul>
                    <li>
                        {{ memory }}
                    </li>
                </li>
            </li>
            <li>
                <strong>uptime</strong>:
            </li>
            <li class="nested-list">
                <ul>
                    <li>
                        {{ uptime }}
                    </li>
                </li>
            </li>
        </ul>
{%- endblock content %}
