{% extends "layout.html" %}
{% block meta_title %}Challenges{% endblock meta_title %}
{% block meta_description %}Challenges, winners, and rewards currently available.{% endblock meta_description %}
{% block meta_url %}{% url "challenges" %}{% endblock meta_url %}
{% block title %}Challenges{% endblock title %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Portal">
            <span class="text-ishar bi bi-award"></span>
            <a href="{% url "portal" %}">Portal</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" title="Challenges">
            <a href="{% url "challenges" %}">
                Challenges
            </a>
        </li>
    </ol>
</nav>
{% endblock header %}
{% block scripts %}
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            function showChallenges(where) {
                new gridjs.Grid({
                    columns: [
                        { id: 'name', name: 'Find and Kill' },
                        { id: 'people', name: 'People' },
                        { id: 'level', name: 'Level' },
                        { id: 'reward', name: 'Reward' }
                    ],
                    data: [
    {% for challenge in challenges %}
                        {
        {% if challenge.is_completed %}
                            name: gridjs.html('<span class="challenge-completed">{% autoescape off %}{{ challenge.mob_name }}{% endautoescape %}</span><br><span class="text-white" title="Completed by">Completed by</span> {% for winner in challenge.winners %}<a href="{% url "player" name=winner %}#player" title="Player: {{ winner }}">{{ winner }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}'),
        {% else %}
                            name: "{% autoescape off %}{{ challenge.mob_name }}{% endautoescape %}",
        {% endif %}
                            people: "{{ challenge.max_people }}",
                            level: {{ challenge.max_level }},
                            reward: {{ challenge.chall_tier }}
                        },
    {% endfor %}
                    ],
                    className: {
                        table: 'table table-dark table-striped border border-secondary rounded'
                    },
                    style: {
                        table: {'max-width': '50vw'},
                        th: {'background-color': 'rgba(0, 0, 0, 0.1)'},
                    },
                    search: true,
                    sort: true,
                    pagination: false
                }).render(where);
            };

        </script>
{% endblock scripts %}
{% block content %}
    <div id="challenges"></div>
    <script>showChallenges(document.getElementById('challenges'));</script>
{% endblock content %}
