{% extends "layout.html" %}
{% block meta_title %}Challenges{% endblock meta_title %}
{% block meta_description %}Challenges, winners, and rewards currently available.{% endblock meta_description %}
{% block meta_url %}{% url "challenges" %}{% endblock meta_url %}
{% block title %}Challenges{% endblock title %}
{% block header %}Challenges{% endblock header %}
{% block scripts %}
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            function showChallenges(where) {
                new gridjs.Grid({
                    columns: [
                        { id: 'name', name: 'Find and Kill' },
                        { id: 'people', name: 'People' },
                        { id: 'level', name: 'Level' },
                        { id: 'reward', name: 'Reward' }
                    ],
                    data: [
    {% for challenge in challenges %}
                        {
        {% if challenge.is_completed %}
                            name: gridjs.html('<span class="challenge-completed">{% autoescape off %}{{ challenge.mob_name }}{% endautoescape %}</span> <span class="text-white" title="Completed by">Completed by</span> {% for winner in challenge.winners %}<a href="{% url "player" name=winner %}" title="Player: {{ winner }}">{{ winner }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}'),
        {% else %}
                            name: "{% autoescape off %}{{ challenge.mob_name }}{% endautoescape %}",
        {% endif %}
                            people: "{{ challenge.adj_people }}",
                            level: {{ challenge.orig_level }},
                            reward: {{ challenge.orig_tier }}
                        },
    {% endfor %}
                    ],
                    className: {
                        table: "card-body table table-bordered table-dark text-reset",
                    },
                    search: true,
                    sort: true,
                    pagination: false,
                    width: '50%'
                }).render(where);
            };

        </script>
{% endblock scripts %}
{% block content %}
                <div class="card bg-dark">
                     <div class="card-body" id="challenges"></div>
                </div>
                <script>
                    showChallenges(document.getElementById('challenges'));
                </script>
{% endblock content %}
