{%- set page = 'admin' -%}
{% extends "base/layout.html.j2" %}
{%- block meta_title %}Edit Quest: {{ edit_quest.display_name | safe }} ({{ edit_quest.name | safe }}) / Administration Portal{%- endblock meta_title %}
{%- block meta_description %}Administration portal to edit a quest{%- endblock meta_description %}
{%- block meta_url %}{{ url_for('.edit', edit_quest_id=edit_quest.quest_id, _external=True) }}{%- endblock meta_url %}
{%- block title %}Edit Quest: {{ edit_quest.display_name | safe }} ({{ edit_quest.name | safe }}) / Administration Portal{%- endblock title %}
{%- block header %}
<a href="{{ url_for('admin.index') }}">Administration</a> /
<a href="{{ url_for('.index') }}">Quests</a> /
<a href="{{ url_for('.edit', edit_quest_id=edit_quest.quest_id) }}">{{ edit_quest.display_name | safe }}</a> ({{ edit_quest.name | safe }})
{%- endblock header %}
{%- macro render_field(field) %}
                    <tr>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field.label | safe }}
                        </td>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                            <ul class="flash-error">
        {%- for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
        {%- endfor %}
                            </ul>
    {%- endif %}
                        </td>
                    </tr>
{%- endmacro %}
{%- block content %}
    {%- if edit_quest and edit_quest_form %}
                <form autocomplete="off" method="post" action="{{ url_for('.edit', edit_quest_id=edit_quest.quest_id) }}" id="quest-edit-form">
                    <table>
                        {{ render_field(edit_quest_form.name, value=edit_quest.name) }}
                        {{ render_field(edit_quest_form.display_name, value=edit_quest.display_name) }}
                        {{ render_field(edit_quest_form.completion_message) }}
                        {{ render_field(edit_quest_form.min_level, value=edit_quest.min_level) }}
                        {{ render_field(edit_quest_form.max_level, value=edit_quest.max_level) }}
        {%- set repeatable_checked = False %}
        {%- if edit_quest.repeatable == 1 %}
            {% set repeatable_checked = True %}
        {%- endif %}
                        {{ render_field(edit_quest_form.repeatable, checked=repeatable_checked) }}
                        {{ render_field(edit_quest_form.description) }}
                        {{ render_field(edit_quest_form.class_restrict) }}
                        {{ render_field(edit_quest_form.quest_intro) }}
                        {{ render_field(edit_quest_form.prerequisite) }}
                        {{ edit_quest_form.csrf_token }}
                        {{ render_field(edit_quest_form.submit) }}
                    </table>
                    <script>
                        document.getElementById('completion_message').innerHTML = {{ edit_quest.completion_message | tojson }};
                        document.getElementById('description').innerHTML = {{ edit_quest.description | tojson }};
                        document.getElementById('class_restrict').value = {{ edit_quest.class_restrict }};
                        document.getElementById('quest_intro').innerHTML = {{ edit_quest.quest_intro | tojson }};
                        document.getElementById('prerequisite').value = {{ edit_quest.prerequisite }};
                    </script>
                </form>
    {%- endif %}
    <h4>Rewards</h4>
    {%- if edit_quest.rewards %}
    <ol>
        {%- for quest_reward in edit_quest.rewards %}
        <li>
            {{ quest_reward }}
        </li>
        {%- endfor %}
    </ol>
    {%- else %}
    <ul>
        <li>
            <i>None</i>
        </li>
        <li>
            <a href="#add-quest-reward" id="add-quest-reward">Add Quest Reward</a>
        </li>
    </ul>
    {%- endif %}
    <h4>Steps</h4>
    {%- if edit_quest.steps %}
    <ol>
        {%- for quest_step in edit_quest.steps %}
        <li>
            {{ quest_step }}
        </li>
        {%- endfor %}
    </ol>
    {%- else %}
    <ul>
        <li>
            <i>None</i>
        </li>
        <li>
            <a href="#add-quest-step" id="add-quest-step">Add Quest Step</a>
        </li>
    </ul>
    {%- endif %}
{%- endblock content %}
