{%- set page = 'admin' -%}
{% extends "base/layout.html.j2" %}
{% block meta_title %}Quests / Administration Portal{% endblock meta_title %}
{% block meta_description %}Administration portal to manage quests{% endblock meta_description %}
{% block meta_url %}{{ url_for('.index', _external=True) }}{% endblock meta_url %}
{% block title %}Quests / Administration Portal{% endblock title %}
{% block header %}Quests{% endblock header %}
{%- macro render_field(field) %}
                    <tr>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field.label | safe }}
                        </td>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                            <ul class="flash-error">
        {%- for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
        {%- endfor %}
                            </ul>
    {%- endif %}
                        </td>
                    </tr>
{%- endmacro %}
{%- block scripts %}
    {%- if all_quests and all_quests is iterable and all_quests | length > 0 %}
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            function showQuests(where) {
                new gridjs.Grid({
                    columns: [
                        {
                            id:     'quest_id',
                            name:   'ID'
                        },
                        {
                            id:     'name',
                            name:   'Name'
                        },
                        {
                            id:     'display_name',
                            name:   'Display Name'
                        },
                        {
                            id:     'description',
                            name:   'Description'
                        },
                        {
                            id:     'delete',
                            name:   'Delete'
                        }
                    ],
                    data: [
                      {%- for quest in all_quests %}
                        {
                            quest_id:       gridjs.html(`<a href="{{ url_for('.edit', edit_quest_id=quest.quest_id) }}">{{ quest.quest_id }}</a>`),
                            name:           "{{ quest.name | safe }}",
                            display_name:   "{{ quest.display_name | safe }}",
                            description:    {{ quest.description | safe | truncate(50) | trim | tojson }},
                            delete:         gridjs.html(`<a href="{{ url_for('.delete', delete_quest_id=quest.quest_id) }}" onclick="return confirm('Are you sure you want to delete this quest?');">❌</a>`)
                        }{% if not loop.last %},{% endif %}
                      {%- endfor %}
                    ],
                    search:     true,
                    sort:       true,
                    pagination: true,
                    width:      '50%'
                }).render(where);
            };
        </script>
    {%- endif %}
{%- endblock scripts %}
{%- block content %}
    {%- if quest_form is defined %}
                <h3 title="Add">Add</h3>
                <form autocomplete="off" method="post" action="{{ url_for('.index') }}" id="quest-add-form">
                    <table>
                        {{ render_field(quest_form.name) }}
                        {{ render_field(quest_form.display_name) }}
                        {{ render_field(quest_form.min_level) }}
                        {{ render_field(quest_form.repeatable) }}
                        {{ render_field(quest_form.description) }}
                        {{ render_field(quest_form.class_restrict) }}
                        {{ render_field(quest_form.quest_intro) }}
                        {{ render_field(quest_form.prerequisites) }}
                        {{ quest_form.csrf_token }}
                        {{ render_field(quest_form.submit) }}
                    </table>
                </form>
    {%- endif %}
    {%- if all_quests and all_quests is iterable and all_quests | length > 0 %}
                <hr>
                <div id="all-quests"></div>
                <script>
                    showQuests(
                        document.getElementById('all-quests')
                    );
                </script>
    {%- endif %}
{%- endblock content %}
