{%- set page = 'admin' -%}
{% extends "base/layout.html.j2" %}
{% block meta_title %}Quests / Administration Portal{% endblock meta_title %}
{% block meta_description %}Administration portal to manage quests{% endblock meta_description %}
{% block meta_url %}{{ url_for('.index', _external=True) }}{% endblock meta_url %}
{% block title %}Quests / Administration Portal{% endblock title %}
{%- block header %}
<a href="{{ url_for('admin.index') }}">Administration</a> /
<a href="{{ url_for('.index') }}">Quests</a>
{%- endblock header %}
{%- macro render_field(field) %}
                    <tr>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field.label | safe }}
                        </td>
                        <td class="admin-{{ field.name | safe }}">
                            {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                            <ul class="flash-error">
        {%- for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
        {%- endfor %}
                            </ul>
    {%- endif %}
                        </td>
                    </tr>
{%- endmacro %}
{%- block scripts %}
    {%- if all_quests and all_quests is iterable and all_quests | length > 0 %}
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            function showQuests(where) {
                new gridjs.Grid({
                    columns: [
                        {
                            id:     'quest_id',
                            name:   'ID'
                        },
                        {
                            id:     'name',
                            name:   'Name'
                        },
                        {
                            id:     'display_name',
                            name:   'Display Name'
                        },
                        {
                            id:     'repeatable',
                            name:   'Repeatable'
                        },
                        {
                            id:     'min_level',
                            name:   'Minimum Level'
                        },
                        {
                            id:     'max_level',
                            name:   'Maximum Level'
                        },
                        {
                            id:     'steps',
                            name:   'Steps (#)'
                        },
                        {
                            id:     'class_restrict',
                            name:   'Class'
                        },
                        {
                            id:     'delete',
                            name:   'Delete'
                        }
                    ],
                    data: [
                      {%- for quest in all_quests %}
                        {
                            quest_id:       gridjs.html(`<a href="{{ url_for('.edit', edit_quest_id=quest.quest_id) }}">{{ quest.quest_id }}</a>`),
                            name:           "{{ quest.name | safe }}",
                            display_name:   "{{ quest.display_name | safe }}",
                            repeatable:     {{ quest.repeatable }},
                            min_level:      {{ quest.min_level }},
                            max_level:      {{ quest.max_level }},
                            steps:          {{ quest.steps | length }},
                            class_restrict: "{{ quest.restricted_class.class_display_name }}",
                            delete:         gridjs.html(`<a href="{{ url_for('.delete', delete_quest_id=quest.quest_id) }}" onclick="return confirm('Are you sure you want to delete this quest?');">❌</a>`)
                        }{% if not loop.last %},{% endif %}
                      {%- endfor %}
                    ],
                    search:     true,
                    sort:       true,
                    pagination: true,
                    width:      '50%'
                }).render(where);
            };
        </script>
    {%- endif %}
{%- endblock scripts %}
{%- block content %}
    {%- if all_quests and all_quests is iterable and all_quests | length > 0 %}
                <div id="all-quests"></div>
                <script>
                    showQuests(document.getElementById('all-quests'));
                </script>
                <hr>
    {%- endif %}
    {%- if quest_form is defined %}
                <h3 title="Add">Add</h3>
                <form autocomplete="off" method="post" action="{{ url_for('.index') }}" id="quest-add-form">
                    <table>
                        {{ render_field(quest_form.name, placeholder='QUEST_NAME') }}
                        {{ render_field(quest_form.display_name, placeholder='The Ultimate Challenge') }}
                        {{ render_field(quest_form.completion_message, placeholder='You have cleared the ultimate challenge!') }}
                        {{ render_field(quest_form.min_level) }}
                        {{ render_field(quest_form.max_level) }}
                        {{ render_field(quest_form.repeatable) }}
                        {{ render_field(quest_form.description, placeholder='No description available.') }}
                        {{ render_field(quest_form.class_restrict) }}
                        {%- set quest_intro_placeholder = '"Ah, @n!"\n"How wonderful to see you again - and it appears you have grown substantially in power since last we spoke!"' %}
                        {{ render_field(quest_form.quest_intro, placeholder=quest_intro_placeholder) }}
                        {{ render_field(quest_form.prerequisite) }}
                        {{ quest_form.csrf_token }}
                        {{ render_field(quest_form.submit) }}
                    </table>
                </form>
    {%- endif %}
{%- endblock content %}
