{% extends "layout.html" %}
{% block meta_title %}MUD Clients{% endblock meta_title %}
{% block meta_description %}A few MUD clients that we have heard good things about.{% endblock meta_description %}
{% block meta_url %}{% url "clients" %}{% endblock meta_url %}
{% block title %}MUD Clients{% endblock title %}
{% block header %}
    <span class="bi bi-terminal-split"></span>
    <a href="{% url "clients" %}" title="MUD Clients">
        MUD Clients
    </a>
{% endblock header %}
{% block content %}
    <p class="lead">
        While you can certainly enjoy the game via
        <a href="{% url "connect" %}" target="_blank" title="Mudslinger">the Mudslinger web client</a>,
        you might prefer to connect to the game with software designed specifically to help you play a MUD.
    </p>
    <p class="lead">
        Here are some of the MUD clients that we have heard good things about:
    </p>
    {% for category in mud_client_categories %}
   <details class="mx-1 my-3" open>
        <summary id="category-{{ category.name | slugify }}" class="h3 p-2 text-ishar bg-black border border-secondary rounded" title="{{ category.name }}">
            {{ category.name }}
            <a class="anchor-link" href="#category-{{ category.name | slugify }}" aria-label="Link to this section: MUD Client Category {{ category.name }} ({{ category.name | slugify }})">&#x23;</a>
        </summary>
       <ul class="list-group">
        {% for client in category.clients.all %}
            {% if client.is_visible %}
            <li class="border-0 bg-dark list-group-item">
            <span class="bi bi-dot text-ishar"></span>
                <a class="list-group-item-text" href="{{ client.url }}" id="client-{{ client.name | slugify }}" target="_blank" title="{{ client.name }}">
                    {{ client.name }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
   </details>
    {% endfor %}
    <p class="lead">
        Do not be afraid to try a few, as they all have different strengths and weaknesses.
        After you download a client, tell it to connect to <code>isharmud.com</code> on
        port number <code>23</code> or <code>9999</code> to join the game.
    </p>
    <p class="lead">
        Please check out our <a href="/start/" title="getting started guide">getting started guide</a> as well!
    </p>
{% endblock content %}
