{% extends "layout.html" %}
{% load static %}
{% block meta_title %}MUD Clients{% endblock meta_title %}
{% block meta_description %}A few MUD clients that we have heard good things about.{% endblock meta_description %}
{% block meta_url %}{% url 'clients' %}#clients{% endblock meta_url %}
{% block title %}MUD Clients{% endblock title %}
{% block scripts %}let focusTo = 'clients'{% endblock scripts %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active h2" aria-current="page" title="MUD Clients">
        <a class="icon-link icon-link-hover" href="{% url 'clients' %}#clients">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#terminal-split"></use>
            </svg>
            <span id="clients">
                MUD Clients
            </span>
        </a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
<div class="alert alert-dark alert-dismissible fade show" role="alert" id="clients-alert">
    <p class="lead">
        While you can certainly enjoy the game via
        <a class="icon-link" href="{% url 'connect' %}" target="_blank" title="Mudslinger">
            the Mudslinger web client
            <svg class="bi" aria-hidden="false" role="img" aria-label="Open the Mudslinger web client in a new window.">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
            </svg>
        </a>,
        you might prefer to connect to the game with software designed specifically to help you play a MUD.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

    {% for category in mud_client_categories %}
<div class="container-fluid">
    <details class="px-3" open>
        <summary id="category-{{ category.name|slugify }}" class="h4 text-ishar" title="{{ category.name }}">
            <a class="anchor-link icon-link icon-link-hover" href="#category-{{ category.name|slugify }}" aria-label="Link to this section: MUD Client Category {{ category.name }} ({{ category.name|slugify }})">
        {% if category.display_icon %}
                {{ category.get_display_icon }}
        {% else %}
                &#x23;
        {% endif %}
            </a>
            {{ category.name }}
        </summary>
        <ul class="list-group list-group-horizontal-sm list-group-flush list-group-bordered pb-3 mb-3 border border-1 rounded">
        {% for client in category.clients.all %}
            {% if client.is_visible %}
            <li class="list-group-item list-group-unbordered border-0" id="client-{{ client.name|slugify }}"  title="{{ client.name }}">
                <a class="anchor-link icon-link icon-link-hover" href="#client-{{ client.name|slugify }}" aria-label="Link to this section: MUD Client {{ client.name }} ({{ client.name|slugify }})">
                    <svg class="bi" aria-hidden="false" role="img" aria-label="Link to this MUD client section.">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#terminal"></use>
                    </svg>
                </a>
                <a class="list-group-item-text icon-link" href="{{ client.url }}" target="_blank">
                    {{ client.name }}
                    <svg class="bi" aria-hidden="false" role="img" aria-label="Open MUD client {{ client.name }} website in new window.">
                        <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#box-arrow-up-right"></use>
                    </svg>
                </a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </details>
</div>
    {% endfor %}

<div class="alert alert-dark alert-dismissible fade show" role="alert" id="clients-footer-alert">
    <p class="lead">
        Do not be afraid to try a few, as they all have different strengths and weaknesses.
        After you download a client, tell it to connect to <code>isharmud.com</code> on
        port number <code>23</code> or <code>9999</code> to join the game.
        Please check out our <a class="icon-link icon-link-hover" href="{% url 'start' %}#start" title="getting started guide">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#rocket-takeoff"></use>
            </svg>
            getting started guide
        </a> as well!
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock content %}
