{% extends "layout.html" %}
{% load ishar %}
{% block meta_title %}Best MUD Clients - Software to Play {{ WEBSITE_TITLE }}{% endblock meta_title %}
{% block meta_description %}Recommended MUD clients for playing {{ WEBSITE_TITLE }}. Find the best telnet clients and MUD software for Windows, Mac, Linux, Android, and iOS to connect to isharmud.com.{% endblock meta_description %}
{% block meta_url %}{% url 'clients' %}{% endblock meta_url %}
{% block title %}Best MUD Clients - Software to Play {{ WEBSITE_TITLE }}{% endblock title %}
{% block page_heading %}Best MUD Clients for Playing {{ WEBSITE_TITLE }}{% endblock page_heading %}
{% block scripts %}let focusTo = 'clients'{% endblock scripts %}
{% block breadcrumbs %}
    {% crumb "MUD Clients" "terminal-split" urlname="clients" anchor="clients" active=True %}
{% endblock breadcrumbs %}
{% block content %}
<div class="ac">

    <header class="ac-hero">
        <span class="ac-hero__badge">{% bi "terminal-split" %}</span>
        <div class="ac-hero__text">
            <h2 class="ac-hero__title">MUD Clients</h2>
            <p class="ac-hero__sub">
                While you can certainly enjoy the game via
                <a href="{% url 'connect' %}" title="Web Client">our web client</a>,
                you might prefer software designed specifically to help you play a MUD.
            </p>
        </div>
    </header>

{% for category in mud_client_categories %}
    <div class="ac-panel">
        <div class="ac-panel__h" id="category-{{ category.name|slugify }}">
{% if category.display_icon %}
            {{ category.get_display_icon }}
{% else %}
            {% bi "terminal" %}
{% endif %}
            {{ category.name }}
            <a class="anchor-link" href="#category-{{ category.name|slugify }}" aria-label="Link to this section: MUD Client Category {{ category.name }} ({{ category.name|slugify }})"></a>
        </div>
        <div class="ac-grid">
{% for client in category.clients.all %}
{% if client.is_visible %}
            <a class="ac-link" href="{{ client.url }}" target="_blank" id="client-{{ client.name|slugify }}" title="Open the {{ client.name }} website in a new window.">
                <span class="ac-link__icon">{% bi "terminal" %}</span>
                <span class="ac-link__body">
                    <span class="ac-link__name">{{ client.name }}</span>
                </span>
                <span class="ac-link__side">
                    {% bi "box-arrow-up-right" label="Opens in a new window." %}
                </span>
            </a>
{% endif %}
{% endfor %}
        </div>
    </div>
{% endfor %}

    <div class="ac-note">
        {% bi "plug" %}
        <span>
            Do not be afraid to try a few, as they all have different strengths and weaknesses.
            After you download a client, tell it to connect to <code>isharmud.com</code> on
            port number <code>23</code> or <code>9999</code> to join the game &mdash;
            and check out our
            <a href="{% url 'start' %}#start" title="getting started guide">getting started guide</a> as well!
        </span>
    </div>

</div>
{% endblock content %}
