{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Events{% if global_event_count > 0 %} ({{ global_event_count }}){% endif %}{% endblock meta_title %}
{% block meta_description %}
    {% if global_event_count > 0 %}
        {{ global_event_count }} event{{ global_event_count|pluralize }} active.
    {% else %}
        No active events right now.
    {% endif %}
{% endblock meta_description %}
{% block meta_url %}{% url "events" %}{% endblock meta_url %}
{% block title %}Events{% endblock title %}
{% block header %}
    <span class="bi bi-calendar-event" title="Events">
        Events
    </span>
    {% if global_event_count > 0 %}
    <span class="badge text-bg-secondary" title="{{ global_event_count }} event{{ global_event_count|pluralize }} active">
        {{ global_event_count }}
    </span>
    {% endif %}
{% endblock header %}
{% block content %}
    <div class="card-text">
    {% if global_events %}
        <div class="accordion m-3">
        {% for global_event in global_events %}
            <div class="accordion-item bg-dark text-white" id="event-{{ global_event.event_type }}">
                <h3 class="accordion-header" title="{{ global_event.event_desc }}">
                    <button class="fw-bold accordion-button bg-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                        {{ global_event.event_desc }}
                    </button>
                </h3>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="list-group">
                            <li class="rounded bg-dark list-group-item list-group-item-text text-white" title="Ends: {{ global_event.end_time }} ({{ global_event.end_time | naturaltime }})">
                                <strong>Ends</strong>:
                                {{ global_event.end_time | naturaltime }}
                            </li>
                            <li class="rounded bg-dark list-group-item list-group-item-text text-white" title="Started: {{ global_event.start_time }} ({{ global_event.start_time | naturaltime }})">
                                <strong>Started</strong>:
                                {{ global_event.start_time | naturaltime }}
                            </li>
            {% if global_event.xp_bonus and global_event.xp_bonus != '' and global_event.xp_bonus != 0 %}
                            <li class="border-0 bg-dark list-group-item list-group-item-text text-white" title="XP Bonus: {% widthratio global_event.xp_bonus 1 1 %}%">
                                <strong>XP Bonus</strong>:
                                {% widthratio global_event.xp_bonus 1 1 %}%
                            </li>
            {% endif %}
            {% if global_event.shop_bonus and global_event.shop_bonus != '' and global_event.shop_bonus != 0 %}
                            <li class="border-0 bg-dark list-group-item list-group-item-text text-white" title="Shop Bonus: {% widthratio 100 global_event.shop_bonus 1 %}%">
                                <strong>Shop Bonus</strong>:
                                {% widthratio 100 global_event.shop_bonus 1 %}% off
                            </li>
            {% endif %}
            {% if global_event.is_luck %}
                            <li class="border-0 bg-dark list-group-item list-group-item-text text-white" title="Shavar and Chenchir shine brightly! (+50 gold &amp; +25% moves)">
                                <strong>Shavar and Chenchir shine brightly</strong>:
                                +50 gold &amp; +25% moves!
                            </li>
            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h3 title="Sorry!">
            Sorry!
        </h3>
        <p title="Unfortunately, there are no active global events right now.">
            Unfortunately, there are no active events right now.
        </p>
        <p title="Please check back later, or maybe try out some challenges!">
            Please check back later, or maybe try out some
            <a href="{% url "challenges" %}" title="challenges">challenges</a>!
        </p>
    {% endif %}
    </div>
{% endblock content %}
