{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Events{% if GLOBAL_EVENT_COUNT > 0 %} ({{ GLOBAL_EVENT_COUNT }}){% endif %}{% endblock meta_title %}
{% block meta_description %}
    {% if GLOBAL_EVENT_COUNT > 0 %}
        {{ GLOBAL_EVENT_COUNT }} event{{ GLOBAL_EVENT_COUNT|pluralize }} active.
    {% else %}
        No active events right now.
    {% endif %}
{% endblock meta_description %}
{% block meta_url %}{% url "events" %}{% endblock meta_url %}
{% block title %}Events{% endblock title %}
{% block header %}
    <span class="bi bi-calendar-event"></span>
    <a href="{% url "events" %}" title="Events">Events</a>
    {% if GLOBAL_EVENT_COUNT > 0 %}
    <span class="badge text-bg-secondary" title="{{ GLOBAL_EVENT_COUNT }} event{{ GLOBAL_EVENT_COUNT|pluralize }} active">
        {{ GLOBAL_EVENT_COUNT }}
    </span>
    {% endif %}
{% endblock header %}
{% block content %}
    {% if global_events and GLOBAL_EVENT_COUNT > 0 %}
<p class="lead" title="{{ GLOBAL_EVENT_COUNT }} event{{ global_event_count|pluralize }} active.">
    {{ GLOBAL_EVENT_COUNT }} event{{ global_event_count|pluralize }} active.
</p>
        {% for global_event in global_events %}
<details open>
    <summary class="h3 text-ishar" title="{{ global_event.event_desc }}">
        {{ global_event.event_desc }}
    </summary>
    <p>
        <strong>Ends</strong>:
        {{ global_event.end_time }}
        ({{ global_event.end_time | naturaltime }})
    </p>
    <p title="Started: {{ global_event.start_time }} ({{ global_event.start_time | naturaltime }})">
        <strong>Started</strong>:
        {{ global_event.start_time }} 
        ({{ global_event.start_time | naturaltime }})
    </p>
    {% if global_event.xp_bonus and global_event.xp_bonus != '' and global_event.xp_bonus != 0 %}
    <p>
        <strong>XP Bonus</strong>:
        {% widthratio global_event.xp_bonus 1 1 %}%
    </P>
    {% endif %}
    {% if global_event.shop_bonus and global_event.shop_bonus != '' and global_event.shop_bonus != 0 %}
    <p>
        <strong>Shop Bonus</strong>:
        {% widthratio 100 global_event.shop_bonus 1 %}% off
    </p>
    {% endif %}
    {% if global_event.is_luck %}
    <p>
        <strong>Shavar and Chenchir shine brightly</strong>:
        +50 gold &amp; +25% moves!
    </p>
    {% endif %}
</details>
        {% endfor %}
    {% else %}
<h3 title="Sorry!">
    Sorry!
</h3>
<p class="lead" title="Unfortunately, there are no active events right now.">
    Unfortunately, there are no active events right now.
</p>
<p class="lead" title="Please check back later, or maybe try out some challenges!">
    Please check back later, or maybe try out some
    <a href="{% url "challenges" %}" title="challenges">challenges</a>!
</p>
    {% endif %}
{% endblock content %}
