body {
        margin: 4px 4px 4px 4px;
        padding: 0px 0px 0px 0px;
        font-family: arial, sans-serif;
        font-size: 100%;
        background-color: #000;
        color: #fff;
        width: 100%;
}

.content {
        text-align: center;
	padding: 1em;
        background-color: #484a47;
}

#logo, #content {
        width: 760px;
        margin: 0px auto 0px auto;
        padding: 0px 0px 0px 0px;
        text-align: left;
}

a { color: #fa7 }
a:hover { color: #fdb }

h1 { margin-top: 0px; font-size: 1.75em; }
h2 { margin-top: 0px; font-size: 1.25em; }
table { font-size: 1em; }
pre,tt { font-family: monospace; font-size: 14px; }
img { border-width: 0px }
p { margin-bottom: 0px; }

.quote { font-style: italic; font-size: .75em; }
.attribution { padding-left: 5%; font-style: normal; font-weight: bold; }

#copyright {
        text-align: center;
        font-size: .75em;
        color: #ccc;
}
#copyright a { color: #c96; }
#copyright a:hover { color: #ca8; }

.under {
        padding: 1em;
        background-color: #484a47;
}

.rightmenu {
        white-space: nowrap;
        float: right;
        margin: 0px 0px 1em 1em;
        padding: 0px;
        width: auto;
}
.rightmenu dl, .rightmenu dd {
        margin: 0px;
        padding: 0px;
        width: auto;
}
.rightmenu a {
        background-color: #313632;
        display: block;
        margin: 2px 0px 0px 0px;
        padding: .25em .5em;
        border: #686a65 1px solid;
        width: auto;
        text-decoration: none;
}
.rightmenu a:hover {
        background-color: #686a65;
}

.nomenu {
        clear: both;
        margin: 0px;
        padding: 0px;
}

@media print
{
        body { margin: 0px; background-color: #fff; color: #000; background-image: none; font-size: 12pt }
        a { color: #630; text-decoration: underline }
        #content { width: auto; margin: 0px }
        .under { background-color: #fff; border: #fff 1px dotted; }
        .rightmenu { display: none }
}

@media screen and (max-device-width: 480px)
{
        body,table { -webkit-text-size-adjust: 180% }
        pre { -webkit-text-size-adjust: 110% }
}
