{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block meta_title %}Who's Online?{% endblock meta_title %}
{% block meta_description %}Number of players currently online.{% endblock meta_description %}
{% block meta_url %}{% url 'who' %}#who{% endblock meta_url %}
{% block title %}Who's Online?{% if players %} ({{ players | length }} player{{ players|pluralize }}){% endif %}{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item h2" title="Portal">
        <a class="icon-link icon-link-hover" href="{% url 'portal' %}#portal">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-gear"></use>
            </svg>
            <span id="portal">
                Portal
            </span>
        </a>
    </li>
    <li class="breadcrumb-item active h2" aria-current="page" title="Who's Online?">
        <a class="icon-link icon-link-hover" href="{% url 'who' %}#who">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#people"></use>
            </svg>
            <span id="who">
                Who's Online?
            </span>
        </a>
    </li>
    <li class="breadcrumb-item active h5" title="{{ PLAYERS_ONLINE }} player{{ PLAYERS_ONLINE|pluralize }} online" style="--bs-breadcrumb-divider: '';">
        <span class="badge bg-dark rounded-pill border border-secondary">
            {{ PLAYERS_ONLINE }}
        </span>
    </li>
{% endblock breadcrumbs %}
{% block content %}
    {% if players %}
    <h3 id="count" title="{{ players | length }} player{{ players|pluralize }} online}">
        {{ players | length }} player{{ players|pluralize }} online
    </h3>
    <div class="m-3">
        <ol class="bg-dark list-group list-group-striped w-50">
        {% for player in players.all %}
            <li class="bg-dark border-secondary list-group-item list-group-item-text text-white" title="{{ player.player_name }}">
                <strong>{{ forloop.counter }}.</strong>
                {{ player.player_link }}
            {% if not player.is_immortal %}
                {{ player.true_level }} ({{ player.remorts }})
            {% endif %}
            </li>
        {% endfor %}
        </ol>
    </div>
    {% else %}
    <div class="m-3">
        <h4 title="Sorry...">Sorry...</h4>
        <p class="fst-italic lead">
            There are currently no players online.
        </p>
    </div>
    {% endif %}
{% endblock content %}
