{% extends "layout.html" %}
{% load humanize %}
{% block meta_title %}Who's Online?{% endblock meta_title %}
{% block meta_description %}Number of players currently online.{% endblock meta_description %}
{% block meta_url %}{% url 'who' %}#who{% endblock meta_url %}
{% block title %}Who's Online?{% if players %} ({{ players | length }} player{{ players|pluralize }}){% endif %}{% endblock title %}
{% block breadcrumbs %}
    <li class="h2 bi bi-people breadcrumb-item" title="Portal">
        <a href="{% url 'portal' %}#portal" id="portal">Portal</a>
    </li>
    <li class="h2 breadcrumb-item active" aria-current="page" title="Who's Online?">
        <a href="{% url 'who' %}#who" id="who">Who's Online?</a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
    {% if players %}
    <h3 id="count" title="{{ players | length }} player{{ players|pluralize }} online}">
        {{ players | length }} player{{ players|pluralize }} online
    </h3>
    <div class="m-3">
        <ol class="bg-dark list-group list-group-striped w-50">
        {% for player in players.all %}
            <li class="bg-dark border-secondary list-group-item list-group-item-text text-white" title="{{ player.player_name }}">
                <strong>{{ forloop.counter }}.</strong>
                {{ player.player_link }}
            {% if not player.is_immortal %}
                {{ player.true_level }} ({{ player.remorts }})
            {% endif %}
            </li>
        {% endfor %}
        </ol>
    </div>
    {% else %}
    <p class="lead m-3">
        Sorry, but there are currently no players online.
    </p>
    {% endif %}
{% endblock content %}
