                <p id="go-back">
                    <button onclick="history.back()">
                        <img src="{{ url_for('static', filename='back.gif') }}" alt="Go Back">
                    </button>
                </p>
