                <p id="go-back">
                    <a href="#" onclick="history.back()">
                        <img src="{{ url_for('static', filename='back.gif') }}" alt="Go Back">
                    </a>
                </p>
