{% extends "layout.html.j2" %}
{%- if challenges is defined and challenges is iterable and challenges | length > 0 %}
    {%- set challenges_completed    = challenges | selectattr('winner_desc', '!=', '') | list | length %}
    {%- set challenges_total        = challenges | list | length %}
    {%- set challenges_title        = challenges_completed | string + '/' + challenges_total | string + ' complete'  %}
{%- endif %}
{% block meta_title %}Challenges{% if challenges_title %} ({{ challenges_title }}){% endif %}{% endblock meta_title %}
{% block meta_description %}Challenges{% if challenges_title %} ({{ challenges_title }}){% endif %} winners, and rewards currently available.{% endblock %}
{% block meta_url %}{{ url_for('challenges', _external=True) }}{% endblock meta_url %}">
{% block title %}Challenges{% if challenges_title %} ({{ challenges_title }}){% endif %}{% endblock %}
{% block header %}Challenges{% endblock %}
{%- macro challenge_tier(tier) -%}
    {%- set challenge_tiers = {
        9: 'SS',
        8: 'SS',
        7: 'SS',
        6: 'S',
        5: 'A',
        4: 'B',
        3: 'C',
        2: 'D',
        1: 'F'
    } -%}
    {%- if challenge_tiers[tier] is defined  -%}
        {{ challenge_tiers[tier] }}
    {%- else -%}
        {{ tier }}
    {%- endif -%}
{%- endmacro -%}
{%- block content %}
    {%- if challenges is defined and challenges is iterable and challenges | length > 0 %}
        {%- if challenges_title %}
            <h3>
                {{ challenges_title }}
            </h3>
        {%- endif %}
            <table id="challenges">
                <tr>
                    <th>
                        Find and Kill
                    </th>
                    <th>
                        Max People
                    </th>
                    <th>
                        Max Level
                    </th>
                    <th>
                        Reward Tier
                    </th>
                    <th>
                        Completed by
                    </th>
                </tr>
        {%- for challenge in challenges %}
            {%- if challenge.winner_desc != '' %}
                {%- set challenge_completed = True %}
                {%- set challenge_winners   = challenge.winner_desc.replace(' ', '').split(',') %}
            {%- else %}
                {%- set challenge_completed = False %}
            {%- endif %}
                <tr>
                    <td{%- if challenge_completed == True %} class="challenge-completed"{%- endif %}>
                        {{ challenge.mob_name }}
                    </td>
                    <td>
                        {{ challenge.adj_people }}
                    </td>
                    <td>
                        {{ challenge.adj_level }}
                    </td>
                    <td>
                        {{ challenge_tier(challenge.adj_tier) }}
                    </td>
                    <td>
            {%- if challenge_completed == True %}
                {%- for challenge_winner in challenge_winners %}
                        <a href="{{ url_for('show_player', player_name=challenge_winner) }}" title="Player: {{ challenge_winner }}">{{ challenge_winner | title | safe }}</a>
                    {%- if not loop.last %},{%- endif %}
                {%- endfor %}
            {%- endif %}
                    </td>
                </tr>
        {%- endfor %}
            </table>
    {%- endif %}
    {%- include('back.html.j2') %}
{%- endblock %}
