{% extends "index.html.j2" %}
{% block title %} - MUD Clients{% endblock %}
{% block content %}
<h1>MUD Clients</h1>

While you can certainly enjoy the game via <a href="/connect/">our web client</a> (<strong>coming soon!</strong>),
you might prefer to connect to the game with software designed specifically to help you play a MUD.
<p>
Here are some of the MUD clients that we have heard good things about:
<p>
<h2>Cross-Platform</h2>
<ul>
<li><a href="http://www.mudlet.org/" target_new>Mudlet</a></li>
</ul>
<h2>Android</h2>
<ul>
<li><a href="http://bt.happygoatstudios.com/" target=_new>Blowtorch</a></li> 
</ul>
<h2>Windows</h2>
<ul>
<li><a href="http://www.zuggsoft.com/zmud/zmudinfo.htm" target=_new>ZMud</a></li>
<li><a href="gmd3219b.zip">GMud</a> (Download)</li>
<li><a href="http://www.rasbora.freeserve.co.uk/wintin.htm" target=_new>Wintin 95</a></li>
<li><a href="http://www.ashavar.com/client/" target=_new>alclient</a></li>
<li><a href="http://ytin.sourceforge.net/" target=_new>yTin</a></li>
<li><a href="http://gosclient.altervista.org/eng/" target=_new>GosClient</a></li>
<li><a href="http://www.gammon.com.au/downloads/dlmushclient.htm" target=_new>MUSHclient</a></li>
</ul>

<h2>Mac OS</h2>
<ul>
<li><a href="http://www.riverdark.net/atlantis/" target=_new>Atlantis</a></li>
<li><a href="http://mudwalker.cubik.org/" target=_new>MudWalker</a></li>
</ul>

<h2>Linux / UNIX</h2>
<ul>
<li><a href="http://tintin.sourceforge.net/" target=_new>TinTin++</a></li>
<li><a href="http://tinyfugue.sourceforge.net/" target=_new>TinyFugue</a></li>
<li><a href="http://live.gnome.org/GnomeMud" target=_new>gnome-mud</a></li>
</ul>
<p>
After you download one, tell it to connect to <strong>isharmud.com</strong> on port <strong>23</strong> or <strong>9999</strong>
to connect to the game, then see our <a href="/help/m/mud_basics.html">getting started guide</a> for tips on how to play.
<p>
Everything listed here can be used at no cost. Do not be afraid to try a few, as they all have different strengths and weaknesses.
{% endblock %}
