{% extends "layout.html.j2" %}
{% block meta_title %}Essence Shop{% endblock meta_title %}
{% block meta_description %}View and spend your seasonally rewarded essence points{% endblock%}
{% block meta_url %}{{ url_for('essence_shop', _external=True) }}{% endblock meta_url %}">
{% block title %}Essence Shop{% endblock %}
{% block header %}Essence Shop{% endblock %}
{%- macro render_field(field) %}
                    <ul class="essence-shop">
    {% for subfield in field %}
                        <li>
                            {{ subfield }}
                            {{ subfield.label }}
                            <ul>
                                <li>
                                    {{ account_upgrades[subfield.data | int - 1].description }}
                                </li>
        {%- if current_user.seasonal_points >= account_upgrades[subfield.data | int - 1].cost  %}
            {%- set cost_css = 'success' %}
        {%- else %}
            {%- set cost_css = 'error' %}
        {%- endif %}
                                <li title="Cost: {{ account_upgrades[subfield.data | int - 1].cost }} essence">
                                    <span class="flash-{{ cost_css }}">{{ account_upgrades[subfield.data | int - 1].cost }} essence</span>
                                </li>
                            </ul>
                        </li>
    {% endfor %}
                    </ul>
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro %}
{%- block content %}
    {%- if current_user.seasonal_points is defined %}
                <ul class="essence-shop">
                    <li>
        {%- if current_user.seasonal_points > 0 %}
                        You have <strong>{{ current_user.seasonal_points }} essence available</strong> to spend!
        {%- else %}
                        <i>You do not have any essence available to spend.</i>
        {%- endif %}
                    </li>
                </ul>
    {%- endif %}
    {%- if current_user.seasonal_earned is defined %}
                <ul class="essence-shop">
                    <li>
        {%- if current_user.seasonal_earned > 0 %}
                        You have <strong>earned {{ current_user.seasonal_earned }} essence</strong> this season.
        {%- else %}
                        <i>You have not earned any essence this season.</i>
        {%- endif %}
                    </li>
                </ul>
    {%- endif %}
                <h4>
                    Upgrades
                </h4>
    {%- if current_user.account_upgrades is defined and current_user.account_upgrades is iterable and current_user.account_upgrades | selectattr('amount', '>', 0) | list | length > 0 %}
                <ol class="essence-shop">
            {%- for upgrade in current_user.account_upgrades | selectattr('amount', '>', 0) %}
                    <li>
                        <strong>{{ upgrade.account_upgrade.name }}</strong>
                        <ul>
                            <li>
                                {{ upgrade.account_upgrade.description }}
                            </li>
                            <li>
                                Amount: {{ upgrade.amount }}
                            </li>
                        </ul>
                    </li>
            {%- endfor %}
                </ol>
    {%- else %}
                <ul>
                    <li>
                        <i>You have not purchased any account upgrades.</i>
                    </li>
                </ul>
    {%- endif %}
    {%- if essence_shop_form is defined %}
                <h4>
                    Purchase
                </h4>
                <form method="post" action="{{ url_for('essence_shop') }}" id="essence-shop-form">
                    {{ render_field(essence_shop_form.upgrade) }}
                    {{ essence_shop_form.csrf_token }}
                    {{ essence_shop_form.submit }}
                </form>
    {%- endif %}
{% include('back.html.j2') %}
{%- endblock %}
