{% extends "layout.html.j2" %}
{% block meta_title %}Essence Shop{% endblock meta_title %}
{% block meta_description %}View and spend your seasonally rewarded essence points{% endblock%}
{% block meta_url %}{{ url_for('essence_shop', _external=True) }}{% endblock meta_url %}">
{% block title %}Essence Shop{% endblock %}
{% block header %}Essence Shop{% endblock %}
{%- macro render_field(field) %}
                    <p class="essence-shop">
                        {{ field.label | safe }}
                        {{ field(**kwargs) | safe }}
                    </p>
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro %}
{%- block content %}
    {%- if current_user.seasonal_points is defined %}
                <h4>
                    Current
                </h4>
                {{ current_user.seasonal_points }} essence point{% if current_user.seasonal_points != 1 %}s{% endif %}
    {%- endif %}
    {%- if current_user.seasonal_earned is defined %}
                <h4>
                    Earned
                </h4>
                {{ current_user.seasonal_earned }} essence point{% if current_user.seasonal_earned != 1 %}s{% endif %}
    {%- endif %}
    {% if current_user.account_upgrades is defined %}
                <h4>
                    Upgrades
                </h4>
        {%- if current_user.account_upgrades is iterable and current_user.account_upgrades | length > 0 %}
                <ol>
            {%- for upgrade in current_user.account_upgrades | selectattr('amount', '>', 0) %}
                    <li>
                        {{ upgrade.account_upgrade.name }}
                        <ul>
                            <li>
                                {{ upgrade.account_upgrade.description }}
                            </li>
                        </ul>
                    </li>
            {%- endfor %}
                </ol>
        {%- else %}
                <ul>
                    <li>
                        <i>None</i>
                    </li>
                </ul>
        {%- endif %}
    {%- endif %}
    {%- if essence_shop_form is defined %}
                <form method="post" action="{{ url_for('essence_shop') }}" id="essence-shop-form">
                    {{ render_field(essence_shop_form.upgrade) }}
                    {{ essence_shop_form.csrf_token }}
                    {{ essence_shop_form.submit }}
                </form>
    {%- endif %}
{% include('back.html.j2') %}
{%- endblock %}
