{% extends "layout.html.j2" %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block header %}Frequently Asked Questions{% endblock %}
{%- block content %}
                <p>
                    Here are a few common questions that we have seen and heard about Ishar MUD.
                    If there is any thing that you think is missing, please feel free to reach out
                    by e-mailing <a href="mailto:admin@isharmud.com: target="_blank">admin@isharmud.com</a>.
                </p>
                {%- if faqs is defined and faqs is iterable and faqs|length > 0 %}
                <ul>
                {%- for question, answers in faqs.items() %}
                    {%- if question is defined %}
                    <li>
                        <h3>{{ question }}</h3>
                    </li>
                    {%- endif %}
                    {%- if answers is defined %}
                    <ul>
                    {%- for answer in answers %}
                        {%- if answer is defined %}
                        <li>
                            {%- if answer is not string and answer is iterable and answer|length > 1 %}
                            <ol>
                            {%- for answer_item in answer %}
                                <li>{{ answer_item }}</li>
                            {%- endfor %}
                            </ol>
                            {%- else %}
                            {{ answer }}
                            {%- endif %}
                        </li>
                        {%- endif %}
                    {%- endfor %}
                    </ul>
                    {% endif %}
                {%- endfor %}
                </ul>
            {%- endif %}
{%- endblock %}
