{%- set page = 'faq' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Frequently Asked Questions{% endblock meta_title %}
{% block meta_description %}Frequently Asked Questions by new players of the game{% endblock %}
{% block meta_url %}{{ url_for('faq', _external=True) }}{% endblock meta_url %}">
{% block title %}Frequently Asked Questions{% endblock %}
{% block header %}Frequently Asked Questions{% endblock %}
{%- block content %}
                <p>
                    Here are a few common questions that we have seen and heard about Ishar MUD.
                </p>
    {%- if faqs is defined and faqs is iterable and faqs | length > 0 %}
                <ul>
        {%- for question, answers in faqs.items() %}
            {%- if question is defined %}
                    <li title="{{ question }}">
                        <h3>
                            {{ question }}
                        </h3>
                    </li>
            {%- endif %}
            {%- if answers is defined %}
                    <li class="faq-answers">
                        <ul>
                {%- for answer in answers %}
                    {%- if answer is defined %}
                        {%- if answer is not string and answer is iterable and answer | length > 0 %}
                            <li class="faq-nested">
                                <ol>
                            {%- for answer_item in answer %}
                                    <li>
                                        {{ answer_item }}
                                    </li>
                            {%- endfor %}
                                </ol>
                            </li>
                        {%- else %}
                            <li>
                                {{ answer }}
                            </li>
                        {%- endif %}
                    {%- endif %}
                {%- endfor %}
                        </ul>
                    </li>
            {%- endif %}
        {%- endfor %}
                </ul>
                <p>
                    If there is any thing that you think is missing, please feel free to reach out
                    by e-mailing <a href="mailto:admin@isharmud.com" target="_blank">admin@isharmud.com</a>.
                </p>
    {%- endif %}
{%- endblock %}
