{% extends "layout.html.j2" %}
{% block title %}Help{% endblock %}
{% block header %}Help{% endblock %}
{% block content %}
<br>
<form method="post" action="{{ url_for('help') }}">
<input type="text" id="search_help" name="search_help">
<input type="submit" value="Search!">
</form>
{% if page is not defined or page == None %}
<p>Browse all topics by the first letter in their name:</p>
{% for choose_letter in "abcdefghijklmnopqrstuvwxyz" | list %}
{% if choose_letter != letter %}<a href="{{ url_for('help', letter=choose_letter, page=None) }}">{% endif %}{{ choose_letter }}{% if choose_letter != letter %}</a>{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
