{% extends "layout.html.j2" %}
{% block title %}History{% endblock %}
{% block header %}History{% endblock %}
{%- block content %}
                <p>
                    Ishar has been open since May 1994 and has dozens of players connected during peak hours.
                </p>
                <p>
                    Back in his mortal days in 1992, when he and his friends bashed cityguards
                    on Adversary Diku, Buckaroo conceived the idea of using a MUD interface for
                    transactions on a BBS. The world would be split into two areas: the BBS area
                    where everyone would be immortal and have access to upload and download
                    functions, a virtual cafe, a virtual mall, and a recreational game area,
                    which would be reminiscent of Diku.
                </p>
                <p>
                    So Buckaroo talked to some people, haggled with various companies, and
                    formed <a href="https://www.cyberverse.com/" target="_blank">Cyberverse, Inc</a>.
                    He hired Abaddon of Adversary Diku to code the foundations for his world and
                    invited some of the Adversary admins to create and set up shop there.
                </p>
                <p>
                    Work continued throughout 1993 and the company opened in Los Angeles in May,
                    1994. There was much rejoicing.
                </p>
                <p>
                    The Internet started becoming popular a year later, and the company was
                    reshaped as an Internet Service Provider. The MUD, no longer the main focus
                    of the business, was renamed Ishar and opened freely to the Internet.
                </p>
                <p>
                    Later, in the middle of the dot-com bubble, someone with a lot of Monopoly
                    money was trying to buy Cyberverse, and Ishar was officially handed over to
                    Aaron Hopkins, who had been managing it for a few years, to make sure it
                    wasn't included in any deal. It has continued to run on Cyberverse's
                    network, but the company is no longer owns it or is involved in running it
                    at all.
                </p>
                <p>
                    The current, original <a href="http://www.ishar.com/" target="_blank">Ishar.com</a>
                    is still owned by Aaron Hopkins.
                </p>
                <p>
                    In 2022, Tyler and Eric created IsharMUD.com in the cloud to take advantage of
                    new technology while doing their best to continually improve the environment!
                </p>
{%- endblock %}
