<html lang="en">
    <head>
{% block head %}
        <title>{% block title %}
            Ishar MUD: a free online text-adventure RPG
        {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <meta name="viewport" content="width=800,maximum-scale=1.0">
{% endblock %}
    </head>
    <body bgcolor="#000000" text="#ffffff">
        <div id="logo">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Ishar" width=760 height=88>
        </div>
        <div id="content">
{% block content %}
            <div class="under">
                <div class="rightmenu">
                    <dl>
                        <dd><a href="help/m/mud_basics.html">Getting Started</a>
                        <dd><a href="connect/">Connect to Ishar</a>
                        <dd><a href="world.html">The world of Ishar</a>
                        <dd><a href="help/b/background.html">Background</a>
                        <dd><a href="help/">Search Help</a>
                    </dl>
                </div>
                Ishar is an online text-adventure RPG (commonly called a MUD) set in a
                large, unique world of fantasy and magic.  Players do battle with fearsome
                foes (and sometimes each other) to win great wealth and wrest rare prizes
                from the treasure hoards or bloody corpses of their enemies.
                <p>
                Play the game for free by connecting via any <a href="/clients/">MUD client</a>
                to <strong>isharmud.com</strong> port <strong>23</strong> or <strong>9999</strong>.
                <p>
                Ishar has been open since May 1994 and has dozens of players connected during peak hours
                <p>
                <a href="{{ discord_invite_link }}" target="_blank">Connect with the community on our Discord server!</a>
                <p class="nomenu">
            </div>
            <p>
            <div class="under">
                <div class="quote">
                    Some say that the world was formed from the body of the dying Ishar,
                    and that his bones became the mountains and his blood ran from his
                    chest til it collected as the sea.  His flowing hair matted into the
                    fields we till and his skin mouldered and fell away as soil.
                    From his sinews and organs sprang the races of dwarves, elves, men, gnomes
                    and all manner of creatures and plants.  And from his heart sprang the very 
                    gods themselves.
                    <p class="attribution">-- Book of Thurvun, 1730
                </div>
            </div>
            <p id="copyright">Copyright &copy;1993-2012 Aaron Hopkins. All Rights Reserved.</p>
        {% endblock %}
        </div>
    </body>
</html>
