{%- macro player_type(player) -%}
    {%- if player.true_level >= 26 %}
        {%- set player_type         = 'God' -%}
    {%- elif player.true_level == 25 %}
        {%- set player_type         = 'Forger' -%}
    {%- elif player.true_level == 24 %}
        {%- set player_type         = 'Eternal' -%}
    {%- elif player.true_level == 23 %}
        {%- set player_type         = 'Artisan' -%}
    {%- elif player.true_level == 22 %}
        {%- set player_type         = 'Immortal' -%}
    {%- elif player.true_level == 21 %}
        {%- set player_type         = 'Consort' -%}
    {%- elif player.flags[45].value == 1 %}
        {%- set player_type     = 'Survival' -%}
    {%- else -%}
        {%- set player_type = 'Classic' -%}
    {%- endif -%}
    {{ player_type }}
{%- endmacro -%}
{%- macro player_css(player) %}
    {%- set player_type = player_type(player) -%}
    {%- if player.is_deleted == 1 -%}
        {%- set player_css = 'dead' -%}
    {%- else -%}
        {%- set player_css = player_type | lower -%}
    {%- endif -%}
    {{ player_css }}-player
{%- endmacro -%}
{%- macro player_title(player) -%}
    {%- set player_type = player_type(player) -%}
    {%- set player_title = player.title | replace('%s','<strong class="' + player_css(player) + '"><a title="' + player.name + '" href="' + url_for('show_player', player_name=player.name) + '">' + player.name + '</a></strong>') | safe -%}
    {{ player_title }}
{%- endmacro -%}
{%- macro display_timestamp(unix_timestamp) -%}
    {%- if now | int > unix_timestamp | int %}
        {%- set seconds_timestamp = now | int - unix_timestamp | int %}
    {%- elif now | int < unix_timestamp | int %}
        {%- set seconds_timestamp = unix_timestamp | int - now | int %}
        in
    {%- else %}
        now
    {%- endif %}
    {%- set delta = seconds_timestamp | seconds2delta %}
    {{ display_delta(delta) }}
    {%- if now | int > unix_timestamp | int %}
        ago
    {%- endif -%}
{%- endmacro -%}
{%- macro display_delta(delta) -%}
    {%- if delta.days > 0 %}
        {{ delta.days }} day{% if delta.days != 1 %}s{% endif %}
    {%- else -%}
        {%- set minutes = delta.seconds / 60 %}
        {{ minutes | round | int }} minutes
    {%- endif %}
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
    <head>
    {%- block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Ishar MUD">
        <meta name="description" content="Ishar MUD">
        <meta name="keywords" content="Ishar MUD, Ishar, IsharMUD, MUD, Multi User Dungeon, Multi-User Dungeon, Game">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Ishar MUD">
        <meta property="og:title" content="Ishar MUD">
        <meta property="og:description" content="Ishar MUD: a free online text-adventure RPG">
        <meta property="og:url" content="{{ url_for('welcome', _external=True) }}">
        <meta property="og:image" content="{{ url_for('static', filename='ishar.png', _external=True) }}">
        <title>{% block title %}{% endblock %} - Ishar MUD: a free online text-adventure RPG</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {%- endblock %}
    {%- block scripts %}
    {%- endblock %}
    </head>
    <body>
        <div id="logo">
            <a href="{{ url_for('welcome') }}">
                <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Ishar MUD">
            </a>
        </div>
        <div id="content">
            <div class="under">
{%- block navigation %}
{% include('navigation.html.j2') %}
{%- endblock %}
                <h1>
                    {% block header %}{% endblock %}
                </h1>
                <hr>
                {%- with messages = get_flashed_messages(with_categories=True) %}
                {%- if messages %}
                <ul id="flashes">
                {%- for category, message in messages %}
                    <li class="flash-{{ category }}">
                        {{ message }}
                    </li>
                {%- endfor %}
                </ul>
                <hr>
                {%- endif %}
                {%- endwith %}
                <br>
                {%- block content %}
                {%- endblock %}
            </div>
        </div>
        <div id="footer">
    {%- block footer %}
        {%- if current_user is defined and current_user.is_authenticated %}
            {%- if current_user.created_at is defined and current_user.created_at != '' %}
            <span id="created" title="Account Created: {{ current_user.created_at.strftime('%A, %B %d, %Y %H:%M:%S %p') }}">
                <strong>
                    Account Created
                </strong>
                <br>
                {{ current_user.created_at.strftime('%A, %B %d, %Y') }}
            </span>
            {%- endif %}
            {%- if current_user.seasonal_points is defined and current_user.seasonal_points > 0 %}
            <span id="essence" title="Essence: {{ current_user.seasonal_points }} points">
                <strong>
                    Essence
                </strong>
                <br>
                {{ current_user.seasonal_points }} points
            </span>
            {%- endif %}
        {%- else %}
            <div id="quote">
                Some say that the world was formed from the body of the dying Ishar,
                and that his bones became the mountains and his blood ran from his
                chest til it collected as the sea.  His flowing hair matted into the
                fields we till and his skin mouldered and fell away as soil.
                From his sinews and organs sprang the races of dwarves, elves, men, gnomes
                and all manner of creatures and plants.  And from his heart sprang the very
                gods themselves.
                <p id="attribution">
                    -- Book of Thurvun, 1730
                </p>
            </div>
        {%- endif %}
        {%- if season is defined and season.season_id is defined and season.expiration_date is defined %}
            {%- set seconds_until_season_end = season.expiration_date | int - now | int %}
            {%- set season_end_delta = seconds_until_season_end | seconds2delta %}
            {%- set season_end = season.expiration_date | unix2datetime %}
            <span id="season" title="Season End: {{ season_end.strftime('%A, %B %d, %Y %H:%M:%S %p') }}">
                <strong>
                    Season {{ season.season_id }}
                </strong>
                <br>
                ends {{ display_timestamp(season.expiration_date) }},
                on {{ season_end.strftime('%A, %B %d, %Y') }}.
            </span>
        {%- endif %}
    {%- endblock %}
        </div>
    </body>
</html>
