{% extends "layout.html.j2" %}
{% block title %}Leader Board{% endblock %}
{% block header %}Leader Board{% endblock %}
{%- block content %}
                {%- if leaders is defined and leaders is iterable and leaders|length > 1 %}
                <table id="leader">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            Remorts
                        </th>
                        <th>
                            Renown (Total)
                        </th>
                        <th>
                            Quests
                        </th>
                        <th>
                            Challenges
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Bank
                        </th>
                        <th>
                            Deaths
                        </th>
                        <th>
                            Type
                        </th>
                    </tr>
                    {%- for leader in leaders %}
                    {%- if leader.flags[45].value == 1 %}
                        {%- set player_type = 'Survival' %}
                        {%- set css_prefix  = 'survival' %}
                    {%- else %}
                        {%- set player_type = 'Classic' %}
                        {%- set css_prefix  = 'player' %}
                    {%- endif %}
                    {%- set leader_title = leader.title | replace('%s','<a title="' + leader.name + '" class="' + css_prefix + '-player" href="' + url_for('show_player', player_name=leader.name) + '">' + leader.name + '</a>') | safe %}
                    <tr>
                        <td>
                            {{ leader_title }}
                        </td>
                        <td>
                            <span title="Class: {{ leader.class.class_name | replace('_', '-') | title | safe }}">
                                {{ leader.class.class_name | replace('_', '-') | title | safe }}
                            </span>
                        </td>
                        <td>
                            {{ leader.remorts }}
                        </td>
                        <td>
                            {{ leader.renown }} ({{ leader.total_renown }})
                        </td>
                        <td>
                            {{ leader.quests_completed }}
                        </td>
                        <td>
                            {{ leader.challenges_completed }}
                        </td>
                        <td>
                            {{ leader.level }}
                        </td>
                        <td>
                            {{ leader.bankacc }}
                        </td>
                        <td>
                            {{ leader.deaths }}
                        </td>
                        <td>
                            <span title="Type: {{ player_type }}" class="{{ player_type | lower }}-player">
                                {{ player_type }}
                            </span>
                        </td>
                    </tr>
                    {%- endfor %}
                </table>
                {%- endif %}
                <p>
                    <a href="{{ url_for('portal') }}">
                        <img src="{{ url_for('static', filename='back.gif') }}" alt="Back to Player Portal">
                    </a>
                </p>
{%- endblock %}
