{% extends "layout.html.j2" %}
{% block meta_title %}Leader Board{% endblock meta_title %}
{% block meta_description %}Leader Board of top players of the game and their achievements{% endblock %}
{% block meta_url %}{{ url_for('leaderboard', _external=True) }}{% endblock meta_url %}">
{% block title %}Leader Board{% endblock %}
{% block header %}Leader Board{% endblock %}
{%- block scripts %}
        <script async src="{{ url_for('static', filename='leaderBoard.js') }}"></script>
{%- endblock %}
{%- block content %}
                <p>
                    <input type="checkbox" onchange="deadLeaders(this.checked);" id="include-dead" name="include-dead">
                    <label for="include-dead" title="Include Dead">
                        Include Dead
                    </label>
                </p>
    {%- if leaders is defined and leaders is iterable and leaders | length > 0 %}
                <table id="leaders" title="Leaders">
        {%- for leader in leaders %}
            {%- set leader_title = player_title(leader) %}
            {%- set leader_type = player_type(leader) %}
            {%- if loop.index0 % 10 == 0 %}
                    <tr>
                        <th title="#">
                            #
                        </th>
                        <th title="Name">
                            Name
                        </th>
                        <th title="Level">
                            Level
                        </th>
                        <th title="Remorts">
                            Remorts
                        </th>
                        <th title="Renown">
                            Renown
                        </th>
                        <th title="Quests">
                            Quests
                        </th>
                        <th title="Challenges">
                            Challenges
                        </th>
                        <th title="Deaths">
                            Deaths
                        </th>
                    </tr>
            {%- endif %}
                    <tr>
                        <td id="{{ loop.index }}" title="#{{ loop.index }}">
                            <a href="#{{ loop.index }}">{{ loop.index }}</a>
                        </td>
                        <td title="Name: {{ leader.name }}">
                            {{ leader_title }}
                        </td>
                        <td title="Level: {{ leader.level }}">
                            {{ leader.level }}
                        </td>
                        <td title="Remorts: {{ leader.remorts }}">
                            {{ leader.remorts }}
                        </td>
                        <td title="Renown: {{ leader.total_renown }}">
                            {{ leader.total_renown }}
                        </td>
                        <td title="Quests: {{ leader.quests_completed }}">
                            {{ leader.quests_completed }}
                        </td>
                        <td title="Challenges: {{ leader.challenges_completed }}">
                            {{ leader.challenges_completed }}
                        </td>
            {%- if leader_type != 'Classic' %}
                        <td class="non-classic" title="Type: {{ leader_type }}">
                            <span class="{{ player_css(leader) }}">
                                {{ leader_type }}
                            </span>
                        </td>
            {%- else %}
                        <td title="Deaths: {{ leader.deaths }}">
                            {{ leader.deaths }}
                        </td>
                    </tr>
            {%- endif %}
        {%- endfor %}
                </table>
    {%- endif %}
    {%- if limit is defined and limit is number and limit_choices is defined and limit_choices is iterable %}
                <div id="leaderboard-choices">
                    <ul>
        {%- for limit_choice in limit_choices %}
                        <li title="Top {{ limit_choice }}">
            {%- if limit_choice != limit -%}
                            <a href="{{ url_for('leaderboard', limit=limit_choice) }} {%- if include_dead == False %}?dead=false{% endif %}">
            {%- endif -%}
                                Top {{ limit_choice }}
            {%- if limit_choice != limit -%}
                            </a>
            {%- endif -%}
                        </li>
        {%- endfor %}
                    </ul>
                </div>
    {%- endif %}
{% include('back.html.j2') %}
{%- endblock %}
