{% extends "layout.html.j2" %}
{% block meta_title %}Leader Board{% endblock meta_title %}
{% block meta_description %}Leader Board of top players of the game and their achievements{% endblock %}
{% block meta_url %}{{ url_for('leaderboard', _external=True) }}{% endblock meta_url %}">
{% block title %}Leader Board{% endblock %}
{% block header %}Leader Board{% endblock %}
{%- block scripts %}
        <script async src="{{ url_for('static', filename='leaderBoard.js') }}"></script>
{%- endblock %}
{%- block content %}
                <p>
                    <input type="checkbox" onchange="deadLeaders(this.checked);" id="include-dead" name="include-dead">
                    <label for="include-dead">
                        Include Dead
                    </label>
                </p>
    {%- if leaders is defined and leaders is iterable and leaders | length > 0 %}
                <table id="leaders">
        {%- for leader in leaders %}
            {%- set leader_title = player_title(leader) %}
            {%- set leader_type = player_type(leader) %}
            {%- if loop.index0 % 10 == 0 %}
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Remorts
                        </th>
                        <th>
                            Renown
                        </th>
                        <th>
                            Quests
                        </th>
                        <th>
                            Challenges
                        </th>
                        <th>
                            Deaths
                        </th>
                    </tr>
            {%- endif %}
                    <tr>
                        <td id="{{ loop.index }}">
                            <a href="#{{ loop.index }}">{{ loop.index }}</a>
                        </td>
                        <td>
                            {{ leader_title }}
                        </td>
                        <td>
                            {{ leader.level }}
                        </td>
                        <td>
                            {{ leader.remorts }}
                        </td>
                        <td>
                            {{ leader.total_renown }}
                        </td>
                        <td>
                            {{ leader.quests_completed }}
                        </td>
                        <td>
                            {{ leader.challenges_completed }}
                        </td>
            {%- if leader_type != 'Classic' %}
                        <td class="non-classic">
                            <span title="Type: {{ leader_type }}" class="{{ player_css(leader) }}">
                                {{ leader_type }}
                            </span>
                        </td>
            {%- else %}
                        <td>
                            <span title="Deaths: {{ leader.deaths }}">
                                {{ leader.deaths }}
                            </span>
                        </td>
                    </tr>
            {%- endif %}
        {%- endfor %}
                </table>
    {%- endif %}
    {%- set limit_choices = [5, 10, 25, 50, 100] %}
    {%- if limit is defined and limit is number and limit_choices is defined and limit_choices is iterable %}
                <div id="leaderboard-choices">
                    <ul>
        {%- for limit_choice in limit_choices %}
                        <li>
            {%- if limit_choice != limit -%}
                            <a href="{{ url_for('leaderboard', limit=limit_choice) }}">
            {%- endif -%}
                                Top {{ limit_choice }}
            {%- if limit_choice != limit -%}
                            </a>
            {%- endif -%}
                        </li>
        {%- endfor %}
                    </ul>
                </div>
    {%- endif %}
{% include('back.html.j2') %}
{%- endblock %}
