{% extends "layout.html.j2" %}
{% block meta_title %}MUD Clients{% endblock meta_title %}
{% block meta_description %}MUD Clients that are freely available to use and try to play Ishar MUD{% endblock %}
{% block meta_url %}{{ url_for('mud_clients', _external=True) }}{% endblock meta_url %}">
{% block title %}MUD Clients{% endblock %}
{% block header %}MUD Clients{% endblock %}
{%- block content %}
                <p>
                    While you can certainly enjoy the game via <a href="{{ url_for('connect') }}" target="_blank">the Mudslinger web client</a>,
                    you might prefer to connect to the game with software designed specifically to help you play a MUD.
                </p>

                {%- if mud_clients is defined and mud_clients is iterable and mud_clients | length > 0 %}
                <p>
                    Here are some of the MUD clients that we have heard good things about:
                </p>
                <ul>
                    {%- for platform in mud_clients %}
                    <li class="mud-client-platform">
                        <h3 title="{{ platform }}">
                            {{ platform }}
                        </h3>
                    </li>
                    <li class="mud-clients">
                        <ul>
                            {%- for name, link in mud_clients[platform].items() %}
                            <li>
                                <a href="{{ link }}" target="_blank" rel="noopener" title="{{ name }}">
                                    {{ name }}
                                </a>
                            </li>
                            {%- endfor %}
                        </ul>
                    </li>
                    {%- endfor %}
                </ul>
                <p>
                    After you download a client, tell it to connect to
                    <code class="connect">isharmud.com</code> on port <code class="connect">23</code> or <code class="connect">9999</code>
                    to join the game, then see our <a href="{{ url_for('get_started') }}">getting started guide</a>.
                </p>
                <p>
                    Everything listed here can be used at no cost.
                    Do not be afraid to try a few, as they all have different strengths and weaknesses.
                </p>
                {%- endif %}
{%- endblock %}
