                <nav id="navigation">
                    <ul>
                        <li>
                            <a href="{{ url_for('connect') }}" title="Connect to Ishar MUD" target="_blank">Connect</a>
                        </li>
                        <li>
                            <a href="{{ url_for('discord') }}" title="Discord Invitation" target="_blank">Discord</a>
                        </li>
                        <li>
                            <a href="mailto:admin@isharmud.com" title="E-mail Us" target="_blank">E-mail Us</a>
                        </li>
                        <li>
                            <a href="{{ url_for('faq') }}" title="Frequently Asked Questions">FAQs</a>
                        </li>
                        <li>
                            <a href="{{ url_for('get_started') }}" title="Get Started">Get Started</a>
                        </li>
                        <li>
                            <a href="{{ url_for('history') }}" title="History">History</a>
                        </li>
                        <li>
                            <a href="{{ url_for('static', filename='Major_Update.pdf') }}" title="Major Update" target="_blank">Major Update</a>
                        </li>
                        <li>
                            <a href="{{ url_for('mud_clients') }}" title="MUD Clients">MUD Clients</a>
                        </li>
                        <li>
                            <a href="{{ url_for('support') }}" title="Support Ishar MUD">Support</a>
                        </li>
                        <li>
                            <a href="{{ url_for('world') }}" title="World of Ishar">World of Ishar</a>
                        </li>
                        {%- if current_user is defined and current_user.is_authenticated and current_user.account_name is defined %}
                        <li>
                            <a href ="{{ url_for('portal') }}" title="Player Portal">Player Portal</a>
                        </li>
                        <li>
                            <a href ="{{ url_for('change_password') }}" title="Change Password">Change Password</a>
                        </li>
                        <li>
                            <a href ="{{ url_for('logout') }}" title="Player Log Out">Log Out ({{ current_user.account_name }})</a>
                        </li>
                        {%- else %}
                        <li>
                            <a href ="{{ url_for('login') }}" title="Player Portal">Player Portal</a>
                        </li>
                        {%- endif %}
                    </ul>
                </nav>
