                <nav id="navigation">
                    <ul>
                        <li>
                            <a href="{{ url_for('connect') }}" target="_blank">Connect</a>
                        </li>
                        <li>
                            <a href="{{ url_for('discord') }}" target="_blank">Discord</a>
                        </li>
                        <li>
                            <a href="{{ url_for('get_started') }}">Get Started</a>
                        </li>
                        <li>
                            <a href="{{ url_for('history') }}">History</a>
                        </li>
                        <li>
                            <a href="{{ url_for('mud_clients') }}">MUD Clients</a>
                        </li>
                        <li>
                            <a href="{{ url_for('support') }}">Support</a>
                        </li>
                        <li>
                            <a href="{{ url_for('world') }}">World of Ishar</a>
                        </li>
                        {%- if current_user is defined and current_user.is_authenticated and current_user.account_name is defined %}
                        <li>
                            <a href ="{{ url_for('portal') }}">Player Portal</a>
                        </li>
                        <li>
                            <a href ="{{ url_for('logout') }}">Log Out ({{ current_user.account_name }})</a>
                        </li>
                        {%- else %}
                        <li>
                            <a href ="{{ url_for('login_form') }}">Player Log In</a>
                        </li>
                        {%- endif %}
                    </ul>
                </nav>
