{% extends "index.html.j2" %}
{% block title %}Portal - {% endblock %}
{% block content %}
<div class="rightmenu">
<dl>
<dd><a href="{{ url_for('static', filename='Major_Update.pdf') }}" target="_blank">Major Update</a></dd>
<dd><a href="{{ url_for('connect') }}" target="_blank">Connect to Ishar</a></dd>
<dd><a href="{{ url_for('world') }}">The World of Ishar</a></dd>
<dd><a href="{{ url_for('help', page='background') }}">Background</a></dd>
<dd><a href="{{ url_for('help', page=None) }}">Search Help</a></dd>
<dd><a href="{{ url_for('portal') }}">Return to Portal</a></dd>
<dd><a href="{{ url_for('logout') }}">Log Out</a></dd>
<dd><a href="{{ url_for('discord') }}" target="_blank">Discord</a></dd>
</dl>
</div>
<h1>Change Password</h1>
<h3>Welcome{% if account is defined and account is iterable and account|length > 0 %}, {{ account['account_name'] | safe | title }}{% endif %}!</h3>
<p>
<form method="post" action="{{ url_for('password') }}">
<label for="account_name">Name:</label>
{% if account['account_name'] is defined %}{{ account['account_name'] | safe | title }}{% endif %}<br>
<label for="current_password">Current Password:</label>
<input type="password" id="current_password" name="current_password"><br>
<label for="new_password">New Password:</label>
<input type="password" id="new_password" name="new_password"><br>
<label for="confirm_new_password">Confirm New Password:</label>
<input type="password" id="confirm_new_password" name="confirm_new_password"><br>
<input type="submit" value="Change!">
</div>
<p>
<div class="under">
<div class="lower">You created your account on {{ account['created_at'].strftime('%c') }}.</div>
{% endblock %}
