{% extends "layout.html.j2" %}
{%- macro render_field(field) -%}
                    {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro -%}
{%- macro display_align(align) -%}
    {%- if align <= -1000 -%}
        Very Evil
    {%- elif align > -1000 and align <= -500 -%}
        Evil
    {%- elif align > -500 and align <= -250 -%}
        Slightly Evil
    {%- elif align > -250 and align < 250 -%}
        Neutral
    {%- elif align >= 250 and align < 500 -%}
        Slightly Good
    {%- elif align >= 500 and align < 1000 -%}
        Good
    {%- elif align >= 1000 %}
        Very Good
    {%- else -%}
        Un-Aligned Alien
    {%- endif -%}
{%- endmacro -%}
{%- macro display_class(class) -%}
    {%- if class == 'WARRIOR' -%}
        mighty warrior
    {%- elif class == 'ROGUE' -%}
        stealthy rogue
    {%- elif class == 'CLERIC' -%}
        pious cleric
    {%- elif class == 'MAGICIAN' -%}
        fearsome mage
    {%- elif class == 'NECROMANCER' -%}
        shadowy necromancer
    {%- else -%}
        classless curiousity
    {%- endif -%}
{%- endmacro -%}
{%- if player %}
    {%- if player.player_flags[45].value == 1 %}
        {%- set player_type         = 'Survival' %}
    {%- else %}
        {%- set player_type         = 'Classic' %}
    {%- endif %}
    {%- if player.is_deleted == 1 %}
        {%- set css_prefix  = 'deleted' %}
    {%- elif player_type == 'Survival' %}
        {%- set css_prefix  = 'survival' %}
    {%- else %}
        {%- set css_prefix  = 'player' %}
    {%- endif %}
    {%- set player_title = player.title | replace('%s','<a title="' + player.name + '" class="' + css_prefix + '-character" href="' + url_for('show_player', player_name=player.name) + '">' + player.name + '</a>') | safe %}
    {%- set player_phrase           = 'is' %}
    {%- set player_phrase_own       = 'are' %}
    {%- if player.sex == 1 %}
        {%- set player_gender       = 'he' %}
        {%- set player_gender_own   = 'his' %}
    {%- elif player.sex == 2 %}
        {%- set player_gender       = 'she' %}
        {%- set player_gender_own   = 'her' %}
    {%- else %}
        {%- set player_gender       = 'they' %}
        {%- set player_gender_own   = 'their' %}
        {%- set player_phrase       = 'are' %}
    {%- endif %}
    {%- if player.is_deleted == 1 %}
        {%- set player_phrase       = 'was' %}
        {%- set player_phrase_own   = 'were' %}
    {%- endif %}
{%- endif %}
{%- block title %}
    {%- if player -%}
        Player: {{ player.name }}
    {%- else -%}
        Player Not Found
    {%- endif -%}
{%- endblock %}
{%- block header -%}
    {%- if player -%}
        Player: {{ player.name }}
    {%- else -%}
        Player Not Found
    {%- endif %}
{%- endblock %}
{%- block content %}
    {%- if player_search_form is defined %}
                <form method="post" action="{{ url_for('search_player') }}" id="player-search-form">
                    {{ render_field(player_search_form.player_search_name) }}
                    {{ player_search_form.csrf_token }}
                    {{ render_field(player_search_form.submit) }}
                </form>
    {%- endif %}
    {%- if player %}
                <h3 id="player">
                    {{ player_title }}
                </h2>
                <p>
                    {{ player.name | title | safe }} {{ player_phrase }} a {{ display_class(player.player_class.class_name) }} of {{ player.player_race.race_name | replace('_', '-') | lower | safe }} origin.
                    <br>
                    {{ player_gender | title }} {{ player_phrase }} a <span class="{{ player_type | lower }}-player">{{ player_type }}</span> character.
                    <br>
                    {{ player_gender | title }} {{ player_phrase }} level {{ player.level }} and has remorted {{ player.remorts }} times.
                    <br>
                    {{ player_gender | title }} has died {{ player.deaths }} time{%- if player.deaths != 1 -%}s{%- endif -%}.
                    <br>
                    {{ player_gender | title }} has {{ player.renown }} unspent renown and has accumulated {{ player.total_renown }} renown.
                    <br>
                    {{ player_gender | title }} has {{ player.bankacc }} obsidian coins on deposit.
                    <br>
                    Alignment: {{ display_align(player.align) }} ({{ player.align }})
                </p>
                {%- if player.true_level >= 5 %}
                <table id="stats">
                    <tr>
                        <th>
                            Strength
                        </th>
                        <th>
                            Agility
                        </th>
                        <th>
                            Endurance
                        </th>
                        <th>
                            Willpower
                        </th>
                        <th>
                            Focus
                        </th>
                        <th>
                            Perception
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{ player.curr_strength }}
                        </td>
                        <td>
                            {{ player.curr_agility }}
                        </td>
                        <td>
                            {{ player.curr_endurance }}
                        </td>
                        <td>
                            {{ player.curr_willpower }}
                        </td>
                        <td>
                            {{ player.curr_focus }}
                        </td>
                        <td>
                            {{ player.curr_perception }}
                        </td>
                    </tr>
                </table>
                {%- endif %}
                <p>
                    Health: {{ player.curr_hit_pts / player.perm_hit_pts * 100 }}
                    <br>
                    Movement: {{ player.curr_move_pts / player.perm_move_pts * 100 }}
                    <br>
                    Spell: {{ player.curr_spell_pts / player.perm_spell_pts * 100 }}
                </p>
                <p>
                    {{ player_gender | title }} last logged in {{ player.logon | unix2human_time }}.
                    <br>
                    {{ player_gender | title }} last logged out {{ player.logout | unix2human_time }}.
                    <br>
                    {{ player_gender | title }} has played for {{ player.online }} seconds.
                </p>
    {%- endif %}
                <p>
                    <a href="{{ url_for('portal') }}">
                        <img src="{{ url_for('static', filename='back.gif') }}" alt="Back to Player Portal">
                    </a>
                </p>
{%- endblock %}
