{% extends "layout.html.j2" %}
{%- macro render_field(field) -%}
                    {{ field(**kwargs) | safe }}
    {%- if field.errors %}
                <ul class="field-errors">
        {%- for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
        {%- endfor %}
                </ul>
    {%- endif %}
{%- endmacro -%}
{%- macro display_align(align) -%}
    {%- if align <= -1000 -%}
        Very Evil
    {%- elif align > -1000 and align <= -500 -%}
        Evil
    {%- elif align > -500 and align <= -250 -%}
        Slightly Evil
    {%- elif align > -250 and align < 250 -%}
        Neutral
    {%- elif align >= 250 and align < 500 -%}
        Slightly Good
    {%- elif align >= 500 and align < 1000 -%}
        Good
    {%- elif align >= 1000 %}
        Very Good
    {%- else -%}
        Un-Aligned Alien
    {%- endif -%}
{%- endmacro -%}
{%- macro display_class(class) -%}
    {%- if class == 'WARRIOR' -%}
        mighty warrior
    {%- elif class == 'ROGUE' -%}
        stealthy rogue
    {%- elif class == 'CLERIC' -%}
        pious cleric
    {%- elif class == 'MAGICIAN' -%}
        fearsome mage
    {%- elif class == 'NECROMANCER' -%}
        shadowy necromancer
    {%- else -%}
        classless curiosity ({{ class | safe | title }})
    {%- endif -%}
{%- endmacro -%}
{%- if player %}
    {%- set player_phrase           = 'is' %}
    {%- set player_phrase_own       = 'are' %}
    {%- set player_phrase_owns      = 'has' %}
    {%- if player.sex == 1 %}
        {%- set player_gender       = 'he' %}
        {%- set player_gender_own   = 'his' %}
    {%- elif player.sex == 2 %}
        {%- set player_gender       = 'she' %}
        {%- set player_gender_own   = 'her' %}
    {%- else %}
        {%- set player_gender       = 'they' %}
        {%- set player_gender_own   = 'their' %}
        {%- set player_phrase       = 'are' %}
        {%- set player_phrase_owns  = 'have' %}
    {%- endif %}
    {%- if player.is_deleted == 1 %}
        {%- set player_phrase       = 'was' %}
        {%- set player_phrase_own   = 'were' %}
        {%- set player_phrase_owns  = 'had' %}
    {%- endif %}
{%- endif %}
{%- block meta_title -%}
    {%- if player -%}
        Player: {{ player.name }}{% if player.is_deleted == 1 %} ☠️{%- endif %}
    {%- else -%}
        Player Not Found
    {%- endif -%}
{%- endblock meta_title -%}
{%- block meta_description %}
    {%- if player -%}
        Player: {{ player.name }}{% if player.is_deleted == 1 %} ☠️{%- endif %}
    {%- else -%}
        Player Not Found
    {%- endif -%}
{%- endblock meta_description -%}
{% block meta_url %}{{ url_for('show_player', player_name=player.name, _external=True) }}{% endblock meta_url %}">
{%- block title %}
    {%- if player -%}
        Player: {{ player.name }}{% if player.is_deleted == 1 %} ☠️{%- endif %}
    {%- else -%}
        Player Not Found
    {%- endif -%}
{%- endblock %}
{%- block header -%}
    {%- if player -%}
        Player: <span class="{{ player_css(player) }}">{{ player.name }}</span>
    {%- else -%}
        Player Not Found
    {%- endif %}
{%- endblock %}
{%- block content %}
    {%- if player_search_form is defined %}
                <form method="post" action="{{ url_for('search_player') }}" id="player-search-form">
                    {{ render_field(player_search_form.player_search_name) }}
                    {{ player_search_form.csrf_token }}
                    {{ render_field(player_search_form.submit) }}
                </form>
    {%- endif %}
    {%- if player %}
        {%- set player_title = player_title(player) %}
        {%- set player_type = player_type(player) %}
        {%- set player_css = player_css(player) %}
            <div id="player-details">
                <h3>
                    {{ player_title }}
                </h3>
        {%- if player.true_level < immortal_level %}
                <ul>
                    <li>
                        {{ player.name | title | safe }} {{ player_phrase }} a {{ display_class(player.class.class_name) }} of
                        {{ player.race.race_name | replace('_', '-') | lower | safe }} origin.
                    </li>
                    <li>
                        {{ player_gender | title }} {{ player_phrase }} level {{ player.level }}
            {%- if player.remorts > 0 %}
                        and {{ player_phrase_owns }} remorted {{ player.remorts }} time{%- if player.remorts != 1 -%}s{%- endif -%}
            {%- endif %}.
                    </li>
            {%- if player.total_renown > 0 %}
                    <li>
                        {{ player_gender | title }} {{ player_phrase_owns }} accumulated {{ player.total_renown }} renown.
                    </li>
            {%- endif %}
            {%- if player.quests_completed > 0 %}
                    <li>
                        {{ player_gender | title }} {{ player_phrase_owns }} completeted {{ player.quests_completed }} quest
                        {%- if player.quests_completed != 1 -%}s{%- endif -%}.
                    </li>
            {%- endif %}
            {%- if player.challenges_completed > 0 %}
                    <li>
                        {{ player_gender | title }} {{ player_phrase_owns }} completed {{ player.challenges_completed }} challenge
                        {%- if player.challenges_completed != 1 -%}s{%- endif -%}.
                    </li>
            {%- endif %}
                    <li>
                        {{ player_gender_own | title }} alignment {{ player_phrase }} {{ display_align(player.align) }} ({{ player.align }}).
                    </li>
                    <li>
            {%- if player_type == 'Classic' %}
                {%- if player.deaths > 0 %}
                        {{ player_gender | title }} {{ player_phrase_owns }} died {{ player.deaths }}
                        time{%- if player.deaths != 1 -%}s{%- endif -%}.
                {%- else %}
                        {{ player_gender | title }} has never died!
                {%- endif %}
            {%- elif player.is_deleted == 1 %}
                        {{ player.name | title | safe }} is <span class="{{ player_css }}">DEAD</span>!
                        <ul>
                            <li>
                                {{ player_gender | title }} died too often. {{ player_gender | title }} can not be resurrected!
                            </li>
                        </ul>
            {%- elif player_type == 'Survival' %}
                        {{ player.name | title | safe }} {{ player_phrase }} a <span class="{{ player_css }}">{{ player_type }}</span> character.
            {%- endif %}
                    </li>
                </ul>
            </div>
            {%- if player.is_deleted != 1 and player.quests | selectattr('value', 'equalto', 1) | list | length > 0 %}
            <div id="player-quests">
                <h3>
                    Quests
                </h3>
                <ol>
                {%- for quest in player.quests %}
                    {%- if quest.value == 1 %}
                    <li>
                        {{ quest.quest.display_name }}
                        {%- if quest.quest.completion_message is defined and quest.quest.completion_message != '' %}
                        <ul>
                            <li>
                                {{ quest.quest.completion_message }}
                            </li>
                        </ul>
                        {%- endif %}
                    </li>
                    {%- endif %}
                {%- endfor %}
                </ol>
            </div>
            {%- endif %}
            {%- if player.remort_upgrades and player.remort_upgrades | selectattr('value', '>=', 1) | list | length > 0 %}
            <div id="player-remort-upgrades">
                <h3>
                    Remort Upgrades
                </h3>
                <ol>
                {%- for remort_upgrade in player.remort_upgrades %}
                    {%- if remort_upgrade.value > 0 %}
                    <li>
                        {{ remort_upgrade.remort_upgrade.name | replace('_', ' ') | title | safe }}
                        {%- if remort_upgrade.value > 1 %}
                            (x{{remort_upgrade.value }})
                        {%- endif %}
                    </li>
                    {%- endif %}
                {%- endfor %}
                </ol>
            </div>
            {%- endif %}
            {%- if player.true_level >= 5 %}
            <div id="player-statistics">
                <h3>
                    Statistics
                </h3>
                <table>
                    <tr>
                        <th>
                            Strength
                        </th>
                        <th>
                            Agility
                        </th>
                        <th>
                            Endurance
                        </th>
                        <th>
                            Willpower
                        </th>
                        <th>
                            Focus
                        </th>
                        <th>
                            Perception
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{ player.curr_strength }}
                        </td>
                        <td>
                            {{ player.curr_agility }}
                        </td>
                        <td>
                            {{ player.curr_endurance }}
                        </td>
                        <td>
                            {{ player.curr_willpower }}
                        </td>
                        <td>
                            {{ player.curr_focus }}
                        </td>
                        <td>
                            {{ player.curr_perception }}
                        </td>
                    </tr>
                </table>
            </div>
            {%- endif %}
            <div id="player-time">
                <p>
            {%- set birth_date = player.birth | unix2datetime %}
                    {{ player_gender | title }} was born {{ display_timestamp(player.birth) }},
                    on {{ birth_date.strftime('%A, %B %d, %Y') }}.
                    <br>
            {%- set last_logon = player.logon | unix2datetime %}
                    {{ player_gender | title }} last logged in {{ display_timestamp(player.logon) }},
                    on {{ last_logon.strftime('%A, %B %d, %Y') }}.
                    <br>
            {%- set last_logout = player.logout | unix2datetime %}
                    {{ player_gender | title }} last logged out {{ display_timestamp(player.logout) }},
                    on {{ last_logout.strftime('%A, %B %d, %Y') }}.
                    <br>
                    {{ player_gender | title }} {{ player_phrase_owns }} played for {{ player.online | seconds2delta }}.
                </p>
            </div>
        {%- else %}
            <ul>
                <li>
                    {{ player.name | title | safe }} {{ player_phrase }} a <span class="{{ player_css }}">{{ player_type }}</span> character!
                </li>
            </ul>
        {%- endif %}
    {%- endif %}
{% include('back.html.j2') %}
{%- endblock %}
