{%- set page = 'portal' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Portal{% endblock meta_title %}
{% block meta_description %}Portal for players to see information about their account and characters{% endblock %}
{% block meta_url %}{{ url_for('portal', _external=True) }}{% endblock meta_url %}">
{% block title %}Portal{% endblock %}
{% block header %}Welcome{% if current_user.account_name is defined %}, {{ current_user.account_name | title | safe }}{% endif %}!{% endblock %}
{%- block content %}
    {%- if current_user.players is defined and current_user.players is iterable and current_user.players | length > 0 %}
                <h3>
                    {{ current_user.players | length }} character{% if current_user.players | length != 1 %}s{% endif %}:
                </h3>
                <table id="players">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Remorts
                        </th>
                        <th>
                            Renown (Total)
                        </th>
                        <th>
                            Quests
                        </th>
                        <th>
                            Challenges
                        </th>
                        <th>
                            Deaths
                        </th>
                    </tr>
        {%- for player in current_user.players %}
            {%- set player_title = player_title(player) %}
            {%- set player_type = player_type(player) %}
            {%- set player_css = player_css(player) %}
            {%- set player_birth = player.birth | unix2datetime %}
                    <tr>
                        <td>
                            <span title="{{ player.name | title | safe }} (Born {{ player_birth.strftime('%A, %B %d, %Y %I:%M:%S %p') }})">
                                {{ player_title | safe }}
                            </span>
                        </td>
                        <td>
                            <span title="Class: {{ player.class.class_name | replace('_', '-') | title | safe }}">
                                {{ player.class.class_name | replace('_', '-') | title | safe }}
                            </span>
                        </td>
                        <td>
                            <span title="Level: {{ player.level }}">
                                {{ player.level }}
                            </span>
                        </td>
                        <td>
                            <span title="Remorts: {{ player.remorts }}">
                                {{ player.remorts }}
                            </span>
                        </td>
                        <td>
                            <span title="Renown: {{ player.renown }} ({{ player.total_renown }})">
                                {{ player.renown }} ({{ player.total_renown }})
                            </span>
                        </td>
                        <td>
                            <span title="Quests: {{ player.quests_completed }}">
                                {{ player.quests_completed }}
                            </span>
                        </td>
                        <td>
                            <span title="Challenges: {{ player.challenges_completed }}">
                                {{ player.challenges_completed }}
                            </span>
                        </td>
            {%- if player_type != 'Classic' %}
                        <td class="non-classic">
                            <span title="Type: {{ player_type }}" class="{{ player_css }}">
                                {{ player_type }}
                            </span>
                        </td>
            {%- else %}
                        <td>
                            <span title="Deaths: {{ player.deaths }}">
                                {{ player.deaths }}
                            </span>
                        </td>
            {%- endif %}
                    </tr>
        {%- endfor %}
                </table>
    {%- else %}
                <h3>
                    You have not created any players yet!
                </h3>
    {%- endif %}
    {% if current_user.account_upgrades and current_user.account_upgrades | selectattr('amount', '>', 0) | list | length > 0 %}
                <h4>
                    Account Upgrades
                </h4>
                <ol id="portal-account-upgrades">
        {%- for account_upgrade in current_user.account_upgrades %}
            {%- if account_upgrade.amount > 0 %}
                    <li>
                        {{ account_upgrade.account_upgrade.name }}
                        <ul>
                            <li>
                                {{ account_upgrade.account_upgrade.description }}
                            </li>
                        </ul>
                    </li>
            {%- endif %}
        {%- endfor %}
                </ol>
    {%- endif %}
                <p class="bottom-portal-link">
                    <a title="Challenges" href="{{ url_for('challenges') }}">Challenges</a>
                    |
                    <a title="Change Password" href="{{ url_for('change_password') }}">Change Password</a>
                    |
    {%- if current_user.seasonal_points > 0 %}
        {%- set essence_extra = ' (' + current_user.seasonal_points | string + ')' %}
    {%- else %}
        {%- set essence_extra = '' %}
    {%- endif %}
                    <a title="Essence Shop{{ essence_extra }}" href="{{ url_for('essence_shop') }}">Essence Shop{{ essence_extra }}</a>
                    |
                    <a title="Leader Board" href="{{ url_for('leaderboard') }}">Leader Board</a>
                    |
                    <a title="Who's Online?" href="{{ url_for('who') }}">Who's Online?</a>
                    |
                    <a title="Log Out" href="{{ url_for('logout') }}">Log Out</a>
                </p>
    {%- if is_admin is defined and is_admin == True %}
                <p class="bottom-portal-link">
                    <a title="Administration Portal" href="{{ url_for('admin_portal') }}">Administration</a>
                </p>
    {%- endif %}
{%- endblock %}
