{% extends "layout.html.j2" %}
{% block title %}Support{% endblock %}
{% block scripts %}
        <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
{%- endblock %}
{% block header %}Support{% endblock %}
{%- block content %}
                <div class="support">
                    <p>
                        <a href="https://www.patreon.com/bePatron?u=42650263" data-patreon-widget-type="become-patron-button">
                            Become a Patron!
                        </a>
                    </p>
                    <p>
                        <a href="https://www.buymeacoffee.com/ishar" id="buy-coffee" target="_blank">
                            <img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee">
                        </a>
                    </p>
                </div>
{%- endblock %}
