{%- set page = 'support' -%}
{% extends "layout.html.j2" %}
{% block meta_title %}Support Ishar MUD{% endblock meta_title %}
{% block meta_description %}Support Ishar MUD with a contribution as a way to say thank you{% endblock %}
{% block meta_url %}{{ url_for('support', _external=True) }}{% endblock meta_url %}">
{% block title %}Support Ishar MUD{% endblock %}
{%- block scripts %}
        <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
{%- endblock %}
{% block header %}Support Ishar MUD{% endblock %}
{%- block content %}
                <p>
                    While you are more than welcome to offer support, Ishar MUD is free to use, play, and enjoy!
                </p>
                <p>
                    Any contribution is simply for the development and maintenance of the game, and as a way to say "thank you".
                </p>
                <br>
                <div class="support">
                    <p>
                        <a href="https://www.patreon.com/bePatron?u=42650263" data-patreon-widget-type="become-patron-button" title="Become a Patron!">
                            Become a Patron!
                        </a>
                    </p>
                    <p>
                        <a href="https://www.buymeacoffee.com/ishar" id="buy-coffee" target="_blank" title="Buy Me A Coffee">
                            <img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee">
                        </a>
                    </p>
                </div>
{%- endblock %}
