{% extends "layout.html.j2" %}
{% block meta_title %}Welcome{% endblock meta_title %}
{% block meta_description %}Welcome to Ishar MUD{% endblock %}
{% block meta_url %}{{ url_for('welcome', _external=True) }}{% endblock meta_url %}">
{% block title %}Welcome{% endblock %}
{% block header %}Welcome{% endblock %}
{%- block content %}
                <p>
                    Ishar is an online text-adventure RPG (commonly called a multi-user dungeon, or MUD) set in a
                    large, unique world of fantasy and magic.  Players do battle with fearsome
                    foes (and sometimes each other) to win great wealth and wrest rare prizes
                    from the treasure hoards or bloody corpses of their enemies.
                </p>
                <p>
                    Play the game for free by connecting via any <a href="{{ url_for('mud_clients') }}">MUD client</a>
                    to <code class="connect">isharmud.com</code> on port <code class="connect">23</code> or <code class="connect">9999</code>.
                </p>
    {%- if news is defined and news is iterable and news | length > 0 %}
                <h3 title="Latest Update{% if news | length != 1 %}s{%- endif %}">
                    Latest Update{% if news | length != 1 %}s{%- endif %}
                </h3>
        {%- for news_post in news %}
                <h4 class="news-subject" title="{{ news_post.subject | safe }}">
                    {{ news_post.subject | safe }}
                </h4>
                <p class="news-body" title="{{ news_post.body | striptags | safe }}">
                    {{ news_post.body | safe }}
                </p>
                <p class="news-created" title="Posted: {{ news_post.created_at.strftime('%A, %B %d, %Y @ %H:%M:%S') }}">
                    {{ news_post.created_at.strftime('%A, %B %d, %Y @ %H:%M:%S') }}
                </p>
                <p class="news-creator" title="Posted by: {{ news_post.account.account_name | safe | title }}">
                    ~ {{ news_post.account.account_name | safe | title }}
                </p>
                <br>
            {%- if not loop.last %}
                <hr>
            {%- endif %}
        {%- endfor %}
    {%- endif %}
{%- endblock %}
