{% extends "layout.html.j2" %}
{% block title %}Welcome{% endblock %}
{% block header %}Welcome{% endblock %}
{%- block content %}
                <p>
                    Ishar is an online text-adventure RPG (commonly called a multi-user dungeon, or MUD) set in a
                    large, unique world of fantasy and magic.  Players do battle with fearsome
                    foes (and sometimes each other) to win great wealth and wrest rare prizes
                    from the treasure hoards or bloody corpses of their enemies.
                </p>
                <p>
                    Play the game for free by connecting via any <a href="{{ url_for('mud_clients') }}">MUD client</a>
                    to <code class="connect">isharmud.com</code> on port <code class="connect">23</code> or <code class="connect">9999</code>.
                </p>
                {%- if news is defined and news is iterable and news | length > 0 %}
                <hr id="news-top">
                <h2>
                    Latest Update{%- if news|length != 1 %}s{%- endif %}
                </h2>
                {%- for news_post in news %}
                <h3 class="news-subject">
                    {{ news_post.subject | safe }}
                </h3>
                <p class="news-body">
                    {{ news_post.body | safe }}
                </p>
                <span class="news-created">
                    {{ news_post.created_at.strftime('%A, %B %d, %Y') }}
                </span>
                ~
                <span class="news-creator">
                    {{ news_post.account.account_name | safe | title }}
                </span>
                <br>
                {%- if not loop.last %}
                <hr class="news-split">
                {%- endif %}
                {%- endfor %}
                {%- endif %}
{%- endblock %}
