{% extends "layout.html.j2" %}
{% block meta_title %}Who's Online?{% endblock meta_title %}
{% block meta_description %}Who's Online on the MUD right now?{% endblock %}
{% block meta_url %}{{ url_for('who', _external=True) }}{% endblock meta_url %}">
{%- block title -%}
Who's Online?
{%- if who is defined and who is iterable and who | length > 0 %}
 / {{ who | length }} player{%- if who | length != 1%}s{%- endif -%}
{%- endif -%}
{%- endblock title -%}
{% block header %}Who's Online?{% endblock %}
{%- block content %}
    {%- if who is defined and who is iterable and who | length > 0 %}
                <h3>
                    {{ who | length }} player{% if who | length != 1%}s{% endif %} online
                </h3>
                <table id="online">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Level (Remorts)
                        </th>
                        <th>
                            Race
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            Player
                        </th>
                    </tr>
        {%- for player in who %}
            {%- set player_title = player_title(player) %}
            {%- set player_type = player_type(player) %}
            {%- set player_css = player_css(player) %}
                    <tr>
                        <td id="{{ loop.index }}" title="{{ loop.index }}">
                            {{ loop.index }}
                        </td>
                        <td title="{{ player_title | striptags }}">
                            {{ player_title }}
                        </td>
            {%- if player.true_level < immortal_level %}
                        <td>
                            <span title="Level: {{ player.level }}">
                                {{ player.level }}
                            </span>
                            <span title="Remorts: {{ player.remorts }}">
                                ({{ player.remorts }})
                            </span>
                        </td>
                        <td>
                            <span title="Race: {{ player.race.race_name | replace('_', '-') | title | safe }}">
                                {{ player.race.race_name | replace('_', '-') | title | safe }}
                            </span>
                        </td>
                        <td>
                            <span title="Class: {{ player.class.class_name | title | safe }}">
                                {{ player.class.class_name | title | safe }}
                        </td>
            {%- else %}
                        <td class="non-classic" colspan="3">
                            <span title="Type: {{ player_type }}" class="{{ player_css }}">
                                {{ player_type }}
                            </span>
                        </td>
            {%- endif %}
                        <td class="who-right">
                            <span title="Player: {{ player.account.account_name | title | safe }}">
                                {{ player.account.account_name | title | safe }}
                            </span>
                        </td>
                    </tr>
        {%- endfor %}
                </table>
    {%- else %}
                    <h3>
                        Unfortunately, nobody is online.
                    </h3>
                    <br>
    {%- endif %}
{% include('back.html.j2') %}
{%- endblock %}
