{% extends "layout.html.j2" %}
{% block meta_title %}Wiz List{% endblock meta_title %}
{% block meta_description %}A list of the current Immortals through Gods{% endblock %}
{% block meta_url %}{{ url_for('wizlist', _external=True) }}{% endblock meta_url %}">
{% block title %}Wiz List{% endblock %}
{% block header %}Wiz List{% endblock %}
{%- block content %}
                <p>
                    A list of the current Immortals through Gods.
                </p>
    {%- if immortals is defined and immortals is iterable and immortals | length > 0 %}
                <table id="wizlist">
                    <tr>
                        <th title="Name">
                            Name
                        </th>
                        <th title="Type">
                            Type
                        </th>
                    </tr>
        {%- for immortal in immortals %}
                    <tr>
                        <td title="Name: {{ immortal.name }}">
                            {{ immortal.player_title }}
                        </td>
                        <td class="non-classic" title="Type: {{ immortal.player_type }}">
                            <span class="{{ immortal.player_css }}">
                                {{ immortal.player_type }}
                            </span>
                        </td>
                    </tr>
        {%- endfor %}
                </table>
    {%- endif %}
{%- endblock %}
