{%- set page = 'world' -%}
{% extends "layout.html.j2" %}
{%- block meta_title -%}
    World
    {%- if area is defined and area != None and areas is defined and areas != None -%}
        : {{ area }}
    {%- endif -%}
{%- endblock meta_title -%}
{% block meta_description %}The World of Ishar is vast and very detailed with many areas{% endblock %}
{% block meta_url %}{{ url_for('world', area=area, _external=True) }}{% endblock meta_url %}">
{% block header %}World{% endblock %}
{%- block title -%}
    World
    {%- if area is defined and area != None and areas is defined and areas != None -%}
        : {{ area }}
    {%- endif -%}
{%- endblock title -%}
{%- block content %}
    {%- if area and areas %}
                <h3 id="area-name" title="{{ area }}">
                    {{ area }}
                </h3>
                <pre id="area-details">
                    {{ areas }}
                </pre>
    {%- else %}
                <p>
                    Ishar is a cohesive world with a living history.
                    The vast world areas of Ishar have been written to include a detailed past that intrudes on the present,
                    setting the scene for many of the adventures to be had here.
                </p>
                <p>
                    From the shattered ruins of <a href="{{ url_for('world', area='Torm Sarvek') }}" title="Area: Torm Sarvek">Torm Sarvek</a>
                    to the splendor of <a href="{{ url_for('world', area='Mareldja') }}" title="Area: Mareldja">Mareldja</a>,
                    the darkness of Hedros, the dense Talrynian Forest, all of these lands and more are open to you.
                </p>
                <p>
                    Whether treading across the barren wasteland of the Tundra or voyaging for the great Ocean, you will
                    never forget the sense of wonder and discovery to be experienced here.
                </p>
        {%- if areas and areas is iterable and areas | length > 0 %}
                <ul>
            {%- for area in areas %}
                    <li title="Area: {{ area }}">
                        <a href="{{ url_for('world', area=area) }}">
                            {{ area }}
                        </a>
                    </li>
            {%- endfor %}
                  </ul>
        {%- endif %}
    {%- endif %}
    {%- include('back.html.j2') %}
{%- endblock %}
