{% extends "layout.html.j2" %}
{% block title %}World - {% endblock %}
{% block content %}
<h1>World</h1>

Ishar is a cohesive world with a living history.

The vast world areas of Ishar have been written to include a detailed past that intrudes on the present,
setting the scene for many of the adventures to be had here.

From the shattered ruins of <a href="help/a/area_torm_sarvek.html">Torm Sarvek</a> to the splendor of
<a href="help/a/area_mareldja.html">Mareldja</a>, the darkness of Hedros, the dense Talrynian Forest,
all of these lands and more are open to you.

Whether treading across the barren wasteland of the Tundra or voyaging for the great Ocean, you will
never forget the sense of wonder and discovery to be experienced here.

<ul>
<li><a href="/help/a/area_abandoned_coastal_fortress.html">Abandoned Coastal Fortress</a></li>
<li><a href="/help/a/area_brown_river_valley.html">Brown River Valley</a></li>
<li><a href="/help/a/area_cadain.html">Cadain</a></li>
<li><a href="/help/a/area_catacombs.html">Catacombs</a></li>
<li><a href="/help/a/area_cemetery.html">Cemetery</a></li>
<li><a href="/help/a/area_clicker_mine.html">Clicker Mine</a></li>
<li><a href="/help/a/area_dwarven_demesne.html">Dwarven Demesne</a></li>
<li><a href="/help/a/area_elven_homelands.html">Elven Homelands</a></li>
<li><a href="/help/a/area_the_fallen_tower.html">Fallen Tower</a></li>
<li><a href="/help/a/area_fortress_of_the_sorceror_king.html">Fortress of the Sorceror King</a></li>
<li><a href="/help/a/area_goblin_lair.html">Goblin Lair</a></li>
<li><a href="/help/a/area_hills_north_of_mareldja.html">Hills North of Mareldja</a></li>
<li><a href="/help/a/area_homestead.html">Homestead</a></li>
<li><a href="/help/a/area_jrel.html">J'rel</a></li>
<li><a href="/help/a/area_mareldja.html">Mareldja</a></li>
<li><a href="/help/a/area_new_continent.html">New Continent</a></li>
<li><a href="/help/a/area_oldgate.html">Oldgate</a></li>
<li><a href="/help/a/area_palace_and_rooftops.html">Palace and Rooftops</a></li>
<li><a href="/help/a/area_palekana.html">Palekana</a></li>
<li><a href="/help/a/area_prairie_and_grasslands.html">Rrairie and Grasslands</a></li>
<li><a href="/help/a/area_sewers_beneath_mareldja.html">Sewers Beneath Mareldja</a></li>
<li><a href="/help/a/area_talrynian_forest.html">Talrynian Forest</a></li>
<li><a href="/help/a/area_temple_of_isvaelin.html">Temple of Isvaelin</a></li>
<li><a href="/help/a/area_tomb_of_grimkell.html">Tomb of Grimkell</a></li>
<li><a href="/help/a/area_torm_sarvek.html">Torm Sarvek</a></li>
<li><a href="/help/a/area_village_of_ingeen.html">Village of Ingeen</a></li>
<li><a href="/help/a/area_wolfnacht_carnival.html">Wolfnacht Carnival</a></li>
</ul>
{% endblock %}
