{% extends "layout.html.j2" %}
{% block meta_title %}World{% endblock meta_title %}
{% block meta_description %}The World of Ishar is vast and very detailed with many areas{% endblock %}
{% block meta_url %}{{ url_for('world', area=area, _external=True) }}{% endblock meta_url %}">
{% block header %}World{% endblock %}
{%- block title -%}
    World
    {%- if area is defined and area != None and areas is defined and areas != None -%}
        : {{ area }}
    {%- endif -%}
{%- endblock title -%}
{%- block content %}
    {%- if area is defined and area != None and areas is defined and areas != None %}
                <h2 id="area-name">
                    {{ area }}
                </h2>
                <pre id="area-details">
                    {{ areas }}
                </pre>
        {%- include('back.html.j2') %}
    {%- else %}
                <p>
                    Ishar is a cohesive world with a living history.
                    The vast world areas of Ishar have been written to include a detailed past that intrudes on the present,
                    setting the scene for many of the adventures to be had here.
                </p>
                <p>
                    From the shattered ruins of <a href="{{ url_for('world', area='Torm Sarvek') }}">Torm Sarvek</a>
                    to the splendor of <a href="{{ url_for('world', area='Mareldja') }}">Mareldja</a>, the darkness of Hedros,
                    the dense Talrynian Forest, all of these lands and more are open to you.
                </p>
                <p>
                    Whether treading across the barren wasteland of the Tundra or voyaging for the great Ocean, you will
                    never forget the sense of wonder and discovery to be experienced here.
                </p>
                <ul>
                  {%- for area in areas %}
                    <li>
                        <a href="{{ url_for('world', area=area) }}">
                            {{ area }}
                        </a>
                    </li>
                  {%- endfor %}
                </ul>
                {%- endif %}
{%- endblock %}
